# Importing libraries and Dataset

In [112]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
from datetime import datetime
from collections import Counter

In [113]:
df = pd.read_csv('data/Police_Department_Incident_Reports__Historical_2003_to_May_2018.csv')
print(df.shape)
df.head()

(2215024, 13)

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,150060275,NON-CRIMINAL,LOST PROPERTY,Monday,01/19/2015,14:00,MISSION,NONE,18TH ST / VALENCIA ST,-122.421582,37.761701,"(37.7617007179518, -122.42158168137)",15006027571000
1,150098210,ROBBERY,"ROBBERY, BODILY FORCE",Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)",15009821003074
2,150098210,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)",15009821004014
3,150098210,SECONDARY CODES,DOMESTIC VIOLENCE,Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)",15009821015200
4,150098226,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Tuesday,01/27/2015,19:00,NORTHERN,NONE,LOMBARD ST / LAGUNA ST,-122.431119,37.800469,"(37.8004687042875, -122.431118543788)",15009822628160

## 1. Inspect data for any duplicates

To-dos:
* To calculate total number of crimes, make sure not to double count
* Double counting is alright if calculating based on crime types but delete if both incident_num and category are the same

From the metadata, we understand that `PdId` refers to the unique identifier for use in update and insert operations for the dataset, hence we can drop the column.

In [114]:
df=df.drop(['PdId'], axis=1)

In [115]:
df.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location
0,150060275,NON-CRIMINAL,LOST PROPERTY,Monday,01/19/2015,14:00,MISSION,NONE,18TH ST / VALENCIA ST,-122.421582,37.761701,"(37.7617007179518, -122.42158168137)"
1,150098210,ROBBERY,"ROBBERY, BODILY FORCE",Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)"
2,150098210,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)"
3,150098210,SECONDARY CODES,DOMESTIC VIOLENCE,Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)"
4,150098226,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Tuesday,01/27/2015,19:00,NORTHERN,NONE,LOMBARD ST / LAGUNA ST,-122.431119,37.800469,"(37.8004687042875, -122.431118543788)"

In [116]:
# check unique no. of rows (corresponding to no. of incident numbers)
print("No. of rows:",df.shape[0])

No. of rows: 2215024

In [117]:
# check unique no. of incidents
print("No. of unique incidents:", df['IncidntNum'].nunique())

No. of unique incidents: 1746914

In [118]:
df.shape[0]-df['IncidntNum'].nunique()

468110

Hence we can conclude that there were 468110 duplicates in incident_num. Let's take a look at an example of a duplicate incident. The logic is that, if the duplicates arise due to the incident being categorized into various incidents of crime, we can retain the double-counting; however, if the duplicates are merely a result of same incident_num and category, we should delete these rows.

In [119]:
incidentNumList=Counter(df['IncidntNum']) # obtain dictionary of all unique key-value pairs

In [120]:
incidentNumList

Counter({150060275: 1,
         150098210: 3,
         150098226: 1,
         150098232: 1,
         150098248: 2,
         150098254: 1,
         150098260: 1,
         150098345: 4,
         150098367: 1,
         150098373: 2,
         150098389: 1,
         150098395: 1,
         150098408: 1,
         150098414: 4,
         160919032: 1,
         150098420: 3,
         150098436: 1,
         150098442: 1,
         150098458: 3,
         140009459: 2,
         150098464: 1,
         150098470: 1,
         150098486: 1,
         150098492: 2,
         150098505: 1,
         150098511: 1,
         150098527: 3,
         150098533: 1,
         150098549: 1,
         150098555: 1,
         150098561: 1,
         150098577: 1,
         150098583: 1,
         150098599: 1,
         150098602: 3,
         150098618: 1,
         150098624: 1,
         150098630: 1,
         150098652: 2,
         150098668: 1,
         150098674: 3,
         150098680: 1,
         150098696: 1,
         150098709: 1,
         150098715: 1,
         150098721: 1,
         150098743: 1,
         150098759: 1,
         150098765: 2,
         150098771: 1,
         150098787: 2,
         150098812: 1,
         150098828: 1,
         150098834: 1,
         150098840: 1,
         150098856: 1,
         150098862: 2,
         150098884: 1,
         150098890: 1,
         150098903: 1,
         150098919: 3,
         150098925: 1,
         150098931: 1,
         150098947: 4,
         150098953: 1,
         150098969: 1,
         150098975: 1,
         150098981: 1,
         150098997: 2,
         150099008: 1,
         150099014: 2,
         150099020: 1,
         150099036: 2,
         150099042: 1,
         150099058: 2,
         150099064: 3,
         150099070: 1,
         150099086: 1,
         150099092: 1,
         150099105: 2,
         150099111: 3,
         150099127: 1,
         150099133: 3,
         150099155: 1,
         150099161: 2,
         150099177: 2,
         150099183: 2,
         150099202: 2,
         140042001: 2,
         150099218: 2,
         150099224: 1,
         150099230: 1,
         150099246: 1,
         150099252: 2,
         150099268: 2,
         150099274: 1,
         150099280: 1,
         150099296: 1,
         150099309: 1,
         150099321: 1,
         150099337: 1,
         150099343: 1,
         150099359: 1,
         150099365: 1,
         150099371: 1,
         150099387: 1,
         150099393: 1,
         150099406: 1,
         150099412: 2,
         150099434: 1,
         150099440: 1,
         150099456: 1,
         150099462: 1,
         150099478: 1,
         150099484: 1,
         150099490: 3,
         150099503: 1,
         150099519: 1,
         150099525: 1,
         150099531: 1,
         150099547: 1,
         150099569: 1,
         150099575: 3,
         150099581: 2,
         150099597: 1,
         150099600: 1,
         150099616: 1,
         150099622: 1,
         150099644: 1,
         150099650: 1,
         150099666: 1,
         150099672: 1,
         150099688: 1,
         150099694: 1,
         150099707: 2,
         150099713: 1,
         150099729: 1,
         150099735: 1,
         150099741: 1,
         150099757: 1,
         150099763: 2,
         150099804: 2,
         150099810: 1,
         150099832: 2,
         150099848: 1,
         150099860: 3,
         150099876: 1,
         150099882: 1,
         150099898: 1,
         150099901: 1,
         150099917: 1,
         150099939: 1,
         150099945: 1,
         150099967: 1,
         150099973: 1,
         150099989: 1,
         150100019: 1,
         150100031: 4,
         150100047: 1,
         150100053: 1,
         150100069: 1,
         150100075: 1,
         150100081: 2,
         150100097: 1,
         150100100: 2,
         150100122: 1,
         150100138: 1,
         150100144: 1,
         150100150: 1,
         150100166: 1,
         150100194: 1,
         150100213: 3,
         150100229: 1,
         150100235: 1,
         150100241: 1,
         150100263: 1,
         150100279: 1,
         150100291: 2,
         150100304: 1,
         150100332: 1,
         150100354: 1,
         150100360: 2,
         150100376: 1,
         150100382: 1,
         150100398: 1,
         150100401: 2,
         150100445: 2,
         150100451: 1,
         150100467: 1,
         150100473: 1,
         150100489: 1,
         150100495: 1,
         150100508: 1,
         150100514: 1,
         150100520: 1,
         150100536: 2,
         150100542: 3,
         150100558: 3,
         150100564: 1,
         150100570: 1,
         150100586: 1,
         150100592: 1,
         150100605: 2,
         150100611: 1,
         140071185: 1,
         150100633: 1,
         150100649: 1,
         150100661: 3,
         150100677: 2,
         150100683: 1,
         150100699: 1,
         150100702: 1,
         150100718: 1,
         150100724: 2,
         150100730: 1,
         150100746: 1,
         150100774: 1,
         150100780: 1,
         150100796: 1,
         150100809: 1,
         150100815: 1,
         150100821: 1,
         150100837: 1,
         150100843: 2,
         140094892: 2,
         150100865: 1,
         150100871: 1,
         150100893: 1,
         150100912: 3,
         150100928: 1,
         150100934: 1,
         150100940: 1,
         150100956: 1,
         150100962: 2,
         150100978: 1,
         150100984: 1,
         150100990: 1,
         150101001: 1,
         150101023: 1,
         150101039: 1,
         140096371: 2,
         150101045: 2,
         150101051: 1,
         150101095: 2,
         150101108: 2,
         150101114: 1,
         150101120: 2,
         150101142: 1,
         150101158: 1,
         150101164: 2,
         150101170: 1,
         150101211: 1,
         150101227: 1,
         150101233: 1,
         150101249: 1,
         150107231: 1,
         150101255: 3,
         150101261: 2,
         150101277: 2,
         150101283: 3,
         150101299: 1,
         150101302: 4,
         150101324: 1,
         150101330: 3,
         150101346: 1,
         150101352: 1,
         150101368: 4,
         150101374: 1,
         150101380: 2,
         150101396: 3,
         150101409: 2,
         150101415: 1,
         150101421: 2,
         140127540: 1,
         150101437: 1,
         150101443: 1,
         150101459: 1,
         150101465: 1,
         150101471: 1,
         150101487: 2,
         150101506: 1,
         150101512: 1,
         150101528: 1,
         150101534: 1,
         150101540: 1,
         150101562: 1,
         150101584: 2,
         150101590: 1,
         150101603: 1,
         150101619: 1,
         150101625: 2,
         150101631: 1,
         150101647: 1,
         150101653: 1,
         150101669: 3,
         150101681: 1,
         150101697: 1,
         150101700: 1,
         150101716: 1,
         150101738: 1,
         150101744: 1,
         150109629: 1,
         150101750: 1,
         150101766: 1,
         150101772: 2,
         150101807: 1,
         150101813: 1,
         150101829: 1,
         150101835: 1,
         150101841: 3,
         150101857: 2,
         150101863: 1,
         150101879: 1,
         150101904: 1,
         150101910: 2,
         150101926: 1,
         150101932: 2,
         150101948: 1,
         150101954: 1,
         150101976: 1,
         150101998: 1,
         150102009: 1,
         150102015: 1,
         150102021: 1,
         150102037: 1,
         150102043: 1,
         150102059: 2,
         150102065: 1,
         150102071: 1,
         150102087: 2,
         150102106: 1,
         150102112: 1,
         150102128: 1,
         150102134: 1,
         150102140: 3,
         150102156: 1,
         150102162: 1,
         150102178: 1,
         150102184: 1,
         150102190: 1,
         150102203: 1,
         150102219: 1,
         150102225: 1,
         150102247: 1,
         150102253: 1,
         150102269: 1,
         150102281: 1,
         150102297: 1,
         150102300: 1,
         150102322: 1,
         150102338: 2,
         150102344: 1,
         150102350: 3,
         150102366: 4,
         150102372: 1,
         150102394: 1,
         150102407: 1,
         150102413: 1,
         150102429: 3,
         150102435: 1,
         150102463: 3,
         150102479: 1,
         150102485: 2,
         150102504: 1,
         150102510: 1,
         150102526: 1,
         150102532: 1,
         150102548: 1,
         150102554: 1,
         150102560: 3,
         150102576: 1,
         150065087: 1,
         150102582: 2,
         150102598: 3,
         150102601: 2,
         150102617: 1,
         140152274: 1,
         150102623: 1,
         150102639: 1,
         150102645: 1,
         150102651: 1,
         150102667: 3,
         150102673: 2,
         150102689: 1,
         150102695: 1,
         150102708: 1,
         160920976: 2,
         150102714: 1,
         150102720: 1,
         150102736: 1,
         150102742: 1,
         150102758: 3,
         146040665: 1,
         150102764: 1,
         150102770: 1,
         150102786: 2,
         150102792: 1,
         150102805: 1,
         150102811: 1,
         150102827: 1,
         150102833: 3,
         150102849: 2,
         150102855: 3,
         150102861: 1,
         150102877: 1,
         150102883: 1,
         150102899: 1,
         150102902: 1,
         150102918: 1,
         150102924: 1,
         150102930: 1,
         150102946: 1,
         150102952: 1,
         150102968: 3,
         150102974: 2,
         150102980: 1,
         150103007: 1,
         150103013: 1,
         150103029: 1,
         150103041: 1,
         150103057: 2,
         150103063: 1,
         150103079: 1,
         150103085: 1,
         150103104: 3,
         150103110: 1,
         150103132: 1,
         150103148: 2,
         150103154: 2,
         150103160: 1,
         150103182: 1,
         150103201: 1,
         150103239: 2,
         150103245: 1,
         150103273: 1,
         150103289: 1,
         150103295: 1,
         150103308: 1,
         150103314: 1,
         150103320: 1,
         140191006: 1,
         146045734: 1,
         146046704: 1,
         150103336: 1,
         150103342: 1,
         150103364: 1,
         150103370: 2,
         150103386: 1,
         150103392: 1,
         150103405: 2,
         150103411: 3,
         146048368: 1,
         140195020: 2,
         150103427: 2,
         150103433: 1,
         150103449: 4,
         150103461: 1,
         150103477: 2,
         150103483: 1,
         150103502: 2,
         150103518: 1,
         150103524: 1,
         150103530: 2,
         150103546: 1,
         150103568: 1,
         150103580: 1,
         150103596: 1,
         150103609: 1,
         150103615: 1,
         150103621: 1,
         150103637: 1,
         150103659: 1,
         150103665: 1,
         150103671: 1,
         150103687: 1,
         150103693: 1,
         150103706: 2,
         150103712: 2,
         150103728: 1,
         150103734: 1,
         150103740: 3,
         150103756: 1,
         150103762: 1,
         150103778: 2,
         150103784: 1,
         150103790: 1,
         150103803: 1,
         150103819: 1,
         150103825: 1,
         150103831: 2,
         150103847: 1,
         150103853: 1,
         150103869: 1,
         150103881: 1,
         150103922: 1,
         150103938: 1,
         150103944: 1,
         150103950: 1,
         150103966: 1,
         150103972: 3,
         150103988: 2,
         150103994: 1,
         150104005: 1,
         150104011: 1,
         150104027: 1,
         150104033: 1,
         150104055: 2,
         150104077: 3,
         120662447: 3,
         160949114: 1,
         150104083: 1,
         150104099: 2,
         150104102: 2,
         150104124: 1,
         150104130: 1,
         150104174: 4,
         150104180: 1,
         150104196: 1,
         150104209: 2,
         150104221: 2,
         150104237: 1,
         150104243: 1,
         166017365: 1,
         150104265: 3,
         146054729: 1,
         150104271: 1,
         150104293: 2,
         150104306: 1,
         150104312: 2,
         146052319: 1,
         150104328: 2,
         150104334: 2,
         150104340: 1,
         150104356: 1,
         150104362: 1,
         150104378: 1,
         150104390: 2,
         150104403: 1,
         150104419: 1,
         150104447: 1,
         150104469: 2,
         150104481: 1,
         150104500: 1,
         150104544: 1,
         150104566: 1,
         146057585: 1,
         150104588: 1,
         150104594: 2,
         150104607: 1,
         150104635: 1,
         150104641: 1,
         150104657: 2,
         140258377: 2,
         150104663: 1,
         150104679: 1,
         150104685: 1,
         150104691: 1,
         150104710: 1,
         150104726: 3,
         150104748: 1,
         150104754: 2,
         146052773: 2,
         150104760: 1,
         150104776: 2,
         150104782: 2,
         150104798: 5,
         150104801: 1,
         150104817: 1,
         150104823: 1,
         150104839: 1,
         150104845: 1,
         150104851: 3,
         150104867: 2,
         150104873: 1,
         150104889: 2,
         150104895: 1,
         150104908: 2,
         150104914: 1,
         150104920: 1,
         150104936: 1,
         150104942: 1,
         150104958: 1,
         150104964: 3,
         150104970: 1,
         150104992: 1,
         150105003: 1,
         150105019: 1,
         150105053: 1,
         150105069: 1,
         150105075: 1,
         140281500: 1,
         150105081: 1,
         150105097: 1,
         150105116: 1,
         150105122: 1,
         150105138: 1,
         150105166: 1,
         150105172: 1,
         150105188: 1,
         150105194: 1,
         150105229: 1,
         150105235: 1,
         150105241: 3,
         150105257: 2,
         150105263: 1,
         150105285: 2,
         150105291: 1,
         150105304: 1,
         150105310: 1,
         166040297: 1,
         166091080: 1,
         120058272: 8,
         150105326: 1,
         150105332: 2,
         150105348: 1,
         150105354: 1,
         150105360: 1,
         150105376: 1,
         150105382: 1,
         150105398: 1,
         150105401: 1,
         150105417: 1,
         150105423: 1,
         150105439: 1,
         150105445: 1,
         150105451: 1,
         150105473: 1,
         150105489: 1,
         176125475: 1,
         176125500: 1,
         150105508: 1,
         150105514: 1,
         150105520: 1,
         150105536: 1,
         150105542: 1,
         150105558: 1,
         150105570: 1,
         150105586: 2,
         150105592: 1,
         150105605: 1,
         150105611: 5,
         150105627: 3,
         150105633: 2,
         150105649: 1,
         150105655: 1,
         150105661: 2,
         150105677: 1,
         150105683: 2,
         150105699: 1,
         150105702: 1,
         150105718: 1,
         150105724: 1,
         150105730: 1,
         150105746: 1,
         150105752: 1,
         150105768: 4,
         150105774: 1,
         150105796: 1,
         150105809: 2,
         150105815: 2,
         150105821: 1,
         150105837: 1,
         150105893: 1,
         150105906: 2,
         150105928: 1,
         150105934: 1,
         150105940: 1,
         150105962: 1,
         150105978: 1,
         150105990: 1,
         150106001: 8,
         150106017: 5,
         150106023: 1,
         150106039: 1,
         150106045: 3,
         150106067: 1,
         150106073: 1,
         150106089: 1,
         150106095: 1,
         150106108: 4,
         150106114: 1,
         150106120: 1,
         150106136: 1,
         150106142: 1,
         150106158: 2,
         150106164: 2,
         150106170: 1,
         150106186: 2,
         150106192: 1,
         150106205: 1,
         150106211: 1,
         150106227: 1,
         150106233: 3,
         150106249: 2,
         150106255: 1,
         150106261: 1,
         150106277: 1,
         150106283: 1,
         150106299: 1,
         150106302: 1,
         150106318: 1,
         150106324: 1,
         150106330: 1,
         150106346: 1,
         150106352: 1,
         150106368: 1,
         150106374: 1,
         150106380: 1,
         150106396: 1,
         150106409: 1,
         140323130: 1,
         150106415: 1,
         150106421: 1,
         150106437: 1,
         150106459: 1,
         150106471: 2,
         150106487: 1,
         150106493: 1,
         150106506: 1,
         150106512: 1,
         150106528: 3,
         150106534: 2,
         140326178: 1,
         150106540: 1,
         150106556: 1,
         150106562: 2,
         150106578: 1,
         150106584: 1,
         150106590: 1,
         150106603: 2,
         150106619: 2,
         150106625: 1,
         150106631: 2,
         150106653: 1,
         150106669: 1,
         150106675: 1,
         150106681: 1,
         150106697: 2,
         150106700: 1,
         150106722: 1,
         150106738: 1,
         150106744: 1,
         150106766: 1,
         150106772: 4,
         150106788: 2,
         150106794: 1,
         150106813: 1,
         150106829: 1,
         150106835: 2,
         150106841: 1,
         150106857: 1,
         150106879: 1,
         150106885: 1,
         150106891: 1,
         150106904: 1,
         150106926: 2,
         150106932: 2,
         150106948: 1,
         150106954: 1,
         150106960: 1,
         150106982: 1,
         150106998: 2,
         150107009: 1,
         150107015: 2,
         150107021: 1,
         150107037: 1,
         150107059: 1,
         150107065: 3,
         150107071: 1,
         150107087: 1,
         150107106: 1,
         150107112: 1,
         150107128: 2,
         150107134: 1,
         150107140: 1,
         140266530: 1,
         150107156: 1,
         150107162: 1,
         150107178: 2,
         150107184: 1,
         150107247: 2,
         150107253: 1,
         150107269: 1,
         150107275: 1,
         150107281: 2,
         150107316: 2,
         150107322: 1,
         150107338: 1,
         150107344: 1,
         150107350: 1,
         150107388: 1,
         150107407: 1,
         150107429: 2,
         150107435: 1,
         150107441: 3,
         150107457: 1,
         150107463: 2,
         150107479: 1,
         150107485: 1,
         150107491: 1,
         150107510: 1,
         150107526: 2,
         150107532: 1,
         150107548: 1,
         150107554: 1,
         140356846: 1,
         150107576: 2,
         150107582: 1,
         150107598: 1,
         150107601: 1,
         150107617: 1,
         150107623: 1,
         150107639: 1,
         150107645: 1,
         150107689: 1,
         150107695: 1,
         150107708: 1,
         150107720: 1,
         150107742: 1,
         150107758: 1,
         150107770: 1,
         150107786: 1,
         150107792: 1,
         150107805: 1,
         150107811: 1,
         150107833: 1,
         150107849: 2,
         150107855: 1,
         150107861: 2,
         150107877: 1,
         150107883: 1,
         150107899: 2,
         150107902: 1,
         150107918: 1,
         150107924: 1,
         150107980: 3,
         150107996: 1,
         150108007: 1,
         150108013: 2,
         150108029: 1,
         150108035: 1,
         150108041: 2,
         150108057: 1,
         150108063: 1,
         150108079: 1,
         150108085: 2,
         150108110: 2,
         150108126: 1,
         150108148: 1,
         150108160: 1,
         150108176: 3,
         150108182: 1,
         150108198: 1,
         150108201: 1,
         150108217: 3,
         150108223: 1,
         150108239: 1,
         150108251: 1,
         150108267: 1,
         150108273: 1,
         150108289: 1,
         150108308: 1,
         150108314: 1,
         150108320: 1,
         150108336: 1,
         150108342: 3,
         150108364: 2,
         150108370: 1,
         140386263: 1,

In [121]:
allIncidentNumbers=df['IncidntNum'].unique().tolist()

In [122]:
len(incidentNumList)

1746914

In [123]:
threshold=1
duplicateIncidentList=[]
isolatedIncidentList=[]
for incident, incidentCount in incidentNumList.items():
    if incidentCount>threshold:
        duplicateIncidentList.append(incident)
    elif incidentCount==threshold:
        isolatedIncidentList.append(incident)

# shorter code is this: 
# isolatedIncidents=[incd for incd, incidentCount in incidentNumList.items() if incidentCount == threshold]
# duplicateIncidents=[incd for incd, incidentCount in incidentNumList.items() if incidentCount > threshold]
# sumIsolates=len(isolatedIncidents)
# sumDuplicate=len(duplicateIncidents)

In [124]:
len(duplicateIncidentList)

341334

In [125]:
len(isolatedIncidentList)

1405580

In [126]:
'''check random incident_num with non-1s count to see reason for duplicates
    if incident_num and category are the same, then remove duplicates (later)
'''
df[df['IncidntNum']==150098345]

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location
10,150098345,LARCENY/THEFT,PETTY THEFT SHOPLIFTING,Sunday,02/01/2015,14:00,MISSION,"ARREST, BOOKED",1700 Block of HARRISON ST,-122.413354,37.769075,"(37.7690748003847, -122.413354187018)"
11,150098345,DRUG/NARCOTIC,POSSESSION OF METH-AMPHETAMINE,Sunday,02/01/2015,14:00,MISSION,"ARREST, BOOKED",1700 Block of HARRISON ST,-122.413354,37.769075,"(37.7690748003847, -122.413354187018)"
12,150098345,DRUG/NARCOTIC,POSSESSION OF NARCOTICS PARAPHERNALIA,Sunday,02/01/2015,14:00,MISSION,"ARREST, BOOKED",1700 Block of HARRISON ST,-122.413354,37.769075,"(37.7690748003847, -122.413354187018)"
13,150098345,WARRANTS,WARRANT ARREST,Sunday,02/01/2015,14:00,MISSION,"ARREST, BOOKED",1700 Block of HARRISON ST,-122.413354,37.769075,"(37.7690748003847, -122.413354187018)"

In [127]:
df[df['IncidntNum']==150098210]

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location
1,150098210,ROBBERY,"ROBBERY, BODILY FORCE",Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)"
2,150098210,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)"
3,150098210,SECONDARY CODES,DOMESTIC VIOLENCE,Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)"

In [128]:
# check the original dataframe against 'duplicateIncidentList'
# when 'duplicateIncidentList' matches df['IncidntNum'], then check if the category is the same
# if the categories are the same, retain one row and drop the others
# if the categories are different, retain all rows 

df_duplicates=df[df['IncidntNum'].isin(allIncidentNumbers)].sort_values(by=['IncidntNum'])
df_duplicates_cleaned = df_duplicates.drop_duplicates(subset=['Category','IncidntNum'], keep="first")
df_duplicates_cleaned # this is the final dataframe without duplicates

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location
493897,3979,WARRANTS,WARRANT ARREST,Thursday,12/09/2004,16:22,BAYVIEW,"ARREST, BOOKED",INGALLS ST / HUDSON AV,-122.379598,37.732467,"(37.7324666541275, -122.379598260097)"
1209080,10128,WARRANTS,WARRANT ARREST,Sunday,12/18/2005,22:20,INGLESIDE,"ARREST, BOOKED",ELLSWORTH ST / ALEMANY BL,-122.418969,37.732208,"(37.7322083102079, -122.4189687006)"
1490233,10736,WARRANTS,WARRANT ARREST,Thursday,07/15/2004,10:18,SOUTHERN,"ARREST, BOOKED",900 Block of BRYANT ST,-122.405927,37.773427,"(37.7734271309539, -122.405926775837)"
1393001,38261,WARRANTS,WARRANT ARREST,Thursday,04/17/2003,22:45,NORTHERN,"ARREST, BOOKED",POLK ST / SUTTER ST,-122.420120,37.787757,"(37.7877570602182, -122.420120319211)"
377806,52205,WARRANTS,WARRANT ARREST,Thursday,02/06/2003,07:20,SOUTHERN,"ARREST, BOOKED",900 Block of BRYANT ST,-122.405927,37.773427,"(37.7734271309539, -122.405926775837)"
1333777,61397,WARRANTS,WARRANT ARREST,Sunday,06/29/2003,10:00,TENDERLOIN,"ARREST, BOOKED",100 Block of TURK ST,-122.411593,37.783053,"(37.7830529510782, -122.411593095704)"
596484,62389,VEHICLE THEFT,STOLEN MOTORCYCLE,Tuesday,03/30/2004,11:35,MISSION,NONE,2600 Block of BRYANT ST,-122.409121,37.751979,"(37.7519787472165, -122.409121399225)"
391902,62953,WARRANTS,WARRANT ARREST,Sunday,08/22/2004,18:36,SOUTHERN,"ARREST, BOOKED",COLINPKELLYJR ST / TOWNSEND ST,-122.389758,37.781221,"(37.781221050395, -122.389757937508)"
1485730,70796,WARRANTS,ENROUTE TO OUTSIDE JURISDICTION,Thursday,07/13/2006,08:45,SOUTHERN,"ARREST, BOOKED",900 Block of MISSION ST,-122.407933,37.781506,"(37.7815063666429, -122.407932868203)"
864778,73057,WARRANTS,WARRANT ARREST,Thursday,08/26/2004,12:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
429957,77231,WARRANTS,WARRANT ARREST,Thursday,06/02/2005,10:30,MISSION,"ARREST, BOOKED",2000 Block of MISSION ST,-122.419658,37.764221,"(37.7642205603745, -122.41965834371)"
1560901,81737,WARRANTS,WARRANT ARREST,Thursday,12/02/2004,08:29,SOUTHERN,"ARREST, BOOKED",0 Block of 6TH ST,-122.409420,37.781615,"(37.7816150265786, -122.40942036456)"
1089774,100622,WARRANTS,WARRANT ARREST,Wednesday,02/05/2003,19:06,TENDERLOIN,"ARREST, BOOKED",100 Block of TURK ST,-122.411615,37.783161,"(37.7831614109395, -122.411615075408)"
581124,119877,WARRANTS,WARRANT ARREST,Monday,05/02/2005,19:33,TENDERLOIN,"ARREST, BOOKED",400 Block of JONES ST,-122.412899,37.785097,"(37.7850974904289, -122.412899249686)"
1733674,123436,"SEX OFFENSES, FORCIBLE","FORCIBLE RAPE, BODILY FORCE",Friday,07/02/2004,14:08,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
580589,123436,DRUG/NARCOTIC,POSSESSION OF MARIJUANA,Friday,07/02/2004,14:08,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
1783453,131912,WARRANTS,WARRANT ARREST,Thursday,06/02/2005,16:35,SOUTHERN,"ARREST, BOOKED",1000 Block of MISSION ST,-122.409795,37.780036,"(37.7800356268394, -122.409795194505)"
1498591,152576,WARRANTS,WARRANT ARREST,Tuesday,08/31/2004,08:30,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
297540,198398,WARRANTS,WARRANT ARREST,Wednesday,03/05/2003,10:34,TENDERLOIN,"ARREST, BOOKED",400 Block of ELLIS ST,-122.413609,37.784697,"(37.784696907904, -122.413609328985)"
601782,248250,WARRANTS,ENROUTE TO OUTSIDE JURISDICTION,Monday,01/27/2003,12:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
1476792,259633,WARRANTS,WARRANT ARREST,Monday,09/26/2005,13:11,INGLESIDE,"ARREST, BOOKED",700 Block of PARIS ST,-122.438294,37.717137,"(37.7171370303947, -122.438294025226)"
831206,267153,WARRANTS,WARRANT ARREST,Wednesday,02/16/2005,09:30,BAYVIEW,"ARREST, BOOKED",2100 Block of QUESADA AV,-122.399853,37.738174,"(37.7381735692778, -122.399852840312)"
1275712,315235,WARRANTS,WARRANT ARREST,Thursday,02/08/2007,10:09,MISSION,"ARREST, BOOKED",1800 Block of 15TH ST,-122.424724,37.766323,"(37.766322531621, -122.424723870424)"
1261745,324684,DRUNKENNESS,UNDER INFLUENCE OF ALCOHOL IN A PUBLIC PLACE,Monday,03/31/2003,22:08,NORTHERN,"ARREST, BOOKED",POST ST / FILLMORE ST,-122.433084,37.785150,"(37.7851499161314, -122.433084166809)"
930634,324684,WARRANTS,WARRANT ARREST,Monday,03/31/2003,22:08,NORTHERN,"ARREST, BOOKED",POST ST / FILLMORE ST,-122.433084,37.785150,"(37.7851499161314, -122.433084166809)"
1097757,335471,WARRANTS,WARRANT ARREST,Saturday,02/22/2003,17:35,MISSION,"ARREST, BOOKED",25TH ST / GUERRERO ST,-122.422728,37.750373,"(37.7503729275448, -122.422727873548)"
1462090,354283,WARRANTS,WARRANT ARREST,Saturday,04/17/2004,19:50,INGLESIDE,"ARREST, BOOKED",BROOKDALE AV / SANTOS ST,-122.418767,37.711934,"(37.7119336857097, -122.41876688902)"
1542229,358718,WARRANTS,WARRANT ARREST,Friday,11/26/2004,22:47,TENDERLOIN,"ARREST, BOOKED",100 Block of GOLDEN GATE AV,-122.413048,37.781912,"(37.7819119628298, -122.413047972078)"
712511,359324,WARRANTS,WARRANT ARREST,Wednesday,10/06/2010,20:04,NORTHERN,"ARREST, BOOKED",POST ST / LARKIN ST,-122.418274,37.787037,"(37.7870372043685, -122.41827417166)"
1084735,363228,WARRANTS,ENROUTE TO OUTSIDE JURISDICTION,Wednesday,11/03/2004,10:45,TENDERLOIN,"ARREST, BOOKED",100 Block of LEAVENWORTH ST,-122.414030,37.782329,"(37.7823291237659, -122.414029821727)"
...,...,...,...,...,...,...,...,...,...,...,...,...
1139524,991148424,WARRANTS,WARRANT ARREST,Friday,12/09/2005,13:45,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
448194,991152237,NON-CRIMINAL,TURNED IN GUN,Thursday,07/25/2013,13:41,INGLESIDE,NONE,500 Block of MANGELS AV,-122.450040,37.733118,"(37.7331183940895, -122.450039522459)"
443970,991161125,WARRANTS,ENROUTE TO PROBATION OFFICER,Wednesday,05/07/2003,08:51,TENDERLOIN,"ARREST, BOOKED",100 Block of GOLDEN GATE AV,-122.413070,37.782020,"(37.7820204255866, -122.413069926397)"
1197191,991168905,WARRANTS,WARRANT ARREST,Tuesday,04/06/2004,15:00,TENDERLOIN,"ARREST, BOOKED",300 Block of EDDY ST,-122.412931,37.783834,"(37.7838344374141, -122.412930522059)"
1306902,991185686,WARRANTS,WARRANT ARREST,Friday,11/26/2010,09:30,SOUTHERN,"ARREST, BOOKED",900 Block of HOWARD ST,-122.406508,37.780331,"(37.7803313209065, -122.406508487003)"
564838,991212154,WARRANTS,WARRANT ARREST,Sunday,10/24/2004,17:34,CENTRAL,"ARREST, BOOKED",0 Block of DRUMM ST,-122.396422,37.794145,"(37.7941447423704, -122.396421943768)"
1654666,991231609,WARRANTS,WARRANT ARREST,Thursday,07/08/2004,23:34,NORTHERN,JUVENILE BOOKED,HICKORY ST / VAN NESS AV,-122.419416,37.775905,"(37.7759046143994, -122.419415919467)"
1359979,991258556,WARRANTS,WARRANT ARREST,Wednesday,03/25/2009,00:01,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
1295610,991276821,WARRANTS,WARRANT ARREST,Thursday,09/18/2003,13:45,NORTHERN,"ARREST, BOOKED",MARKET ST / VAN NESS AV,-122.419258,37.775146,"(37.775146291631, -122.419257894821)"
79256,991305157,MISSING PERSON,FOUND PERSON,Wednesday,03/12/2014,09:00,RICHMOND,"ARREST, BOOKED",800 Block of EUCLID AV,-122.458491,37.783795,"(37.7837951529214, -122.458490740585)"
403132,991309046,WARRANTS,WARRANT ARREST,Monday,03/13/2006,13:07,MISSION,"ARREST, BOOKED",CESAR CHAVEZ ST / ALABAMA ST,-122.410549,37.748316,"(37.7483157742862, -122.410549321721)"
441660,991335671,WARRANTS,WARRANT ARREST,Monday,01/30/2006,02:23,NORTHERN,"ARREST, BOOKED",FILLMORE ST / SUTTER ST,-122.433275,37.786086,"(37.7860862387282, -122.433274677957)"
777055,991337467,WARRANTS,WARRANT ARREST,Tuesday,04/01/2003,18:00,CENTRAL,"ARREST, BOOKED",400 Block of BROADWAY ST,-122.404282,37.798225,"(37.7982249345487, -122.404282497745)"
520934,991339827,WARRANTS,ENROUTE TO OUTSIDE JURISDICTION,Tuesday,09/30/2003,17:49,NORTHERN,"ARREST, BOOKED",POLK ST / SUTTER ST,-122.420120,37.787757,"(37.7877570602182, -122.420120319211)"
79257,991349672,MISSING PERSON,FOUND PERSON,Thursday,03/13/2014,09:00,SOUTHERN,"ARREST, BOOKED",1300 Block of MARKET ST,-122.416991,37.777074,"(37.777074192256, -122.416991089644)"
809727,991400832,WARRANTS,WARRANT ARREST,Sunday,03/07/2004,17:40,INGLESIDE,"ARREST, BOOKED",100 Block of SANTA YNEZ AV,-122.441019,37.724992,"(37.7249920946075, -122.441018990841)"
1695965,991401476,WARRANTS,WARRANT ARREST,Thursday,05/05/2005,11:14,MISSION,"ARREST, BOOKED",BRYANT ST / 15TH ST,-122.410612,37.766903,"(37.7669031554644, -122.410612162965)"
1561053,991404577,WARRANTS,WARRANT ARREST,Thursday,08/25/2005,16:14,BAYVIEW,"ARREST, BOOKED",BAY SHORE BL / MARIN ST,-122.403539,37.748119,"(37.7481188207074, -122.403538936242)"
1699957,991417495,WARRANTS,WARRANT ARREST,Sunday,02/29/2004,15:43,SOUTHERN,"ARREST, BOOKED",100 Block of SOUTH VAN NESS AV,-122.417911,37.771315,"(37.7713149115691, -122.417911007703)"
1147954,991431586,WARRANTS,WARRANT ARREST,Sunday,05/15/2005,16:20,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
607039,991438504,WARRANTS,WARRANT ARREST,Wednesday,05/07/2003,07:50,BAYVIEW,"ARREST, BOOKED",0 Block of MIDDLE POINT RD,-122.379454,37.737223,"(37.7372234700271, -122.37945356734)"
1104042,991458988,WARRANTS,WARRANT ARREST,Wednesday,09/24/2003,18:14,NORTHERN,"ARREST, BOOKED",500 Block of HAYES ST,-122.425416,37.776628,"(37.7766280227851, -122.425416290071)"
1767722,991473748,WARRANTS,WARRANT ARREST,Tuesday,07/13/2004,08:25,BAYVIEW,"ARREST, BOOKED",HILTON ST / BAY SHORE BL,-122.407018,37.738767,"(37.7387669862469, -122.407017781222)"
749616,991487965,WARRANTS,WARRANT ARREST,Friday,01/16/2004,08:25,SOUTHERN,"ARREST, BOOKED",0 Block of 6TH ST,-122.409011,37.781134,"(37.7811340568243, -122.409011206639)"
1234007,991510691,WARRANTS,WARRANT ARREST,Sunday,03/16/2003,23:35,NORTHERN,"ARREST, BOOKED",600 Block of VAN NESS AV,-122.420433,37.781770,"(37.7817700809468, -122.420433293094)"
1662616,991510691,OTHER OFFENSES,VIOLATION OF MUNICIPAL POLICE CODE,Sunday,03/16/2003,23:35,NORTHERN,"ARREST, BOOKED",600 Block of VAN NESS AV,-122.420433,37.781770,"(37.7817700809468, -122.420433293094)"
1529086,991523575,WARRANTS,WARRANT ARREST,Monday,03/28/2005,00:32,BAYVIEW,"ARREST, BOOKED",600 Block of LATHROP AV,-122.396282,37.709971,"(37.7099710290016, -122.396281901653)"
543920,991549731,WARRANTS,WARRANT ARREST,Saturday,12/16/2006,16:42,TENDERLOIN,"ARREST, BOOKED",TAYLOR ST / OFARRELL ST,-122.411328,37.785996,"(37.7859963050476, -122.411328369311)"
1188388,991564488,WARRANTS,WARRANT ARREST,Wednesday,03/31/2004,19:56,CENTRAL,"ARREST, BOOKED",MASON ST / BROADWAY ST,-122.411920,37.797271,"(37.7972709943487, -122.411919767453)"
913476,991582377,WARRANTS,WARRANT ARREST,Saturday,08/14/2004,22:33,PARK,"ARREST, BOOKED",1900 Block of PAGE ST,-122.452896,37.770150,"(37.7701501507955, -122.452896022151)"

In [129]:
df=df_duplicates_cleaned # final dataframe
print("No. of rows and columns of final dataframe: ",df.shape)

No. of rows and columns of final dataframe:  (2057667, 12)

In [130]:
df[df['IncidntNum']==150098345]

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location
13,150098345,WARRANTS,WARRANT ARREST,Sunday,02/01/2015,14:00,MISSION,"ARREST, BOOKED",1700 Block of HARRISON ST,-122.413354,37.769075,"(37.7690748003847, -122.413354187018)"
12,150098345,DRUG/NARCOTIC,POSSESSION OF NARCOTICS PARAPHERNALIA,Sunday,02/01/2015,14:00,MISSION,"ARREST, BOOKED",1700 Block of HARRISON ST,-122.413354,37.769075,"(37.7690748003847, -122.413354187018)"
10,150098345,LARCENY/THEFT,PETTY THEFT SHOPLIFTING,Sunday,02/01/2015,14:00,MISSION,"ARREST, BOOKED",1700 Block of HARRISON ST,-122.413354,37.769075,"(37.7690748003847, -122.413354187018)"

## 2. Check the unique category of crimes
To-dos:
* Group similar crimes together

In [131]:
# check set of crimes
print(len(set(df['Category'])))
set(df['Category'])

39

{'ARSON',
 'ASSAULT',
 'BAD CHECKS',
 'BRIBERY',
 'BURGLARY',
 'DISORDERLY CONDUCT',
 'DRIVING UNDER THE INFLUENCE',
 'DRUG/NARCOTIC',
 'DRUNKENNESS',
 'EMBEZZLEMENT',
 'EXTORTION',
 'FAMILY OFFENSES',
 'FORGERY/COUNTERFEITING',
 'FRAUD',
 'GAMBLING',
 'KIDNAPPING',
 'LARCENY/THEFT',
 'LIQUOR LAWS',
 'LOITERING',
 'MISSING PERSON',
 'NON-CRIMINAL',
 'OTHER OFFENSES',
 'PORNOGRAPHY/OBSCENE MAT',
 'PROSTITUTION',
 'RECOVERED VEHICLE',
 'ROBBERY',
 'RUNAWAY',
 'SECONDARY CODES',
 'SEX OFFENSES, FORCIBLE',
 'SEX OFFENSES, NON FORCIBLE',
 'STOLEN PROPERTY',
 'SUICIDE',
 'SUSPICIOUS OCC',
 'TREA',
 'TRESPASS',
 'VANDALISM',
 'VEHICLE THEFT',
 'WARRANTS',
 'WEAPON LAWS'}

## 1. Reduce number of crime categories

Group the criminal activities into the following categories:
1. theft
2. public disturbance
3. drug
4. sex
5. suicide
6. kidnap
7. domestic
8. other
9. non-criminal (can delete)

In [132]:
theft = ['BRIBERY',
        'BURGLARY',
        'EXTORTION',        
        'GAMBLING',
        'LARCENY/THEFT',
        'RECOVERED VEHICLE',
        'ROBBERY',
        'TREA',
        'VEHICLE THEFT',
        'STOLEN PROPERTY',
        'ARSON']

fraud = ['FRAUD',
        'EMBEZZLEMENT',
        'FORGERY/COUNTERFEITING']

public = ['TRESPASS',
        'VANDALISM',
        'WARRANTS',
        'LOITERING',
        'ASSAULT',
        'BAD CHECKS',
        'DISORDERLY CONDUCT',
        'DRIVING UNDER THE INFLUENCE',
        'DRUNKENNESS',
        'SUSPICIOUS OCC',
         'LIQUOR LAWS',
         'WEAPON LAWS']

drug =  ['DRUG/NARCOTIC']

sex = ['PORNOGRAPHY/OBSCENE MAT',
        'PROSTITUTION',
        'SEX OFFENSES, FORCIBLE',
        'SEX OFFENSES, NON FORCIBLE']

suicide = ['SUICIDE']

kidnap = ['KIDNAPPING']

domestic = ['MISSING PERSON',
            'RUNAWAY',
            'FAMILY OFFENSES']

others = ['OTHER OFFENSES',
        'SECONDARY CODES']

non_criminal = ['NON-CRIMINAL']

In [133]:
replace_dict = {
                "theft": theft,
                "fraud": fraud,
                "public": public,
                "drug": drug,
                "sex": sex,
                "suicide": suicide,
                "kidnap":kidnap,
                "domestic": domestic,
                "others": others,
                "non_criminal": non_criminal
               }

In [134]:
new_cat = df['Category']

for key, val in replace_dict.items():
    new_cat = new_cat.replace(val, key)

df["New Category"] = new_cat

/Users/clara/anaconda3/envs/data/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [135]:
set(df["New Category"])

{'domestic',
 'drug',
 'fraud',
 'kidnap',
 'non_criminal',
 'others',
 'public',
 'sex',
 'suicide',
 'theft'}

In [136]:
df.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,New Category
493897,3979,WARRANTS,WARRANT ARREST,Thursday,12/09/2004,16:22,BAYVIEW,"ARREST, BOOKED",INGALLS ST / HUDSON AV,-122.379598,37.732467,"(37.7324666541275, -122.379598260097)",public
1209080,10128,WARRANTS,WARRANT ARREST,Sunday,12/18/2005,22:20,INGLESIDE,"ARREST, BOOKED",ELLSWORTH ST / ALEMANY BL,-122.418969,37.732208,"(37.7322083102079, -122.4189687006)",public
1490233,10736,WARRANTS,WARRANT ARREST,Thursday,07/15/2004,10:18,SOUTHERN,"ARREST, BOOKED",900 Block of BRYANT ST,-122.405927,37.773427,"(37.7734271309539, -122.405926775837)",public
1393001,38261,WARRANTS,WARRANT ARREST,Thursday,04/17/2003,22:45,NORTHERN,"ARREST, BOOKED",POLK ST / SUTTER ST,-122.420120,37.787757,"(37.7877570602182, -122.420120319211)",public
377806,52205,WARRANTS,WARRANT ARREST,Thursday,02/06/2003,07:20,SOUTHERN,"ARREST, BOOKED",900 Block of BRYANT ST,-122.405927,37.773427,"(37.7734271309539, -122.405926775837)",public

In [137]:
# drop redundant columns
df.drop(columns=['Category','Descript','Resolution','Address','X','Y','Location'], inplace=True)
# keep time for now because we will need it to combine it with the sunset/sunrise timings

/Users/clara/anaconda3/envs/data/lib/python3.6/site-packages/pandas/core/frame.py:3930: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [138]:
df.head()

         IncidntNum DayOfWeek        Date   Time PdDistrict New Category
493897         3979  Thursday  12/09/2004  16:22    BAYVIEW       public
1209080       10128    Sunday  12/18/2005  22:20  INGLESIDE       public
1490233       10736  Thursday  07/15/2004  10:18   SOUTHERN       public
1393001       38261  Thursday  04/17/2003  22:45   NORTHERN       public
377806        52205  Thursday  02/06/2003  07:20   SOUTHERN       public

In [139]:
df.shape

(2057667, 6)

In [140]:
# remove non_criminal
df = df[df["New Category"]!='non_criminal']
df.shape

(1823419, 6)

## 2. Select data between 2012-2017

In [141]:
df['year'] = df['Date'].map(lambda x: pd.to_datetime(x).year)

/Users/clara/anaconda3/envs/data/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [142]:
set(df['year'])

{2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018}

In [143]:
df = df[(df['year']>=2012) & (df['year']<=2017)]

In [144]:
set(df['year'])

{2012, 2013, 2014, 2015, 2016, 2017}

In [145]:
# no. of rows of data for 2012-2017
df.shape

(733179, 7)

In [146]:
df.to_csv ('SFCrime_2012-2017.csv', index = None, header=True)

## 3. Count number of unique crimes each day

In [147]:
df.head()

,IncidntNum,DayOfWeek,Date,Time,PdDistrict,New Category,year
75786,1300164,Thursday,02/13/2014,09:00,RICHMOND,domestic,2014
1185245,10073348,Thursday,11/14/2013,10:20,TENDERLOIN,others,2013
769622,10358128,Thursday,11/14/2013,10:20,TENDERLOIN,others,2013
1714235,10733172,Thursday,03/01/2012,13:53,MISSION,public,2012
2126742,11351210,Tuesday,06/14/2016,08:55,BAYVIEW,domestic,2016

In [148]:
crime_df = df.groupby(['Date', 'DayOfWeek'])['IncidntNum'].agg(['count']).reset_index()
np.sum(crime_df['count'].values)    # sanity check

733179

In [149]:
crime_df.rename(columns={"count": "num_unique_crimes"}, inplace=True)
crime_df.head()

         Date  DayOfWeek  num_unique_crimes
0  01/01/2012     Sunday                420
1  01/01/2013    Tuesday                459
2  01/01/2014  Wednesday                385
3  01/01/2015   Thursday                412
4  01/01/2016     Friday                444

## 4. Count number of each crime types

In [150]:
pd.get_dummies(df, columns=['PdDistrict','New Category'])

,IncidntNum,DayOfWeek,Date,Time,year,PdDistrict_BAYVIEW,PdDistrict_CENTRAL,PdDistrict_INGLESIDE,PdDistrict_MISSION,PdDistrict_NORTHERN,...,PdDistrict_TENDERLOIN,New Category_domestic,New Category_drug,New Category_fraud,New Category_kidnap,New Category_others,New Category_public,New Category_sex,New Category_suicide,New Category_theft
75786,1300164,Thursday,02/13/2014,09:00,2014,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1185245,10073348,Thursday,11/14/2013,10:20,2013,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
769622,10358128,Thursday,11/14/2013,10:20,2013,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1714235,10733172,Thursday,03/01/2012,13:53,2012,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
2126742,11351210,Tuesday,06/14/2016,08:55,2016,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
244052,11473002,Tuesday,04/17/2012,10:11,2012,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1354088,12024759,Monday,03/26/2012,05:30,2012,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
333040,12036049,Sunday,05/06/2012,02:00,2012,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
923224,12603347,Wednesday,03/07/2012,17:00,2012,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
248821,13082306,Monday,09/30/2013,13:30,2013,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1507591,13083003,Friday,10/18/2013,08:30,2013,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
450453,13088025,Saturday,10/19/2013,22:00,2013,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
377600,13103178,Friday,12/06/2013,23:30,2013,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
565798,13105685,Friday,12/13/2013,07:30,2013,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1784546,13600061,Friday,12/28/2012,01:00,2012,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
1142631,13614363,Friday,10/11/2013,10:30,2013,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
358438,13670901,Monday,04/15/2013,16:15,2013,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
107052,14056336,Monday,07/07/2014,14:27,2014,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
107053,14056336,Monday,07/07/2014,14:27,2014,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
60083,15009304,Friday,01/30/2015,19:48,2015,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
193238,15046293,Tuesday,05/26/2015,10:45,2015,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
193237,15046293,Tuesday,05/26/2015,10:45,2015,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
193239,15046293,Tuesday,05/26/2015,10:45,2015,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
208231,15059428,Friday,07/10/2015,01:08,2015,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
231128,15079313,Wednesday,09/09/2015,22:55,2015,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1825580,15615848,Monday,05/25/2015,21:00,2015,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1829314,15620568,Tuesday,10/20/2015,20:00,2015,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1834153,15626641,Wednesday,09/16/2015,17:32,2015,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1836237,15629231,Thursday,12/03/2015,09:41,2015,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2111417,16003604,Thursday,01/14/2016,15:55,2016,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963692,970450480,Friday,10/18/2013,15:00,2013,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1018847,970488691,Friday,10/18/2013,15:00,2013,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
389771,970715654,Friday,10/18/2013,15:00,2013,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
124621,970818101,Monday,08/11/2014,00:01,2014,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1073034,970820015,Friday,10/18/2013,15:00,2013,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
630587,970969691,Friday,10/18/2013,15:00,2013,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1443831,971003600,Friday,10/18/2013,15:00,2013,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
821128,971339762,Friday,10/18/2013,15:00,2013,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
758488,971432429,Friday,10/18/2013,15:00,2013,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
719694,971458356,Friday,10/18/2013,15:00,2013,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
749614,971661769,Friday,10/18/2013,15:00,2013,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
124622,971706672,Monday,08/11/2014,00:01,2014,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1984227,981021761,Wednesday,09/30/2015,23:53,2015,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
116408,981356643,Monday,08/18/2014,09:30,2014,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
116409,981456168,Monday,08/18/2014,09:30,2014,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
116410,981461060,Monday,08/18/2014,09:30,2014,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
116411,981469810,Monday,08/18/2014,09:30,2014,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
110553,981545614,Wednesday,06/25/2014,00:01,2014,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
110554,981579174,Wednesday,06/25/2014,00:01,2014,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
110555,981630431,Wednesday,06/25/2014,00:01,2014,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
110556,981643428,Wednesday,06/25/2014,00:01,2014,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
76137,990118919,Tuesday,03/04/2014,09:00,2014,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
77984,990143477,Wednesday,03/05/2014,09:00,2014,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
110557,990273927,Wednesday,06/25/2014,00:01,2014,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
110558,990367398,Wednesday,06/25/2014,00:01,2014,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
7203,990714783,Wednesday,03/12/2014,09:00,2014,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2214346,991008997,Sunday,11/20/2016,06:44,2016,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
2214347,991008997,Sunday,11/20/2016,06:44,2016,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
79256,991305157,Wednesday,03/12/2014,09:00,2014,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
79257,991349672,Thursday,03/13/2014,09:00,2014,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

## 5. Import housing price dataset

In [151]:
housingprice_df = pd.read_csv('data/HousingPriceFinal.csv')

In [152]:
housingprice_df.head()

,Inventory,Median Dom,Median Sale,New Listings,Period End,DoW,Neighborhood,PdDistrict
0,7.0,59.5,1500000,15.0,2/29/12,Wed,Ashbury Heights / Parnassus,PARK
1,8.0,145.0,293000,7.0,2/29/12,Wed,Bret Harte,BAYVIEW
2,4.0,69.0,685000,12.0,2/29/12,Wed,Buena Vista,PARK
3,13.0,72.0,316000,19.0,2/29/12,Wed,Cathedral Hill,NORTHERN
4,7.0,59.5,552000,10.0,2/29/12,Wed,Cayuga,INGLESIDE

In [153]:
# converting to datetime format, and obtaining columns for 'year', 'month' and 'day'
housingprice_df['year'] = housingprice_df['Period End'].map(lambda x: pd.to_datetime(x).year)
housingprice_df['month'] = housingprice_df['Period End'].map(lambda x: pd.to_datetime(x).month)
housingprice_df['date'] = housingprice_df['Period End'].map(lambda x: pd.to_datetime(x).day)

In [154]:
housingprice_df.head()

,Inventory,Median Dom,Median Sale,New Listings,Period End,DoW,Neighborhood,PdDistrict,year,month,date
0,7.0,59.5,1500000,15.0,2/29/12,Wed,Ashbury Heights / Parnassus,PARK,2012,2,29
1,8.0,145.0,293000,7.0,2/29/12,Wed,Bret Harte,BAYVIEW,2012,2,29
2,4.0,69.0,685000,12.0,2/29/12,Wed,Buena Vista,PARK,2012,2,29
3,13.0,72.0,316000,19.0,2/29/12,Wed,Cathedral Hill,NORTHERN,2012,2,29
4,7.0,59.5,552000,10.0,2/29/12,Wed,Cayuga,INGLESIDE,2012,2,29

In [155]:
housingprice_df=housingprice_df.drop(['Period End','DoW','Neighborhood'], axis=1)

In [156]:
housingprice_df.head()

,Inventory,Median Dom,Median Sale,New Listings,PdDistrict,year,month,date
0,7.0,59.5,1500000,15.0,PARK,2012,2,29
1,8.0,145.0,293000,7.0,BAYVIEW,2012,2,29
2,4.0,69.0,685000,12.0,PARK,2012,2,29
3,13.0,72.0,316000,19.0,NORTHERN,2012,2,29
4,7.0,59.5,552000,10.0,INGLESIDE,2012,2,29

In [157]:
df.head()

,IncidntNum,DayOfWeek,Date,Time,PdDistrict,New Category,year
75786,1300164,Thursday,02/13/2014,09:00,RICHMOND,domestic,2014
1185245,10073348,Thursday,11/14/2013,10:20,TENDERLOIN,others,2013
769622,10358128,Thursday,11/14/2013,10:20,TENDERLOIN,others,2013
1714235,10733172,Thursday,03/01/2012,13:53,MISSION,public,2012
2126742,11351210,Tuesday,06/14/2016,08:55,BAYVIEW,domestic,2016

In [158]:
df.shape[0]

733179

In [159]:
df['month'] = df['Date'].map(lambda x: pd.to_datetime(x).month)
df['date'] = df['Date'].map(lambda x: pd.to_datetime(x).day)

##### To do:
1) Combine Housing['Period End'] to datetime format
2) Join on these columns: year, month, date, PdDistrict

In [160]:
df.head()

,IncidntNum,DayOfWeek,Date,Time,PdDistrict,New Category,year,month,date
75786,1300164,Thursday,02/13/2014,09:00,RICHMOND,domestic,2014,2,13
1185245,10073348,Thursday,11/14/2013,10:20,TENDERLOIN,others,2013,11,14
769622,10358128,Thursday,11/14/2013,10:20,TENDERLOIN,others,2013,11,14
1714235,10733172,Thursday,03/01/2012,13:53,MISSION,public,2012,3,1
2126742,11351210,Tuesday,06/14/2016,08:55,BAYVIEW,domestic,2016,6,14

In [161]:
df=df.reset_index(drop=True)
housingprice_df=housingprice_df.reset_index(drop=True)

In [162]:
df.head()

,IncidntNum,DayOfWeek,Date,Time,PdDistrict,New Category,year,month,date
0,1300164,Thursday,02/13/2014,09:00,RICHMOND,domestic,2014,2,13
1,10073348,Thursday,11/14/2013,10:20,TENDERLOIN,others,2013,11,14
2,10358128,Thursday,11/14/2013,10:20,TENDERLOIN,others,2013,11,14
3,10733172,Thursday,03/01/2012,13:53,MISSION,public,2012,3,1
4,11351210,Tuesday,06/14/2016,08:55,BAYVIEW,domestic,2016,6,14

In [164]:
df.shape[0]

733179

In [163]:
housingprice_df.head()

,Inventory,Median Dom,Median Sale,New Listings,PdDistrict,year,month,date
0,7.0,59.5,1500000,15.0,PARK,2012,2,29
1,8.0,145.0,293000,7.0,BAYVIEW,2012,2,29
2,4.0,69.0,685000,12.0,PARK,2012,2,29
3,13.0,72.0,316000,19.0,NORTHERN,2012,2,29
4,7.0,59.5,552000,10.0,INGLESIDE,2012,2,29

In [166]:
combinedDF = pd.merge(df, housingprice_df, on=['year','month','date','PdDistrict'],how='left')
combinedDF.sort_values(by=['IncidntNum'])

,IncidntNum,DayOfWeek,Date,Time,PdDistrict,New Category,year,month,date,Inventory,Median Dom,Median Sale,New Listings
0,1300164,Thursday,02/13/2014,09:00,RICHMOND,domestic,2014,2,13,NaN,NaN,NaN,NaN
1,10073348,Thursday,11/14/2013,10:20,TENDERLOIN,others,2013,11,14,NaN,NaN,NaN,NaN
2,10358128,Thursday,11/14/2013,10:20,TENDERLOIN,others,2013,11,14,NaN,NaN,NaN,NaN
3,10733172,Thursday,03/01/2012,13:53,MISSION,public,2012,3,1,NaN,NaN,NaN,NaN
4,11351210,Tuesday,06/14/2016,08:55,BAYVIEW,domestic,2016,6,14,NaN,NaN,NaN,NaN
5,11473002,Tuesday,04/17/2012,10:11,SOUTHERN,public,2012,4,17,NaN,NaN,NaN,NaN
6,12024759,Monday,03/26/2012,05:30,NORTHERN,domestic,2012,3,26,NaN,NaN,NaN,NaN
7,12036049,Sunday,05/06/2012,02:00,RICHMOND,theft,2012,5,6,NaN,NaN,NaN,NaN
8,12603347,Wednesday,03/07/2012,17:00,RICHMOND,theft,2012,3,7,NaN,NaN,NaN,NaN
14,13082306,Monday,09/30/2013,13:30,RICHMOND,theft,2013,9,30,3.0,32.0,2350000.0,5.0
13,13082306,Monday,09/30/2013,13:30,RICHMOND,theft,2013,9,30,33.0,18.5,950000.0,62.0
12,13082306,Monday,09/30/2013,13:30,RICHMOND,theft,2013,9,30,254.0,15.0,1038000.0,616.0
10,13082306,Monday,09/30/2013,13:30,RICHMOND,theft,2013,9,30,4.0,13.0,851000.0,9.0
9,13082306,Monday,09/30/2013,13:30,RICHMOND,theft,2013,9,30,15.0,16.0,1131000.0,44.0
11,13082306,Monday,09/30/2013,13:30,RICHMOND,theft,2013,9,30,6.0,12.5,1185000.0,12.0
15,13083003,Friday,10/18/2013,08:30,TARAVAL,theft,2013,10,18,NaN,NaN,NaN,NaN
16,13088025,Saturday,10/19/2013,22:00,SOUTHERN,domestic,2013,10,19,NaN,NaN,NaN,NaN
17,13103178,Friday,12/06/2013,23:30,INGLESIDE,theft,2013,12,6,NaN,NaN,NaN,NaN
18,13105685,Friday,12/13/2013,07:30,RICHMOND,fraud,2013,12,13,NaN,NaN,NaN,NaN
19,13600061,Friday,12/28/2012,01:00,TENDERLOIN,theft,2012,12,28,NaN,NaN,NaN,NaN
20,13614363,Friday,10/11/2013,10:30,CENTRAL,theft,2013,10,11,NaN,NaN,NaN,NaN
21,13670901,Monday,04/15/2013,16:15,INGLESIDE,theft,2013,4,15,NaN,NaN,NaN,NaN
22,14056336,Monday,07/07/2014,14:27,MISSION,theft,2014,7,7,NaN,NaN,NaN,NaN
23,14056336,Monday,07/07/2014,14:27,MISSION,public,2014,7,7,NaN,NaN,NaN,NaN
24,15009304,Friday,01/30/2015,19:48,PARK,public,2015,1,30,NaN,NaN,NaN,NaN
27,15046293,Tuesday,05/26/2015,10:45,BAYVIEW,kidnap,2015,5,26,NaN,NaN,NaN,NaN
25,15046293,Tuesday,05/26/2015,10:45,BAYVIEW,sex,2015,5,26,NaN,NaN,NaN,NaN
26,15046293,Tuesday,05/26/2015,10:45,BAYVIEW,theft,2015,5,26,NaN,NaN,NaN,NaN
28,15059428,Friday,07/10/2015,01:08,INGLESIDE,others,2015,7,10,NaN,NaN,NaN,NaN
29,15079313,Wednesday,09/09/2015,22:55,PARK,others,2015,9,9,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
869850,971432429,Friday,10/18/2013,15:00,TENDERLOIN,others,2013,10,18,NaN,NaN,NaN,NaN
869851,971458356,Friday,10/18/2013,15:00,TENDERLOIN,others,2013,10,18,NaN,NaN,NaN,NaN
869852,971661769,Friday,10/18/2013,15:00,TENDERLOIN,others,2013,10,18,NaN,NaN,NaN,NaN
869853,971706672,Monday,08/11/2014,00:01,TENDERLOIN,others,2014,8,11,NaN,NaN,NaN,NaN
869854,981021761,Wednesday,09/30/2015,23:53,NORTHERN,public,2015,9,30,12.0,15.0,685000.0,26.0
869855,981021761,Wednesday,09/30/2015,23:53,NORTHERN,public,2015,9,30,7.0,11.5,1876000.0,9.0
869856,981021761,Wednesday,09/30/2015,23:53,NORTHERN,public,2015,9,30,8.0,29.0,2648000.0,11.0
869857,981021761,Wednesday,09/30/2015,23:53,NORTHERN,public,2015,9,30,6.0,14.0,1300000.0,18.0
869858,981021761,Wednesday,09/30/2015,23:53,NORTHERN,public,2015,9,30,6.0,18.0,2165000.0,19.0
869859,981021761,Wednesday,09/30/2015,23:53,NORTHERN,public,2015,9,30,42.0,14.0,1525000.0,79.0
869860,981021761,Wednesday,09/30/2015,23:53,NORTHERN,public,2015,9,30,5.0,14.5,1325000.0,19.0
869861,981021761,Wednesday,09/30/2015,23:53,NORTHERN,public,2015,9,30,14.0,15.0,1609000.0,26.0
869862,981021761,Wednesday,09/30/2015,23:53,NORTHERN,public,2015,9,30,10.0,15.0,1095000.0,20.0
869863,981356643,Monday,08/18/2014,09:30,TENDERLOIN,others,2014,8,18,NaN,NaN,NaN,NaN
869864,981456168,Monday,08/18/2014,09:30,TENDERLOIN,others,2014,8,18,NaN,NaN,NaN,NaN
869865,981461060,Monday,08/18/2014,09:30,TENDERLOIN,others,2014,8,18,NaN,NaN,NaN,NaN
869866,981469810,Monday,08/18/2014,09:30,TENDERLOIN,others,2014,8,18,NaN,NaN,NaN,NaN
869867,981545614,Wednesday,06/25/2014,00:01,TENDERLOIN,others,2014,6,25,NaN,NaN,NaN,NaN
869868,981579174,Wednesday,06/25/2014,00:01,TENDERLOIN,others,2014,6,25,NaN,NaN,NaN,NaN
869869,981630431,Wednesday,06/25/2014,00:01,TENDERLOIN,others,2014,6,25,NaN,NaN,NaN,NaN
869870,981643428,Wednesday,06/25/2014,00:01,TENDERLOIN,others,2014,6,25,NaN,NaN,NaN,NaN
869871,990118919,Tuesday,03/04/2014,09:00,MISSION,domestic,2014,3,4,NaN,NaN,NaN,NaN
869872,990143477,Wednesday,03/05/2014,09:00,TENDERLOIN,domestic,2014,3,5,NaN,NaN,NaN,NaN
869873,990273927,Wednesday,06/25/2014,00:01,TENDERLOIN,others,2014,6,25,NaN,NaN,NaN,NaN
869874,990367398,Wednesday,06/25/2014,00:01,TENDERLOIN,others,2014,6,25,NaN,NaN,NaN,NaN
869875,990714783,Wednesday,03/12/2014,09:00,BAYVIEW,domestic,2014,3,12,NaN,NaN,NaN,NaN
869876,991008997,Sunday,11/20/2016,06:44,TENDERLOIN,public,2016,11,20,NaN,NaN,NaN,NaN
869877,991008997,Sunday,11/20/2016,06:44,TENDERLOIN,others,2016,11,20,NaN,NaN,NaN,NaN
869878,991305157,Wednesday,03/12/2014,09:00,RICHMOND,domestic,2014,3,12,NaN,NaN,NaN,NaN
869879,991349672,Thursday,03/13/2014,09:00,SOUTHERN,domestic,2014,3,13,NaN,NaN,NaN,NaN

In [176]:
combinedDF=combinedDF.dropna()

In [177]:
combinedDF

,IncidntNum,DayOfWeek,Date,Time,PdDistrict,New Category,year,month,date,Inventory,Median Dom,Median Sale,New Listings
9,13082306,Monday,09/30/2013,13:30,RICHMOND,theft,2013,9,30,15.0,16.0,1131000.0,44.0
10,13082306,Monday,09/30/2013,13:30,RICHMOND,theft,2013,9,30,4.0,13.0,851000.0,9.0
11,13082306,Monday,09/30/2013,13:30,RICHMOND,theft,2013,9,30,6.0,12.5,1185000.0,12.0
12,13082306,Monday,09/30/2013,13:30,RICHMOND,theft,2013,9,30,254.0,15.0,1038000.0,616.0
13,13082306,Monday,09/30/2013,13:30,RICHMOND,theft,2013,9,30,33.0,18.5,950000.0,62.0
14,13082306,Monday,09/30/2013,13:30,RICHMOND,theft,2013,9,30,3.0,32.0,2350000.0,5.0
60,21549483,Monday,04/30/2012,14:35,SOUTHERN,public,2012,4,30,18.0,40.5,590000.0,32.0
61,21549483,Monday,04/30/2012,14:35,SOUTHERN,public,2012,4,30,20.0,12.0,780000.0,53.0
62,21549483,Monday,04/30/2012,14:35,SOUTHERN,public,2012,4,30,48.0,16.0,716000.0,113.0
63,21549483,Monday,04/30/2012,14:35,SOUTHERN,public,2012,4,30,35.0,35.0,519000.0,65.0
93,100391111,Saturday,03/31/2012,09:00,PARK,domestic,2012,3,31,1.0,58.0,1223000.0,6.0
94,100391111,Saturday,03/31/2012,09:00,PARK,domestic,2012,3,31,6.0,49.5,1431000.0,21.0
95,100391111,Saturday,03/31/2012,09:00,PARK,domestic,2012,3,31,5.0,56.0,753000.0,18.0
96,100391111,Saturday,03/31/2012,09:00,PARK,domestic,2012,3,31,5.0,127.0,2605000.0,5.0
97,100391111,Saturday,03/31/2012,09:00,PARK,domestic,2012,3,31,1.0,11.0,925000.0,5.0
98,100391111,Saturday,03/31/2012,09:00,PARK,domestic,2012,3,31,2.0,13.0,810000.0,12.0
99,100391111,Saturday,03/31/2012,09:00,PARK,domestic,2012,3,31,6.0,10.0,845000.0,14.0
100,100391111,Saturday,03/31/2012,09:00,PARK,domestic,2012,3,31,12.0,86.0,948000.0,20.0
101,100391111,Saturday,03/31/2012,09:00,PARK,domestic,2012,3,31,4.0,62.0,830000.0,7.0
102,100391111,Saturday,03/31/2012,09:00,PARK,domestic,2012,3,31,1.0,98.0,669000.0,3.0
103,100391111,Saturday,03/31/2012,09:00,PARK,domestic,2012,3,31,7.0,24.5,743000.0,14.0
108,100551428,Wednesday,02/29/2012,15:40,BAYVIEW,others,2012,2,29,8.0,145.0,293000.0,7.0
109,100551428,Wednesday,02/29/2012,15:40,BAYVIEW,others,2012,2,29,6.0,10.5,773000.0,5.0
110,100551428,Wednesday,02/29/2012,15:40,BAYVIEW,others,2012,2,29,337.0,34.0,532000.0,449.0
111,100551428,Wednesday,02/29/2012,15:40,BAYVIEW,others,2012,2,29,4.0,7.0,576000.0,10.0
112,100551428,Wednesday,02/29/2012,15:40,BAYVIEW,others,2012,2,29,5.0,102.0,210000.0,7.0
113,100551428,Wednesday,02/29/2012,15:40,BAYVIEW,others,2012,2,29,16.0,21.0,484000.0,14.0
114,100551428,Wednesday,02/29/2012,15:40,BAYVIEW,others,2012,2,29,30.0,57.5,665000.0,27.0
115,100551428,Wednesday,02/29/2012,15:40,BAYVIEW,others,2012,2,29,11.0,48.0,380000.0,15.0
258,119009216,Saturday,03/31/2012,02:36,TARAVAL,public,2012,3,31,5.0,14.0,825000.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
869637,186013876,Thursday,08/31/2017,20:00,NORTHERN,theft,2017,8,31,15.0,34.0,1650000.0,28.0
869638,186013876,Thursday,08/31/2017,20:00,NORTHERN,theft,2017,8,31,6.0,35.0,1073000.0,21.0
869672,186019153,Sunday,12/31/2017,15:00,NORTHERN,theft,2017,12,31,16.0,21.5,848000.0,16.0
869674,186019153,Sunday,12/31/2017,15:00,NORTHERN,theft,2017,12,31,4.0,38.0,3713000.0,13.0
869675,186019153,Sunday,12/31/2017,15:00,NORTHERN,theft,2017,12,31,9.0,24.0,1350000.0,16.0
869676,186019153,Sunday,12/31/2017,15:00,NORTHERN,theft,2017,12,31,6.0,18.0,1853000.0,18.0
869677,186019153,Sunday,12/31/2017,15:00,NORTHERN,theft,2017,12,31,10.0,15.5,2038000.0,46.0
869678,186019153,Sunday,12/31/2017,15:00,NORTHERN,theft,2017,12,31,4.0,21.0,1300000.0,7.0
869679,186019153,Sunday,12/31/2017,15:00,NORTHERN,theft,2017,12,31,7.0,40.0,1900000.0,13.0
869680,186019153,Sunday,12/31/2017,15:00,NORTHERN,theft,2017,12,31,1.0,39.0,1325000.0,13.0
869683,186019272,Sunday,12/31/2017,20:00,MISSION,theft,2017,12,31,6.0,15.0,1896000.0,20.0
869684,186019272,Sunday,12/31/2017,20:00,MISSION,theft,2017,12,31,3.0,15.0,1645000.0,19.0
869685,186019272,Sunday,12/31/2017,20:00,MISSION,theft,2017,12,31,14.0,27.0,1295000.0,39.0
869686,186019272,Sunday,12/31/2017,20:00,MISSION,theft,2017,12,31,3.0,17.5,1333000.0,17.0
869687,186019272,Sunday,12/31/2017,20:00,MISSION,theft,2017,12,31,10.0,17.0,1875000.0,48.0
869700,186024293,Sunday,12/31/2017,23:00,CENTRAL,theft,2017,12,31,1.0,15.0,1850000.0,6.0
869701,186024293,Sunday,12/31/2017,23:00,CENTRAL,theft,2017,12,31,64.0,32.0,1230000.0,109.0
869702,186024293,Sunday,12/31/2017,23:00,CENTRAL,theft,2017,12,31,4.0,18.0,1965000.0,15.0
869703,186024293,Sunday,12/31/2017,23:00,CENTRAL,theft,2017,12,31,8.0,31.0,890000.0,9.0
869704,186024293,Sunday,12/31/2017,23:00,CENTRAL,theft,2017,12,31,13.0,34.0,1193000.0,13.0
869705,186024293,Sunday,12/31/2017,23:00,CENTRAL,theft,2017,12,31,6.0,38.0,1663000.0,12.0
869854,981021761,Wednesday,09/30/2015,23:53,NORTHERN,public,2015,9,30,12.0,15.0,685000.0,26.0
869855,981021761,Wednesday,09/30/2015,23:53,NORTHERN,public,2015,9,30,7.0,11.5,1876000.0,9.0
869856,981021761,Wednesday,09/30/2015,23:53,NORTHERN,public,2015,9,30,8.0,29.0,2648000.0,11.0
869857,981021761,Wednesday,09/30/2015,23:53,NORTHERN,public,2015,9,30,6.0,14.0,1300000.0,18.0
869858,981021761,Wednesday,09/30/2015,23:53,NORTHERN,public,2015,9,30,6.0,18.0,2165000.0,19.0
869859,981021761,Wednesday,09/30/2015,23:53,NORTHERN,public,2015,9,30,42.0,14.0,1525000.0,79.0
869860,981021761,Wednesday,09/30/2015,23:53,NORTHERN,public,2015,9,30,5.0,14.5,1325000.0,19.0
869861,981021761,Wednesday,09/30/2015,23:53,NORTHERN,public,2015,9,30,14.0,15.0,1609000.0,26.0
869862,981021761,Wednesday,09/30/2015,23:53,NORTHERN,public,2015,9,30,10.0,15.0,1095000.0,20.0

In [179]:
combinedDF.to_csv('data/CrimeAndHousing.csv', index = None, header=True)

## 6. Import Eviction Dataset

In [223]:
eviction_df = pd.read_csv('data/eviction_minus.csv',header=0)

In [224]:
eviction_df.shape

(40091, 30)

In [225]:
pd.set_option('display.max_columns', 30)
eviction_df.head()

,Eviction.ID,Address,City,State,Eviction.Notice.Source.Zipcode,File.Date,Non.Payment,Breach,Nuisance,Illegal.Use,Failure.to.Sign.Renewal,Access.Denial,Unapproved.Subtenant,Owner.Move.In,Demolition,Capital.Improvement,Substantial.Rehab,Ellis.Act.WithDrawal,Condo.Conversion,Roommate.Same.Unit,Other.Cause,Late.Payments,Lead.Remediation,Development,Good.Samaritan.Ends,Constraints.Date,Supervisor.District,Neighborhoods...Analysis.Boundaries,Location,PdDistrict
0,M190330,1800 Block Of Market Street,San Francisco,CA,94102.0,2/15/19,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,8.0,Hayes Valley,"(37.7712923782185, -122.42433694872517)",SOUTHERN
1,M183362,1100 Block Of Mission Street,San Francisco,CA,94103.0,12/20/18,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,6.0,South of Market,"(37.77779030910167, -122.41283433258292)",SOUTHERN
2,M183157,0 Block Of Brady Street,San Francisco,CA,94103.0,11/21/18,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,6.0,Mission,"(37.772548429191886, -122.42008435391327)",SOUTHERN
3,M182998,0 Block Of Stillman Street,San Francisco,CA,94107.0,10/29/18,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,6.0,Financial District/South Beach,"(37.78258788740649, -122.3952163164336)",SOUTHERN
4,M182997,0 Block Of Stillman Street,San Francisco,CA,94107.0,10/29/18,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,6.0,Financial District/South Beach,"(37.78258788740649, -122.3952163164336)",SOUTHERN

In [226]:
eviction_df=eviction_df.drop(['Address','City','State','Location'], axis=1)

In [227]:
eviction_df.head()

,Eviction.ID,Eviction.Notice.Source.Zipcode,File.Date,Non.Payment,Breach,Nuisance,Illegal.Use,Failure.to.Sign.Renewal,Access.Denial,Unapproved.Subtenant,Owner.Move.In,Demolition,Capital.Improvement,Substantial.Rehab,Ellis.Act.WithDrawal,Condo.Conversion,Roommate.Same.Unit,Other.Cause,Late.Payments,Lead.Remediation,Development,Good.Samaritan.Ends,Constraints.Date,Supervisor.District,Neighborhoods...Analysis.Boundaries,PdDistrict
0,M190330,94102.0,2/15/19,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,8.0,Hayes Valley,SOUTHERN
1,M183362,94103.0,12/20/18,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,6.0,South of Market,SOUTHERN
2,M183157,94103.0,11/21/18,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,6.0,Mission,SOUTHERN
3,M182998,94107.0,10/29/18,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,6.0,Financial District/South Beach,SOUTHERN
4,M182997,94107.0,10/29/18,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,6.0,Financial District/South Beach,SOUTHERN

In [228]:
eviction_df['year']=eviction_df['File.Date'].map(lambda x: pd.to_datetime(x).year)
eviction_df['month'] = eviction_df['File.Date'].map(lambda x: pd.to_datetime(x).month)
eviction_df['date'] = eviction_df['File.Date'].map(lambda x: pd.to_datetime(x).day)

In [222]:
eviction_df.head()

,Eviction.ID,Eviction.Notice.Source.Zipcode,File.Date,Non.Payment,Breach,Nuisance,Illegal.Use,Failure.to.Sign.Renewal,Access.Denial,Unapproved.Subtenant,Owner.Move.In,Demolition,Capital.Improvement,Substantial.Rehab,Ellis.Act.WithDrawal,Condo.Conversion,Roommate.Same.Unit,Other.Cause,Late.Payments,Lead.Remediation,Development,Good.Samaritan.Ends,Constraints.Date,Supervisor.District,Neighborhoods...Analysis.Boundaries,PdDistrict,year,month,date
0,M190330,94102.0,2/15/19,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,8.0,Hayes Valley,NaN,2019,2,15
1,M183362,94103.0,12/20/18,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,6.0,South of Market,NaN,2018,12,20
2,M183157,94103.0,11/21/18,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,6.0,Mission,NaN,2018,11,21
3,M182998,94107.0,10/29/18,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,6.0,Financial District/South Beach,NaN,2018,10,29
4,M182997,94107.0,10/29/18,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,6.0,Financial District/South Beach,NaN,2018,10,29