In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
from datetime import datetime
from collections import Counter

In [2]:
df = pd.read_csv('Police_Department_Incident_Reports__Historical_2003_to_May_2018.csv')
print(df.shape)
df.head()

(1048575, 13)

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,150060275,NON-CRIMINAL,LOST PROPERTY,Monday,1/19/2015,14:00,MISSION,NONE,18TH ST / VALENCIA ST,-122.421582,37.761701,"(37.7617007179518, -122.42158168137)",1.500600e+13
1,150098210,ROBBERY,"ROBBERY, BODILY FORCE",Sunday,2/1/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)",1.500980e+13
2,150098210,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Sunday,2/1/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)",1.500980e+13
3,150098210,SECONDARY CODES,DOMESTIC VIOLENCE,Sunday,2/1/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)",1.500980e+13
4,150098226,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Tuesday,1/27/2015,19:00,NORTHERN,NONE,LOMBARD ST / LAGUNA ST,-122.431119,37.800469,"(37.8004687042875, -122.431118543788)",1.500980e+13

## Sanity check

### 1. Check if there are duplicates in incident_num

To-dos:
* To calculate total number of crimes, make sure not to double count
* Double counting is alright if calculating based on crime types but delete if both incident_num and category are the same

In [3]:
Counter(df['IncidntNum'])

Counter({150060275: 1,
         150098210: 3,
         150098226: 1,
         150098232: 1,
         150098248: 2,
         150098254: 1,
         150098260: 1,
         150098345: 4,
         150098367: 1,
         150098373: 2,
         150098389: 1,
         150098395: 1,
         150098408: 1,
         150098414: 4,
         160919032: 1,
         150098420: 3,
         150098436: 1,
         150098442: 1,
         150098458: 3,
         140009459: 2,
         150098464: 1,
         150098470: 1,
         150098486: 1,
         150098492: 2,
         150098505: 1,
         150098511: 1,
         150098527: 3,
         150098533: 1,
         150098549: 1,
         150098555: 1,
         150098561: 1,
         150098577: 1,
         150098583: 1,
         150098599: 1,
         150098602: 3,
         150098618: 1,
         150098624: 1,
         150098630: 1,
         150098652: 2,
         150098668: 1,
         150098674: 3,
         150098680: 1,
         150098696: 1,
         150098709: 1,
         150098715: 1,
         150098721: 1,
         150098743: 1,
         150098759: 1,
         150098765: 2,
         150098771: 1,
         150098787: 2,
         150098812: 1,
         150098828: 1,
         150098834: 1,
         150098840: 1,
         150098856: 1,
         150098862: 2,
         150098884: 1,
         150098890: 1,
         150098903: 1,
         150098919: 3,
         150098925: 1,
         150098931: 1,
         150098947: 4,
         150098953: 1,
         150098969: 1,
         150098975: 1,
         150098981: 1,
         150098997: 2,
         150099008: 1,
         150099014: 2,
         150099020: 1,
         150099036: 2,
         150099042: 1,
         150099058: 2,
         150099064: 3,
         150099070: 1,
         150099086: 1,
         150099092: 1,
         150099105: 2,
         150099111: 3,
         150099127: 1,
         150099133: 3,
         150099155: 1,
         150099161: 2,
         150099177: 2,
         150099183: 2,
         150099202: 2,
         140042001: 2,
         150099218: 2,
         150099224: 1,
         150099230: 1,
         150099246: 1,
         150099252: 2,
         150099268: 2,
         150099274: 1,
         150099280: 1,
         150099296: 1,
         150099309: 1,
         150099321: 1,
         150099337: 1,
         150099343: 1,
         150099359: 1,
         150099365: 1,
         150099371: 1,
         150099387: 1,
         150099393: 1,
         150099406: 1,
         150099412: 2,
         150099434: 1,
         150099440: 1,
         150099456: 1,
         150099462: 1,
         150099478: 1,
         150099484: 1,
         150099490: 3,
         150099503: 1,
         150099519: 1,
         150099525: 1,
         150099531: 1,
         150099547: 1,
         150099569: 1,
         150099575: 3,
         150099581: 2,
         150099597: 1,
         150099600: 1,
         150099616: 1,
         150099622: 1,
         150099644: 1,
         150099650: 1,
         150099666: 1,
         150099672: 1,
         150099688: 1,
         150099694: 1,
         150099707: 2,
         150099713: 1,
         150099729: 1,
         150099735: 1,
         150099741: 1,
         150099757: 1,
         150099763: 2,
         150099804: 2,
         150099810: 1,
         150099832: 2,
         150099848: 1,
         150099860: 3,
         150099876: 1,
         150099882: 1,
         150099898: 1,
         150099901: 1,
         150099917: 1,
         150099939: 1,
         150099945: 1,
         150099967: 1,
         150099973: 1,
         150099989: 1,
         150100019: 1,
         150100031: 4,
         150100047: 1,
         150100053: 1,
         150100069: 1,
         150100075: 1,
         150100081: 2,
         150100097: 1,
         150100100: 2,
         150100122: 1,
         150100138: 1,
         150100144: 1,
         150100150: 1,
         150100166: 1,
         150100194: 1,
         150100213: 3,
         150100229: 1,
         150100235: 1,
         150100241: 1,
         150100263: 1,
         150100279: 1,
         150100291: 2,
         150100304: 1,
         150100332: 1,
         150100354: 1,
         150100360: 2,
         150100376: 1,
         150100382: 1,
         150100398: 1,
         150100401: 2,
         150100445: 2,
         150100451: 1,
         150100467: 1,
         150100473: 1,
         150100489: 1,
         150100495: 1,
         150100508: 1,
         150100514: 1,
         150100520: 1,
         150100536: 2,
         150100542: 3,
         150100558: 3,
         150100564: 1,
         150100570: 1,
         150100586: 1,
         150100592: 1,
         150100605: 2,
         150100611: 1,
         140071185: 1,
         150100633: 1,
         150100649: 1,
         150100661: 3,
         150100677: 2,
         150100683: 1,
         150100699: 1,
         150100702: 1,
         150100718: 1,
         150100724: 2,
         150100730: 1,
         150100746: 1,
         150100774: 1,
         150100780: 1,
         150100796: 1,
         150100809: 1,
         150100815: 1,
         150100821: 1,
         150100837: 1,
         150100843: 2,
         140094892: 2,
         150100865: 1,
         150100871: 1,
         150100893: 1,
         150100912: 3,
         150100928: 1,
         150100934: 1,
         150100940: 1,
         150100956: 1,
         150100962: 2,
         150100978: 1,
         150100984: 1,
         150100990: 1,
         150101001: 1,
         150101023: 1,
         150101039: 1,
         140096371: 2,
         150101045: 2,
         150101051: 1,
         150101095: 2,
         150101108: 2,
         150101114: 1,
         150101120: 2,
         150101142: 1,
         150101158: 1,
         150101164: 2,
         150101170: 1,
         150101211: 1,
         150101227: 1,
         150101233: 1,
         150101249: 1,
         150107231: 1,
         150101255: 3,
         150101261: 2,
         150101277: 2,
         150101283: 3,
         150101299: 1,
         150101302: 4,
         150101324: 1,
         150101330: 3,
         150101346: 1,
         150101352: 1,
         150101368: 4,
         150101374: 1,
         150101380: 2,
         150101396: 3,
         150101409: 2,
         150101415: 1,
         150101421: 2,
         140127540: 1,
         150101437: 1,
         150101443: 1,
         150101459: 1,
         150101465: 1,
         150101471: 1,
         150101487: 2,
         150101506: 1,
         150101512: 1,
         150101528: 1,
         150101534: 1,
         150101540: 1,
         150101562: 1,
         150101584: 2,
         150101590: 1,
         150101603: 1,
         150101619: 1,
         150101625: 2,
         150101631: 1,
         150101647: 1,
         150101653: 1,
         150101669: 3,
         150101681: 1,
         150101697: 1,
         150101700: 1,
         150101716: 1,
         150101738: 1,
         150101744: 1,
         150109629: 1,
         150101750: 1,
         150101766: 1,
         150101772: 2,
         150101807: 1,
         150101813: 1,
         150101829: 1,
         150101835: 1,
         150101841: 3,
         150101857: 2,
         150101863: 1,
         150101879: 1,
         150101904: 1,
         150101910: 2,
         150101926: 1,
         150101932: 2,
         150101948: 1,
         150101954: 1,
         150101976: 1,
         150101998: 1,
         150102009: 1,
         150102015: 1,
         150102021: 1,
         150102037: 1,
         150102043: 1,
         150102059: 2,
         150102065: 1,
         150102071: 1,
         150102087: 2,
         150102106: 1,
         150102112: 1,
         150102128: 1,
         150102134: 1,
         150102140: 3,
         150102156: 1,
         150102162: 1,
         150102178: 1,
         150102184: 1,
         150102190: 1,
         150102203: 1,
         150102219: 1,
         150102225: 1,
         150102247: 1,
         150102253: 1,
         150102269: 1,
         150102281: 1,
         150102297: 1,
         150102300: 1,
         150102322: 1,
         150102338: 2,
         150102344: 1,
         150102350: 3,
         150102366: 4,
         150102372: 1,
         150102394: 1,
         150102407: 1,
         150102413: 1,
         150102429: 3,
         150102435: 1,
         150102463: 2,
         150102479: 1,
         150102485: 2,
         150102504: 1,
         150102510: 1,
         150102526: 1,
         150102532: 1,
         150102548: 1,
         150102554: 1,
         150102560: 3,
         150102576: 1,
         150065087: 1,
         150102582: 2,
         150102598: 3,
         150102601: 2,
         150102617: 1,
         140152274: 1,
         150102623: 1,
         150102639: 1,
         150102645: 1,
         150102651: 1,
         150102667: 3,
         150102673: 2,
         150102689: 1,
         150102695: 1,
         150102708: 1,
         160920976: 1,
         150102714: 1,
         150102720: 1,
         150102736: 1,
         150102742: 1,
         150102758: 3,
         146040665: 1,
         150102764: 1,
         150102770: 1,
         150102786: 2,
         150102792: 1,
         150102805: 1,
         150102811: 1,
         150102827: 1,
         150102833: 3,
         150102849: 2,
         150102855: 3,
         150102861: 1,
         150102877: 1,
         150102883: 1,
         150102899: 1,
         150102902: 1,
         150102918: 1,
         150102924: 1,
         150102930: 1,
         150102946: 1,
         150102952: 1,
         150102968: 3,
         150102974: 2,
         150102980: 1,
         150103007: 1,
         150103013: 1,
         150103029: 1,
         150103041: 1,
         150103057: 2,
         150103063: 1,
         150103079: 1,
         150103085: 1,
         150103104: 3,
         150103110: 1,
         150103132: 1,
         150103148: 2,
         150103154: 2,
         150103160: 1,
         150103182: 1,
         150103201: 1,
         150103239: 2,
         150103245: 1,
         150103273: 1,
         150103289: 1,
         150103295: 1,
         150103308: 1,
         150103314: 1,
         150103320: 1,
         140191006: 1,
         146045734: 1,
         146046704: 1,
         150103336: 1,
         150103342: 1,
         150103364: 1,
         150103370: 2,
         150103386: 1,
         150103392: 1,
         150103405: 2,
         150103411: 3,
         146048368: 1,
         140195020: 2,
         150103427: 2,
         150103433: 1,
         150103449: 4,
         150103461: 1,
         150103477: 2,
         150103483: 1,
         150103502: 2,
         150103518: 1,
         150103524: 1,
         150103530: 2,
         150103546: 1,
         150103568: 1,
         150103580: 1,
         150103596: 1,
         150103609: 1,
         150103615: 1,
         150103621: 1,
         150103637: 1,
         150103659: 1,
         150103665: 1,
         150103671: 1,
         150103687: 1,
         150103693: 1,
         150103706: 2,
         150103712: 2,
         150103728: 1,
         150103734: 1,
         150103740: 3,
         150103756: 1,
         150103762: 1,
         150103778: 2,
         150103784: 1,
         150103790: 1,
         150103803: 1,
         150103819: 1,
         150103825: 1,
         150103831: 2,
         150103847: 1,
         150103853: 1,
         150103869: 1,
         150103881: 1,
         150103922: 1,
         150103938: 1,
         150103944: 1,
         150103950: 1,
         150103966: 1,
         150103972: 3,
         150103988: 2,
         150103994: 1,
         150104005: 1,
         150104011: 1,
         150104027: 1,
         150104033: 1,
         150104055: 2,
         150104077: 3,
         120662447: 3,
         160949114: 1,
         150104083: 1,
         150104099: 2,
         150104102: 2,
         150104124: 1,
         150104130: 1,
         150104174: 4,
         150104180: 1,
         150104196: 1,
         150104209: 2,
         150104221: 2,
         150104237: 1,
         150104243: 1,
         166017365: 1,
         150104265: 3,
         146054729: 1,
         150104271: 1,
         150104293: 2,
         150104306: 1,
         150104312: 2,
         146052319: 1,
         150104328: 2,
         150104334: 2,
         150104340: 1,
         150104356: 1,
         150104362: 1,
         150104378: 1,
         150104390: 2,
         150104403: 1,
         150104419: 1,
         150104447: 1,
         150104469: 2,
         150104481: 1,
         150104500: 1,
         150104544: 1,
         150104566: 1,
         146057585: 1,
         150104588: 1,
         150104594: 2,
         150104607: 1,
         150104635: 1,
         150104641: 1,
         150104657: 2,
         140258377: 2,
         150104663: 1,
         150104679: 1,
         150104685: 1,
         150104691: 1,
         150104710: 1,
         150104726: 3,
         150104748: 1,
         150104754: 2,
         146052773: 2,
         150104760: 1,
         150104776: 2,
         150104782: 2,
         150104798: 5,
         150104801: 1,
         150104817: 1,
         150104823: 1,
         150104839: 1,
         150104845: 1,
         150104851: 3,
         150104867: 2,
         150104873: 1,
         150104889: 2,
         150104895: 1,
         150104908: 2,
         150104914: 1,
         150104920: 1,
         150104936: 1,
         150104942: 1,
         150104958: 1,
         150104964: 3,
         150104970: 1,
         150104992: 1,
         150105003: 1,
         150105019: 1,
         150105053: 1,
         150105069: 1,
         150105075: 1,
         140281500: 1,
         150105081: 1,
         150105097: 1,
         150105116: 1,
         150105122: 1,
         150105138: 1,
         150105166: 1,
         150105172: 1,
         150105188: 1,
         150105194: 1,
         150105229: 1,
         150105235: 1,
         150105241: 3,
         150105257: 2,
         150105263: 1,
         150105285: 1,
         150105291: 1,
         150105304: 1,
         150105310: 1,
         166040297: 1,
         166091080: 1,
         120058272: 2,
         150105326: 1,
         150105332: 2,
         150105348: 1,
         150105354: 1,
         150105360: 1,
         150105376: 1,
         150105382: 1,
         150105398: 1,
         150105401: 1,
         150105417: 1,
         150105423: 1,
         150105439: 1,
         150105445: 1,
         150105451: 1,
         150105473: 1,
         150105489: 1,
         176125475: 1,
         176125500: 1,
         150105508: 1,
         150105514: 1,
         150105520: 1,
         150105536: 1,
         150105542: 1,
         150105558: 1,
         150105570: 1,
         150105586: 2,
         150105592: 1,
         150105605: 1,
         150105611: 5,
         150105627: 3,
         150105633: 2,
         150105649: 1,
         150105655: 1,
         150105661: 2,
         150105677: 1,
         150105683: 2,
         150105699: 1,
         150105702: 1,
         150105718: 1,
         150105724: 1,
         150105730: 1,
         150105746: 1,
         150105752: 1,
         150105768: 4,
         150105774: 1,
         150105796: 1,
         150105809: 2,
         150105815: 2,
         150105821: 1,
         150105837: 1,
         150105893: 1,
         150105906: 2,
         150105928: 1,
         150105934: 1,
         150105940: 1,
         150105962: 1,
         150105978: 1,
         150105990: 1,
         150106001: 8,
         150106017: 5,
         150106023: 1,
         150106039: 1,
         150106045: 3,
         150106067: 1,
         150106073: 1,
         150106089: 1,
         150106095: 1,
         150106108: 4,
         150106114: 1,
         150106120: 1,
         150106136: 1,
         150106142: 1,
         150106158: 2,
         150106164: 2,
         150106170: 1,
         150106186: 2,
         150106192: 1,
         150106205: 1,
         150106211: 1,
         150106227: 1,
         150106233: 3,
         150106249: 2,
         150106255: 1,
         150106261: 1,
         150106277: 1,
         150106283: 1,
         150106299: 1,
         150106302: 1,
         150106318: 1,
         150106324: 1,
         150106330: 1,
         150106346: 1,
         150106352: 1,
         150106368: 1,
         150106374: 1,
         150106380: 1,
         150106396: 1,
         150106409: 1,
         140323130: 1,
         150106415: 1,
         150106421: 1,
         150106437: 1,
         150106459: 1,
         150106471: 2,
         150106487: 1,
         150106493: 1,
         150106506: 1,
         150106512: 1,
         150106528: 3,
         150106534: 2,
         140326178: 1,
         150106540: 1,
         150106556: 1,
         150106562: 2,
         150106578: 1,
         150106584: 1,
         150106590: 1,
         150106603: 2,
         150106619: 2,
         150106625: 1,
         150106631: 2,
         150106653: 1,
         150106669: 1,
         150106675: 1,
         150106681: 1,
         150106697: 2,
         150106700: 1,
         150106722: 1,
         150106738: 1,
         150106744: 1,
         150106766: 1,
         150106772: 4,
         150106788: 2,
         150106794: 1,
         150106813: 1,
         150106829: 1,
         150106835: 2,
         150106841: 1,
         150106857: 1,
         150106879: 1,
         150106885: 1,
         150106891: 1,
         150106904: 1,
         150106926: 2,
         150106932: 2,
         150106948: 1,
         150106954: 1,
         150106960: 1,
         150106982: 1,
         150106998: 2,
         150107009: 1,
         150107015: 2,
         150107021: 1,
         150107037: 1,
         150107059: 1,
         150107065: 3,
         150107071: 1,
         150107087: 1,
         150107106: 1,
         150107112: 1,
         150107128: 2,
         150107134: 1,
         150107140: 1,
         140266530: 1,
         150107156: 1,
         150107162: 1,
         150107178: 2,
         150107184: 1,
         150107247: 2,
         150107253: 1,
         150107269: 1,
         150107275: 1,
         150107281: 2,
         150107316: 2,
         150107322: 1,
         150107338: 1,
         150107344: 1,
         150107350: 1,
         150107388: 1,
         150107407: 1,
         150107429: 2,
         150107435: 1,
         150107441: 3,
         150107457: 1,
         150107463: 2,
         150107479: 1,
         150107485: 1,
         150107491: 1,
         150107510: 1,
         150107526: 2,
         150107532: 1,
         150107548: 1,
         150107554: 1,
         140356846: 1,
         150107576: 2,
         150107582: 1,
         150107598: 1,
         150107601: 1,
         150107617: 1,
         150107623: 1,
         150107639: 1,
         150107645: 1,
         150107689: 1,
         150107695: 1,
         150107708: 1,
         150107720: 1,
         150107742: 1,
         150107758: 1,
         150107770: 1,
         150107786: 1,
         150107792: 1,
         150107805: 1,
         150107811: 1,
         150107833: 1,
         150107849: 2,
         150107855: 1,
         150107861: 2,
         150107877: 1,
         150107883: 1,
         150107899: 2,
         150107902: 1,
         150107918: 1,
         150107924: 1,
         150107980: 3,
         150107996: 1,
         150108007: 1,
         150108013: 2,
         150108029: 1,
         150108035: 1,
         150108041: 2,
         150108057: 1,
         150108063: 1,
         150108079: 1,
         150108085: 2,
         150108110: 2,
         150108126: 1,
         150108148: 1,
         150108160: 1,
         150108176: 3,
         150108182: 1,
         150108198: 1,
         150108201: 1,
         150108217: 3,
         150108223: 1,
         150108239: 1,
         150108251: 1,
         150108267: 1,
         150108273: 1,
         150108289: 1,
         150108308: 1,
         150108314: 1,
         150108320: 1,
         150108336: 1,
         150108342: 3,
         150108364: 2,
         150108370: 1,
         140386263: 1,

In [4]:
'''check random incident_num with non-1s count to see reason for duplicates
    if incident_num and category are the same, then remove duplicates (later)
'''
df[df['IncidntNum']==150098345]

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
10,150098345,LARCENY/THEFT,PETTY THEFT SHOPLIFTING,Sunday,2/1/2015,14:00,MISSION,"ARREST, BOOKED",1700 Block of HARRISON ST,-122.413354,37.769075,"(37.7690748003847, -122.413354187018)",1.500980e+13
11,150098345,DRUG/NARCOTIC,POSSESSION OF METH-AMPHETAMINE,Sunday,2/1/2015,14:00,MISSION,"ARREST, BOOKED",1700 Block of HARRISON ST,-122.413354,37.769075,"(37.7690748003847, -122.413354187018)",1.500980e+13
12,150098345,DRUG/NARCOTIC,POSSESSION OF NARCOTICS PARAPHERNALIA,Sunday,2/1/2015,14:00,MISSION,"ARREST, BOOKED",1700 Block of HARRISON ST,-122.413354,37.769075,"(37.7690748003847, -122.413354187018)",1.500980e+13
13,150098345,WARRANTS,WARRANT ARREST,Sunday,2/1/2015,14:00,MISSION,"ARREST, BOOKED",1700 Block of HARRISON ST,-122.413354,37.769075,"(37.7690748003847, -122.413354187018)",1.500980e+13

### 2. Check the unique category of crimes
To-dos:
* Group similar crimes together

In [5]:
# check set of crimes
print(len(set(df['Category'])))
set(df['Category'])

39

{'ARSON',
 'ASSAULT',
 'BAD CHECKS',
 'BRIBERY',
 'BURGLARY',
 'DISORDERLY CONDUCT',
 'DRIVING UNDER THE INFLUENCE',
 'DRUG/NARCOTIC',
 'DRUNKENNESS',
 'EMBEZZLEMENT',
 'EXTORTION',
 'FAMILY OFFENSES',
 'FORGERY/COUNTERFEITING',
 'FRAUD',
 'GAMBLING',
 'KIDNAPPING',
 'LARCENY/THEFT',
 'LIQUOR LAWS',
 'LOITERING',
 'MISSING PERSON',
 'NON-CRIMINAL',
 'OTHER OFFENSES',
 'PORNOGRAPHY/OBSCENE MAT',
 'PROSTITUTION',
 'RECOVERED VEHICLE',
 'ROBBERY',
 'RUNAWAY',
 'SECONDARY CODES',
 'SEX OFFENSES, FORCIBLE',
 'SEX OFFENSES, NON FORCIBLE',
 'STOLEN PROPERTY',
 'SUICIDE',
 'SUSPICIOUS OCC',
 'TREA',
 'TRESPASS',
 'VANDALISM',
 'VEHICLE THEFT',
 'WARRANTS',
 'WEAPON LAWS'}

## 1. Reduce number of crime categories

Group the criminal activities into the following categories:
1. theft
2. public disturbance
3. drug
4. sex
5. suicide
6. kidnap
7. domestic
8. other
9. non-criminal (can delete)

In [6]:
theft = ['BRIBERY',
        'BURGLARY',
        'EMBEZZLEMENT',
        'EXTORTION',
        'FORGERY/COUNTERFEITING',
        'FRAUD',
        'GAMBLING',
        'LARCENY/THEFT',
        'RECOVERED VEHICLE',
        'ROBBERY',
        'TREA',
        'VEHICLE THEFT',
        'STOLEN PROPERTY',
        'ARSON']

public = ['TRESPASS',
        'VANDALISM',
        'WARRANTS',
        'LOITERING',
        'ASSAULT',
        'BAD CHECKS',
        'DISORDERLY CONDUCT',
        'DRIVING UNDER THE INFLUENCE',
        'DRUNKENNESS',
        'SUSPICIOUS OCC',
         'LIQUOR LAWS',
         'WEAPON LAWS']

drug =  ['DRUG/NARCOTIC']

sex = ['PORNOGRAPHY/OBSCENE MAT',
        'PROSTITUTION',
        'SEX OFFENSES, FORCIBLE',
        'SEX OFFENSES, NON FORCIBLE']

suicide = ['SUICIDE']

kidnap = ['KIDNAPPING']

domestic = ['MISSING PERSON',
            'RUNAWAY',
            'FAMILY OFFENSES']

others = ['OTHER OFFENSES',
        'SECONDARY CODES']

non_criminal = ['NON-CRIMINAL']

In [7]:
replace_dict = {
                "theft": theft,
                "public": public,
                "drug": drug,
                "sex": sex,
                "suicide": suicide,
                "kidnap":kidnap,
                "domestic": domestic,
                "others": others,
                "non_criminal": non_criminal
               }

In [8]:
new_cat = df['Category']

for key, val in replace_dict.items():
    new_cat = new_cat.replace(val, key)

df["new_cat"] = new_cat

In [9]:
set(df["new_cat"])

{'domestic',
 'drug',
 'kidnap',
 'non_criminal',
 'others',
 'public',
 'sex',
 'suicide',
 'theft'}

In [10]:
df.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId,new_cat
0,150060275,NON-CRIMINAL,LOST PROPERTY,Monday,1/19/2015,14:00,MISSION,NONE,18TH ST / VALENCIA ST,-122.421582,37.761701,"(37.7617007179518, -122.42158168137)",1.500600e+13,non_criminal
1,150098210,ROBBERY,"ROBBERY, BODILY FORCE",Sunday,2/1/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)",1.500980e+13,theft
2,150098210,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Sunday,2/1/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)",1.500980e+13,public
3,150098210,SECONDARY CODES,DOMESTIC VIOLENCE,Sunday,2/1/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)",1.500980e+13,others
4,150098226,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Tuesday,1/27/2015,19:00,NORTHERN,NONE,LOMBARD ST / LAGUNA ST,-122.431119,37.800469,"(37.8004687042875, -122.431118543788)",1.500980e+13,public

In [11]:
# drop redundant columns
df.drop(columns=['Category','Descript','Time','Resolution','Address','X','Y','Location','PdId'], inplace=True)

In [12]:
df.head()

   IncidntNum DayOfWeek       Date  PdDistrict       new_cat
0   150060275    Monday  1/19/2015     MISSION  non_criminal
1   150098210    Sunday   2/1/2015  TENDERLOIN         theft
2   150098210    Sunday   2/1/2015  TENDERLOIN        public
3   150098210    Sunday   2/1/2015  TENDERLOIN        others
4   150098226   Tuesday  1/27/2015    NORTHERN        public

In [14]:
df.shape

(1048575, 5)

In [15]:
# remove non_criminal
df = df[df['new_cat']!='non_criminal']
df.shape

(934679, 5)

## 2. Select data between 2012-2017

In [22]:
df['year'] = df['Date'].map(lambda x: pd.to_datetime(x).year)

In [35]:
set(df['year'])

{2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017}

In [36]:
df = df[(df['year']>=2012) & (df['year']<=2017)]

In [37]:
set(df['year'])

{2012, 2013, 2014, 2015, 2016, 2017}

## 3. Count number of unique crimes each day

In [38]:
dropdup = df.drop_duplicates(subset='IncidntNum', keep="last")
dropdup.head()

   IncidntNum DayOfWeek       Date  PdDistrict new_cat  year
3   150098210    Sunday   2/1/2015  TENDERLOIN  others  2015
4   150098226   Tuesday  1/27/2015    NORTHERN  public  2015
7   150098248  Saturday  1/31/2015     BAYVIEW  public  2015
8   150098254  Saturday  1/31/2015     CENTRAL   theft  2015
9   150098260  Saturday  1/31/2015     CENTRAL   theft  2015

In [40]:
dropdup.shape

(273421, 6)

In [55]:
crime_df = dropdup.groupby(['Date', 'DayOfWeek'])['IncidntNum'].agg(['count']).reset_index()
np.sum(crime_df['count'].values)    # sanity check

273421

In [59]:
crime_df.rename(columns={"count": "num_unique_crimes"}, inplace=True)
crime_df.head()

       Date  DayOfWeek  num_unique_crimes
0  1/1/2012     Sunday                212
1  1/1/2013    Tuesday                233
2  1/1/2014  Wednesday                311
3  1/1/2015   Thursday                133
4  1/1/2016     Friday                  1

## 4. Count number of each crime types

In [60]:
pd.get_dummies(df, columns=['PdDistrict','new_cat'])

,IncidntNum,DayOfWeek,Date,year,PdDistrict_BAYVIEW,PdDistrict_CENTRAL,PdDistrict_INGLESIDE,PdDistrict_MISSION,PdDistrict_NORTHERN,PdDistrict_PARK,...,PdDistrict_TARAVAL,PdDistrict_TENDERLOIN,new_cat_domestic,new_cat_drug,new_cat_kidnap,new_cat_others,new_cat_public,new_cat_sex,new_cat_suicide,new_cat_theft
1,150098210,Sunday,2/1/2015,2015,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,150098210,Sunday,2/1/2015,2015,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
3,150098210,Sunday,2/1/2015,2015,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
4,150098226,Tuesday,1/27/2015,2015,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
6,150098248,Saturday,1/31/2015,2015,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
7,150098248,Saturday,1/31/2015,2015,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
8,150098254,Saturday,1/31/2015,2015,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,150098260,Saturday,1/31/2015,2015,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10,150098345,Sunday,2/1/2015,2015,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
11,150098345,Sunday,2/1/2015,2015,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
12,150098345,Sunday,2/1/2015,2015,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
13,150098345,Sunday,2/1/2015,2015,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
14,150098367,Sunday,2/1/2015,2015,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
15,150098373,Sunday,2/1/2015,2015,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
17,150098389,Sunday,2/1/2015,2015,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
18,150098395,Sunday,2/1/2015,2015,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
19,150098408,Sunday,2/1/2015,2015,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
20,150098414,Sunday,2/1/2015,2015,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
21,150098414,Sunday,2/1/2015,2015,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
22,160919032,Friday,11/11/2016,2016,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
23,150098414,Sunday,2/1/2015,2015,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
24,150098414,Sunday,2/1/2015,2015,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
25,150098420,Sunday,2/1/2015,2015,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
26,150098420,Sunday,2/1/2015,2015,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
27,150098420,Sunday,2/1/2015,2015,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
29,150098442,Sunday,2/1/2015,2015,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
30,150098458,Sunday,2/1/2015,2015,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
31,140009459,Saturday,1/4/2014,2014,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
32,150098458,Sunday,2/1/2015,2015,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
33,150098458,Sunday,2/1/2015,2015,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048433,120976492,Monday,12/3/2012,2012,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1048434,120812943,Wednesday,10/10/2012,2012,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
1048449,130466267,Tuesday,6/4/2013,2013,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1048450,120097292,Friday,2/3/2012,2012,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1048455,120286053,Wednesday,4/11/2012,2012,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1048456,120691452,Wednesday,8/29/2012,2012,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1048458,126161372,Monday,10/15/2012,2012,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1048474,130696135,Tuesday,8/20/2013,2013,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1048475,120592418,Friday,7/27/2012,2012,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
1048477,130192553,Wednesday,3/6/2013,2013,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1048478,120319438,Sunday,4/22/2012,2012,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
1048488,131075100,Sunday,12/22/2013,2013,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1048495,120660833,Sunday,8/19/2012,2012,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1048496,120191383,Monday,3/5/2012,2012,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1048509,130383097,Tuesday,5/7/2013,2013,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1048510,130762899,Wednesday,9/11/2013,2013,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1048512,136071636,Wednesday,4/24/2013,2013,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
1048516,120339743,Sunday,4/29/2012,2012,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1048518,120957505,Monday,11/26/2012,2012,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1048527,120585526,Tuesday,7/24/2012,2012,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
1048536,120815022,Wednesday,10/10/2012,2012,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1048541,130784348,Wednesday,9/18/2013,2013,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1048542,130315391,Tuesday,4/16/2013,2013,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1048543,120450769,Thursday,6/7/2012,2012,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
1048548,120856769,Monday,10/22/2012,2012,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1048553,136142970,Saturday,8/10/2013,2013,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1048555,130091256,Thursday,1/31/2013,2013,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
1048557,130568249,Wednesday,7/10/2013,2013,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
1048561,130291616,Tuesday,4/9/2013,2013,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
1048567,120952191,Saturday,11/24/2012,2012,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1