In [5]:
import requests
import pandas as pd
import bs4
import json
from urllib import request

# 1. Housing Price

In [ ]:
# Crawling Site: https://www.redfin.com/zipcode/94103/housing-market
# Crawling Keyword: \"medianSalePrice\":\"$1.6M\",\"avgDownPayment\":\"27.4%\",\"medianSalePerSqFt

# 2. Sunrise / Sunset Time

In [ ]:
# Crawling Site: https://www.timeanddate.com/sun/usa/san-francisco?month=3&year=2019
# Crawling Keyword: </td></tr><tr data-day=10 title="Click to expand for more details"><th>10</th><td class="c sep">7:28 am <span class="comp sa8" title=East>↑</span> <span class='small soft'>(95°)</span></td><td class="sep c">7:12 pm <span class="comp sa24" title=West>↑

In [ ]:
#https://services.timeanddate.com/api/services/astronomy.html

In [ ]:
#https://api.xmltime.com/astronomy?object=moon&placeid=152&startdt=2015-01-01&enddt=2015-01-28&types=all&version=2&out=text&template=csvsimple4&accesskey={KEY}&expires={TIMESTAMP}&signature={SIGNATURE}

In [9]:
import base64, datetime, hashlib, hmac, urllib

entrypoint = "http://api.xmltime.com/"
accesskey  = "T1ZQyxufyV"
secretkey  = "x4whvXnG7cCOBiNBoi1r"
placeid    = "750" #(224: San Francisco)


def servicecall(service, args):
    global entrypoint, accesskey, secretkey

    timestamp = datetime.datetime.utcnow().isoformat()
    message = (accesskey + service + timestamp).encode('utf-8')
    digester = hmac.new(secretkey.encode('utf-8'), message, hashlib.sha1)

    args['accesskey'] = accesskey
    args['timestamp'] = timestamp
    args['signature'] = base64.b64encode(digester.digest())
    #print(args['signature'])
    
    url = entrypoint + '/' + service + '?' + urllib.parse.urlencode(args)
    return urllib.request.urlopen(url).read()

timedata = servicecall("timeservice", dict(placeid=224, out='js'))
timedata

b'{"version":1,"errors":["Signature invalid."]}'

In [ ]:
import requests
import pandas as pd
import bs4
import json
from urllib import request

In [26]:
Hey~~ thanks for Wei's help, the sunrise sunset crawling was printing no error. However, with the printing I realized that the access key should be gotten for $50 and the free trial does not include SF and only with one month! Too bad that I found another Therefore, I decided to manually copy paste some data

05

In [63]:
list_date    = []
list_sunrise = []
list_sunset  = []

for i in range(2012,2018):
    for j in range(1,13):
        for k in range(1,32):
            year  = str(i)
            month = "{:02d}".format(j)
            day   = "{:02d}".format(k)

            res = requests.get('https://api.sunrise-sunset.org/json?lat=37.7739720&lng=-122.431297&date='+year+'-'+month+'-'+day)
            json_data = json.loads(res.text)
            
            if json_data['status'] == 'OK':
                sunrise = json_data['results']['sunrise']
                sunset  = json_data['results']['sunset']
            
                list_date.append( year + '-' + month + '-' + day )
                list_sunrise.append(sunrise)
                list_sunset.append(sunset)
    print(i)
df = pd.DataFrame()
df['date'] = list_date
df['sunrise'] = list_sunrise
df['sunset'] = list_sunset
df.tail()

2012
2013
2014
2015
2016
2017

            date     sunrise       sunset
2187  2017-12-27  3:24:09 PM  12:58:25 AM
2188  2017-12-28  3:24:25 PM  12:59:07 AM
2189  2017-12-29  3:24:40 PM  12:59:50 AM
2190  2017-12-30  3:24:52 PM   1:00:35 AM
2191  2017-12-31  3:25:02 PM   1:01:22 AM

In [64]:
df.to_csv('original_sunrise_sunset.csv')

In [1]:
import datetime
import pandas as pd
from datetime import timedelta
df = pd.read_csv('original_sunrise_sunset.csv')
df['sunrise_time'] = df['date'] +' '+ df['sunrise']
df['sunrise_time'] = pd.to_datetime(df['sunrise_time'])
df['sunset_time']  = df['date'] +' '+ df['sunset']
df['sunset_time']  = pd.to_datetime(df['sunset_time'])
df.head()

   Unnamed: 0        date     sunrise      sunset
0           0  2012-01-01  3:25:07 PM  1:01:44 AM
1           1  2012-01-02  3:25:15 PM  1:02:33 AM
2           2  2012-01-03  3:25:20 PM  1:03:23 AM
3           3  2012-01-04  3:25:23 PM  1:04:14 AM
4           4  2012-01-05  3:25:25 PM  1:05:06 AM

In [57]:
def Adjust_DST(date, sunrise_time, sunset_time):
    a = datetime.datetime.strptime(date,'%Y-%m-%d')
    return a
    #datetime.datetime.striptime('2012-03-11','%Y-%m-%d'):

df2= df1
df2['col'] = df2.apply(lambda row: Adjust_DST(row['date'], row['sunrise_time'], row['sunset_time']), axis=1)
df2.head()

         date        sunrise_time         sunset_time        col
0  2012-01-01 2012-01-01 15:25:07 2012-01-01 01:01:44 2012-01-01
1  2012-01-02 2012-01-02 15:25:15 2012-01-02 01:02:33 2012-01-02
2  2012-01-03 2012-01-03 15:25:20 2012-01-03 01:03:23 2012-01-03
3  2012-01-04 2012-01-04 15:25:23 2012-01-04 01:04:14 2012-01-04
4  2012-01-05 2012-01-05 15:25:25 2012-01-05 01:05:06 2012-01-05

In [55]:
df1.head()

         date        sunrise_time         sunset_time
0  2012-01-01 2012-01-01 15:25:07 2012-01-01 01:01:44
1  2012-01-02 2012-01-02 15:25:15 2012-01-02 01:02:33
2  2012-01-03 2012-01-03 15:25:20 2012-01-03 01:03:23
3  2012-01-04 2012-01-04 15:25:23 2012-01-04 01:04:14
4  2012-01-05 2012-01-05 15:25:25 2012-01-05 01:05:06

In [32]:
a = df1['date'][0]
b = df1['sunrise_time'][0]
c = df1['sunset_time'][0]

i = Adjust_DST(a,b,c)
i

(Timestamp('2012-01-01 07:25:07'), Timestamp('2012-01-01 17:01:44'))

In [ ]:
'''
2012	Sunday, March 11, 2:00 am	Sunday, November 4, 2:00 am
2013	Sunday, March 10, 2:00 am	Sunday, November 3, 2:00 am
2014	Sunday, March 9, 2:00 am	Sunday, November 2, 2:00 am
2015	Sunday, March 8, 2:00 am	Sunday, November 1, 2:00 am
2016	Sunday, March 13, 2:00 am	Sunday, November 6, 2:00 am
2017	Sunday, March 12, 2:00 am	Sunday, November 5, 2:00 am
'''

In [62]:
df1 = df.drop(['sunrise','sunset','Unnamed: 0'],axis=1)

def Adjust_DST(date, sunrise_time, sunset_time):
    global a, b
    if datetime.datetime.strptime(date,'%Y-%m-%d') < datetime.datetime.strptime('2012-03-11','%Y-%m-%d'):
        a = sunrise_time + timedelta(hours=-8)
        b  = sunset_time  + timedelta(hours=16)
    elif datetime.datetime.strptime(date,'%Y-%m-%d') < datetime.datetime.strptime('2012-11-04','%Y-%m-%d'):
        a = sunrise_time + timedelta(hours=-7)
        b  = sunset_time  + timedelta(hours=17)
    elif datetime.datetime.strptime(date,'%Y-%m-%d') < datetime.datetime.strptime('2013-03-10','%Y-%m-%d'):
        a = sunrise_time + timedelta(hours=-8)
        b  = sunset_time  + timedelta(hours=16)
    elif datetime.datetime.strptime(date,'%Y-%m-%d') < datetime.datetime.strptime('2013-11-03','%Y-%m-%d'):
        a = sunrise_time + timedelta(hours=-7)
        b  = sunset_time  + timedelta(hours=17)
    elif datetime.datetime.strptime(date,'%Y-%m-%d') < datetime.datetime.strptime('2014-03-09','%Y-%m-%d'):
        a = sunrise_time + timedelta(hours=-8)
        b  = sunset_time  + timedelta(hours=16)
    elif datetime.datetime.strptime(date,'%Y-%m-%d') < datetime.datetime.strptime('2014-11-02','%Y-%m-%d'):
        a = sunrise_time + timedelta(hours=-7)
        b  = sunset_time  + timedelta(hours=17)
    elif datetime.datetime.strptime(date,'%Y-%m-%d') < datetime.datetime.strptime('2015-03-08','%Y-%m-%d'):
        a = sunrise_time + timedelta(hours=-8)
        b  = sunset_time  + timedelta(hours=16)
    elif datetime.datetime.strptime(date,'%Y-%m-%d') < datetime.datetime.strptime('2015-11-01','%Y-%m-%d'):
        a = sunrise_time + timedelta(hours=-7)
        b  = sunset_time  + timedelta(hours=17)
    elif datetime.datetime.strptime(date,'%Y-%m-%d') < datetime.datetime.strptime('2016-03-13','%Y-%m-%d'):
        a = sunrise_time + timedelta(hours=-8)
        b  = sunset_time  + timedelta(hours=16)
    elif datetime.datetime.strptime(date,'%Y-%m-%d') < datetime.datetime.strptime('2016-11-06','%Y-%m-%d'):
        a = sunrise_time + timedelta(hours=-7)
        b  = sunset_time  + timedelta(hours=17)
    elif datetime.datetime.strptime(date,'%Y-%m-%d') < datetime.datetime.strptime('2017-03-12','%Y-%m-%d'):
        a = sunrise_time + timedelta(hours=-8)
        b  = sunset_time  + timedelta(hours=16)
    elif datetime.datetime.strptime(date,'%Y-%m-%d') < datetime.datetime.strptime('2017-11-05','%Y-%m-%d'):
        a = sunrise_time + timedelta(hours=-7)
        b  = sunset_time  + timedelta(hours=17)
    return date, a, b

df2 = df1.apply(lambda row: Adjust_DST(row['date'], row['sunrise_time'], row['sunset_time']), axis=1)
df2.head()

        date        sunrise_time         sunset_time
0 2012-01-01 2012-01-01 07:25:07 2012-01-01 17:01:44
1 2012-01-02 2012-01-02 07:25:15 2012-01-02 17:02:33
2 2012-01-03 2012-01-03 07:25:20 2012-01-03 17:03:23
3 2012-01-04 2012-01-04 07:25:23 2012-01-04 17:04:14
4 2012-01-05 2012-01-05 07:25:25 2012-01-05 17:05:06

In [63]:
df2.to_csv('sunrise_sunset.csv')