# DON'T RERUN CELLS FOR MODELS!

### Add cells below to test anything

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")

## 1. Read data
* copy all housing monthly pricing data to each day, and dropping 01/2012 (no data)

In [2]:
df = pd.read_csv("data/crime_sun_house_eviction.csv")

In [3]:
print(df.shape)
df.head()

(21920, 25)

,Date,DayOfWeek,PdDistrict,new_cat_domestic,new_cat_drug,new_cat_kidnap,new_cat_others,new_cat_public,new_cat_sex,new_cat_suicide,...,house_listings_sum,Dom_median,Dom_mean,Dom_min,Dom_max,Sale_median,Sale_mean,Sale_min,Sale_max,EvictionNos
0,01/01/2012,Sunday,BAYVIEW,1,1,0,20,17,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,01/01/2012,Sunday,CENTRAL,3,2,0,11,22,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,01/01/2012,Sunday,INGLESIDE,0,0,0,8,11,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,01/01/2012,Sunday,MISSION,2,0,0,7,16,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,01/01/2012,Sunday,NORTHERN,0,1,0,7,14,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [4]:
df.columns

Index(['Date', 'DayOfWeek', 'PdDistrict', 'new_cat_domestic', 'new_cat_drug',
       'new_cat_kidnap', 'new_cat_others', 'new_cat_public', 'new_cat_sex',
       'new_cat_suicide', 'new_cat_theft', 'sum_crime_district',
       'sunrise_time', 'sunset_time', 'daylight_hours', 'house_listings_sum',
       'Dom_median', 'Dom_mean', 'Dom_min', 'Dom_max', 'Sale_median',
       'Sale_mean', 'Sale_min', 'Sale_max', 'EvictionNos'],
      dtype='object')

In [5]:
df["match_col"] = df["Date"].apply(lambda x: x[:2] + x[-4:])

In [6]:
new_df = df[["Date", "PdDistrict","match_col", 'house_listings_sum',
       'Dom_median', 'Dom_mean', 'Dom_min', 'Dom_max', 'Sale_median',
       'Sale_mean', 'Sale_min', 'Sale_max']]

In [7]:
new_df.dropna(inplace=True)
new_df.reset_index(drop=True, inplace=True)

C:\Users\Wei Tan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
new_df.head()

,Date,PdDistrict,match_col,house_listings_sum,Dom_median,Dom_mean,Dom_min,Dom_max,Sale_median,Sale_mean,Sale_min,Sale_max
0,01/31/2013,BAYVIEW,012013,505.0,21.25,24.600000,13.0,46.0,546000.0,6.141000e+05,368000.0,1275000.0
1,01/31/2013,CENTRAL,012013,131.0,17.75,19.000000,11.0,32.0,894000.0,8.921667e+05,475000.0,1300000.0
2,01/31/2013,INGLESIDE,012013,130.0,16.00,18.050000,12.5,30.5,583000.0,6.355000e+05,533000.0,887000.0
3,01/31/2013,MISSION,012013,137.0,16.00,17.700000,12.0,28.5,1000000.0,1.036800e+06,804000.0,1365000.0
4,01/31/2013,NORTHERN,012013,147.0,19.50,20.277778,12.0,33.0,1183000.0,1.099778e+06,543000.0,1435000.0

In [9]:
df.drop(columns=['house_listings_sum',
       'Dom_median', 'Dom_mean', 'Dom_min', 'Dom_max', 'Sale_median',
       'Sale_mean', 'Sale_min', 'Sale_max'], inplace=True)

In [10]:
df.shape

(21920, 17)

In [11]:
df = pd.merge(df, new_df, on=["match_col", "PdDistrict"], how="left")

In [12]:
df.shape

(21920, 27)

In [13]:
df.head()

,Date_x,DayOfWeek,PdDistrict,new_cat_domestic,new_cat_drug,new_cat_kidnap,new_cat_others,new_cat_public,new_cat_sex,new_cat_suicide,...,Date_y,house_listings_sum,Dom_median,Dom_mean,Dom_min,Dom_max,Sale_median,Sale_mean,Sale_min,Sale_max
0,01/01/2012,Sunday,BAYVIEW,1,1,0,20,17,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/01/2012,Sunday,CENTRAL,3,2,0,11,22,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/01/2012,Sunday,INGLESIDE,0,0,0,8,11,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01/01/2012,Sunday,MISSION,2,0,0,7,16,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/01/2012,Sunday,NORTHERN,0,1,0,7,14,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
del new_df

In [15]:
df["Date_y"].isnull().sum()

310

In [16]:
df.shape, df.dropna().shape    # sanity check

((21920, 27), (21610, 27))

In [17]:
df.dropna(inplace=True)

In [18]:
df.reset_index(drop=True, inplace=True)

In [19]:
df.columns

Index(['Date_x', 'DayOfWeek', 'PdDistrict', 'new_cat_domestic', 'new_cat_drug',
       'new_cat_kidnap', 'new_cat_others', 'new_cat_public', 'new_cat_sex',
       'new_cat_suicide', 'new_cat_theft', 'sum_crime_district',
       'sunrise_time', 'sunset_time', 'daylight_hours', 'EvictionNos',
       'match_col', 'Date_y', 'house_listings_sum', 'Dom_median', 'Dom_mean',
       'Dom_min', 'Dom_max', 'Sale_median', 'Sale_mean', 'Sale_min',
       'Sale_max'],
      dtype='object')

In [20]:
df.drop(columns=["Date_y", "match_col"], inplace=True)

In [26]:
df.columns

Index(['Date', 'DayOfWeek', 'PdDistrict', 'new_cat_domestic', 'new_cat_drug',
       'new_cat_kidnap', 'new_cat_others', 'new_cat_public', 'new_cat_sex',
       'new_cat_suicide', 'new_cat_theft', 'sum_crime_district',
       'sunrise_time', 'sunset_time', 'daylight_hours', 'EvictionNos',
       'house_listings_sum', 'Dom_median', 'Dom_mean', 'Dom_min', 'Dom_max',
       'Sale_median', 'Sale_mean', 'Sale_min', 'Sale_max'],
      dtype='object')

In [23]:
df.rename(columns={"Date_x": "Date"}, inplace=True)

In [24]:
df.head()

,Date,DayOfWeek,PdDistrict,new_cat_domestic,new_cat_drug,new_cat_kidnap,new_cat_others,new_cat_public,new_cat_sex,new_cat_suicide,...,EvictionNos,house_listings_sum,Dom_median,Dom_mean,Dom_min,Dom_max,Sale_median,Sale_mean,Sale_min,Sale_max
0,01/01/2013,Tuesday,BAYVIEW,3,1,1,13,16,2,0,...,0.0,505.0,21.25,24.600000,13.0,46.0,546000.0,6.141000e+05,368000.0,1275000.0
1,01/01/2013,Tuesday,CENTRAL,1,0,0,6,15,0,0,...,0.0,131.0,17.75,19.000000,11.0,32.0,894000.0,8.921667e+05,475000.0,1300000.0
2,01/01/2013,Tuesday,INGLESIDE,3,1,0,12,12,2,0,...,0.0,130.0,16.00,18.050000,12.5,30.5,583000.0,6.355000e+05,533000.0,887000.0
3,01/01/2013,Tuesday,MISSION,2,2,0,12,13,3,0,...,0.0,137.0,16.00,17.700000,12.0,28.5,1000000.0,1.036800e+06,804000.0,1365000.0
4,01/01/2013,Tuesday,NORTHERN,2,1,0,6,15,0,0,...,0.0,147.0,19.50,20.277778,12.0,33.0,1183000.0,1.099778e+06,543000.0,1435000.0

In [43]:
model_df = pd.get_dummies(df, columns=["DayOfWeek", "PdDistrict"])

In [44]:
model_df.shape

(21610, 40)

## 2. Prep for modeling

In [47]:
model_df.columns

Index(['Date', 'new_cat_domestic', 'new_cat_drug', 'new_cat_kidnap',
       'new_cat_others', 'new_cat_public', 'new_cat_sex', 'new_cat_suicide',
       'new_cat_theft', 'sum_crime_district', 'sunrise_time', 'sunset_time',
       'daylight_hours', 'EvictionNos', 'house_listings_sum', 'Dom_median',
       'Dom_mean', 'Dom_min', 'Dom_max', 'Sale_median', 'Sale_mean',
       'Sale_min', 'Sale_max', 'DayOfWeek_Friday', 'DayOfWeek_Monday',
       'DayOfWeek_Saturday', 'DayOfWeek_Sunday', 'DayOfWeek_Thursday',
       'DayOfWeek_Tuesday', 'DayOfWeek_Wednesday', 'PdDistrict_BAYVIEW',
       'PdDistrict_CENTRAL', 'PdDistrict_INGLESIDE', 'PdDistrict_MISSION',
       'PdDistrict_NORTHERN', 'PdDistrict_PARK', 'PdDistrict_RICHMOND',
       'PdDistrict_SOUTHERN', 'PdDistrict_TARAVAL', 'PdDistrict_TENDERLOIN'],
      dtype='object')

In [32]:
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [76]:
X =  model_df[['sunrise_time', 'sunset_time',
       'daylight_hours', 'EvictionNos', 'house_listings_sum', 'Dom_median',
       'Dom_mean', 'Dom_min', 'Dom_max', 'Sale_median', 'Sale_mean',
       'Sale_min', 'Sale_max', 'DayOfWeek_Friday', 'DayOfWeek_Monday',
       'DayOfWeek_Saturday', 'DayOfWeek_Sunday', 'DayOfWeek_Thursday',
       'DayOfWeek_Tuesday', 'DayOfWeek_Wednesday', 'PdDistrict_BAYVIEW',
       'PdDistrict_CENTRAL', 'PdDistrict_INGLESIDE', 'PdDistrict_MISSION',
       'PdDistrict_NORTHERN', 'PdDistrict_PARK', 'PdDistrict_RICHMOND',
       'PdDistrict_SOUTHERN', 'PdDistrict_TARAVAL', 'PdDistrict_TENDERLOIN']]

In [77]:
y = model_df[['new_cat_domestic', 'new_cat_drug', 'new_cat_kidnap', 'new_cat_others', 
     'new_cat_public', 'new_cat_sex', 'new_cat_suicide', 'new_cat_theft', 'sum_crime_district']]

In [147]:
from sklearn.model_selection import GridSearchCV

def algorithm_run(parameters, classifier, X, y):
    grid = GridSearchCV(classifier, parameters, scoring="neg_mean_absolute_error",cv=5)
    grid.fit(X, y)
    bestparams = grid.best_params_
    bestscore = grid.best_score_
    print(bestparams, bestscore)
    return bestparams, bestscore

### Linear Regression

In [138]:
def run_linearregression_cv(X, y):
    
    X_train, X_test, y_train_all, y_test_all = train_test_split(X, y, test_size=0.20, random_state=2019)
    
    y_feats = ['new_cat_domestic', 'new_cat_drug', 'new_cat_kidnap', 'new_cat_others', 
     'new_cat_public', 'new_cat_sex', 'new_cat_suicide', 'new_cat_theft', 'sum_crime_district']
        
    from sklearn.linear_model import LinearRegression
    
    lr_parameters = {"normalize": [True, False]
                 }
    
    test_mae_list = []
    train_mae_list = []
    
    for i in y_feats:
        
        y_train = y_train_all[i]
        y_test = y_test_all[i]
        lr_bestparams, lr_bestscore = algorithm_run(lr_parameters, LinearRegression(), X_train, y_train)
        lr = LinearRegression(**lr_bestparams)
        lr.fit(X_train, y_train)
        lr_score = lr.score(X_train, y_train)

        lr_test_predictions = lr.predict(X_test)
        lr_train_predictions = lr.predict(X_train)
        lr_test_mae = mean_absolute_error(y_test, lr_test_predictions)
        lr_train_mae = mean_absolute_error(y_train, lr_train_predictions)
        test_mae_list.append(lr_test_mae)
        train_mae_list.append(lr_train_mae)
        
        print("For {}, test mae = {}, train mae = {}.".format(str(i), str(lr_test_mae), str(lr_train_mae)))
        
    results_df = pd.DataFrame({"y": y_feats, "test MAE": test_mae_list, "train MAE": train_mae_list})
        
    return results_df

In [139]:
lr_res = run_linearregression_cv(X, y)

{'normalize': False} -0.7724596405528756
For new_cat_domestic, test mae = 0.7840732770549008, train mae = 0.7711832225150516.
{'normalize': True} -0.7907140838310679
For new_cat_drug, test mae = 0.7835709149012563, train mae = 0.7891990602653404.
{'normalize': True} -0.1666662553801759
For new_cat_kidnap, test mae = 0.16974661119881512, train mae = 0.16635909682891034.
{'normalize': False} -2.0243011516224443
For new_cat_others, test mae = 2.0247732881026854, train mae = 2.0200960867773334.
{'normalize': True} -2.842523680457914
For new_cat_public, test mae = 2.796681728786, train mae = 2.8379308106021046.
{'normalize': False} -0.4463283564001707
For new_cat_sex, test mae = 0.43430779097640887, train mae = 0.4456058040641277.
{'normalize': True} -0.03964694871846703
For new_cat_suicide, test mae = 0.043269112923598786, train mae = 0.039565428032754806.
{'normalize': True} -4.172301160448717
For new_cat_theft, test mae = 4.170812462469801, train mae = 4.165616987614764.
{'normalize': False} -6.481494347515562
For sum_crime_district, test mae = 6.470188981658045, train mae = 6.470639417923445.

In [140]:
lr_res

                    y  test MAE  train MAE
0    new_cat_domestic  0.784073   0.771183
1        new_cat_drug  0.783571   0.789199
2      new_cat_kidnap  0.169747   0.166359
3      new_cat_others  2.024773   2.020096
4      new_cat_public  2.796682   2.837931
5         new_cat_sex  0.434308   0.445606
6     new_cat_suicide  0.043269   0.039565
7       new_cat_theft  4.170812   4.165617
8  sum_crime_district  6.470189   6.470639

### Random Forest

In [141]:
def run_randomforest_cv(X, y):
    
    X_train, X_test, y_train_all, y_test_all = train_test_split(X, y, test_size=0.20, random_state=2019)
    
    y_feats = ['new_cat_domestic', 'new_cat_drug', 'new_cat_kidnap', 'new_cat_others', 
     'new_cat_public', 'new_cat_sex', 'new_cat_suicide', 'new_cat_theft', 'sum_crime_district']
        
    from sklearn.ensemble import RandomForestRegressor
    
    rf_parameters = {"n_estimators" : [2, 3, 5, 10], 
                     "criterion" : ["mse"], 
                     "max_depth" : [5, 6, 8], 
                     "min_samples_split" : [2, 3, 4, 5], 
                     "min_samples_leaf" : [2, 3, 4],
                     "random_state" : [2019]
                 }
    
    test_mae_list = []
    train_mae_list = []
    
    for i in y_feats:
        
        y_train = y_train_all[i]
        y_test = y_test_all[i]
        rf_bestparams, rf_bestscore = algorithm_run(rf_parameters, RandomForestRegressor(), X_train, y_train)
        rf = RandomForestRegressor(**rf_bestparams)
        rf.fit(X_train, y_train)
        rf_score = rf.score(X_train, y_train)

        rf_test_predictions = rf.predict(X_test)
        rf_train_predictions = rf.predict(X_train)
        rf_test_mae = mean_absolute_error(y_test, rf_test_predictions)
        rf_train_mae = mean_absolute_error(y_train, rf_train_predictions)
        test_mae_list.append(rf_test_mae)
        train_mae_list.append(rf_train_mae)
        
        print("For {}, test mae = {}, train mae = {}.".format(str(i), str(rf_test_mae), str(rf_train_mae)))
        
    results_df = pd.DataFrame({"y": y_feats, "test MAE": test_mae_list, "train MAE": train_mae_list})
        
    return results_df

In [142]:
rf_res = run_randomforest_cv(X, y)

{'criterion': 'mse', 'max_depth': 6, 'min_samples_leaf': 3, 'min_samples_split': 2, 'n_estimators': 10, 'random_state': 2019} -0.762853901861455
For new_cat_domestic, test mae = 0.7744272252663261, train mae = 0.7549246688544509.
{'criterion': 'mse', 'max_depth': 8, 'min_samples_leaf': 3, 'min_samples_split': 2, 'n_estimators': 10, 'random_state': 2019} -0.7867184212743499
For new_cat_drug, test mae = 0.7767523306815787, train mae = 0.7476792966285677.
{'criterion': 'mse', 'max_depth': 8, 'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 5, 'random_state': 2019} -0.16566530149098388
For new_cat_kidnap, test mae = 0.1686040765075719, train mae = 0.15646606916789899.
{'criterion': 'mse', 'max_depth': 8, 'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 10, 'random_state': 2019} -2.0001519285382354
For new_cat_others, test mae = 1.9983194414129708, train mae = 1.9212883760401975.
{'criterion': 'mse', 'max_depth': 8, 'min_samples_leaf': 3, 'min_samples_split': 2, 'n_estimators': 10, 'random_state': 2019} -2.830680354921146
For new_cat_public, test mae = 2.804534173289838, train mae = 2.7194653420668113.
{'criterion': 'mse', 'max_depth': 5, 'min_samples_leaf': 2, 'min_samples_split': 2, 'n_estimators': 2, 'random_state': 2019} -0.44513459636444
For new_cat_sex, test mae = 0.44846022161665333, train mae = 0.4444689954069415.
{'criterion': 'mse', 'max_depth': 6, 'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 10, 'random_state': 2019} -0.03977766719583752
For new_cat_suicide, test mae = 0.04320667963857602, train mae = 0.038830137427183865.
{'criterion': 'mse', 'max_depth': 8, 'min_samples_leaf': 3, 'min_samples_split': 2, 'n_estimators': 10, 'random_state': 2019} -3.8431541284540813
For new_cat_theft, test mae = 3.8490373712574564, train mae = 3.658783079399763.
{'criterion': 'mse', 'max_depth': 8, 'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 10, 'random_state': 2019} -6.151411004697981
For sum_crime_district, test mae = 6.193261967702663, train mae = 5.88819004805535.

In [143]:
rf_res

                    y  test MAE  train MAE
0    new_cat_domestic  0.774427   0.754925
1        new_cat_drug  0.776752   0.747679
2      new_cat_kidnap  0.168604   0.156466
3      new_cat_others  1.998319   1.921288
4      new_cat_public  2.804534   2.719465
5         new_cat_sex  0.448460   0.444469
6     new_cat_suicide  0.043207   0.038830
7       new_cat_theft  3.849037   3.658783
8  sum_crime_district  6.193262   5.888190

In [144]:
model_df["sum_crime_district"].median()

30.0

### Gradient Boosting

In [148]:
def run_gradientboosting_cv(X, y):
    
    X_train, X_test, y_train_all, y_test_all = train_test_split(X, y, test_size=0.20, random_state=2019)
    
    y_feats = ['new_cat_domestic', 'new_cat_drug', 'new_cat_kidnap', 'new_cat_others', 
     'new_cat_public', 'new_cat_sex', 'new_cat_suicide', 'new_cat_theft', 'sum_crime_district']
        
    from sklearn.ensemble import GradientBoostingRegressor
    
    gbr_parameters = {"learning_rate" : [0.02, 0.05, 0.1],
                      "max_depth" : [4, 6, 8],
                      "max_features" : [1.0, 0.3, 0.1], 
                      "min_samples_split" : [2, 3, 4],
                      "random_state" : [2019]
                 }
    
    test_mae_list = []
    train_mae_list = []
    
    for i in y_feats:
        
        y_train = y_train_all[i]
        y_test = y_test_all[i]
        gbr_bestparams, gbr_bestscore = algorithm_run(gbr_parameters, GradientBoostingRegressor(), X_train, y_train)
        gbr = GradientBoostingRegressor(**gbr_bestparams)
        gbr.fit(X_train, y_train)
        gbr_score = gbr.score(X_train, y_train)

        gbr_test_predictions = gbr.predict(X_test)
        gbr_train_predictions = gbr.predict(X_train)
        gbr_test_mae = mean_absolute_error(y_test, gbr_test_predictions)
        gbr_train_mae = mean_absolute_error(y_train, gbr_train_predictions)
        test_mae_list.append(gbr_test_mae)
        train_mae_list.append(gbr_train_mae)
        
        print("For {}, test mae = {}, train mae = {}.".format(str(i), str(gbr_test_mae), str(gbr_train_mae)))
        
    results_df = pd.DataFrame({"y": y_feats, "test MAE": test_mae_list, "train MAE": train_mae_list})
        
    return results_df

In [149]:
gbr_res = run_gradientboosting_cv(X, y)

{'learning_rate': 0.1, 'max_depth': 4, 'max_features': 0.3, 'min_samples_split': 2, 'random_state': 2019} -0.7649009932571219
For new_cat_domestic, test mae = 0.7693092928885842, train mae = 0.7409256281007862.
{'learning_rate': 0.1, 'max_depth': 6, 'max_features': 0.1, 'min_samples_split': 4, 'random_state': 2019} -0.7741490511079359
For new_cat_drug, test mae = 0.7732898865777595, train mae = 0.7074799815713119.
{'learning_rate': 0.1, 'max_depth': 4, 'max_features': 0.3, 'min_samples_split': 3, 'random_state': 2019} -0.16559858409728487
For new_cat_kidnap, test mae = 0.16854664664944483, train mae = 0.1599163228725851.
{'learning_rate': 0.1, 'max_depth': 6, 'max_features': 0.1, 'min_samples_split': 3, 'random_state': 2019} -1.9778368481195696
For new_cat_others, test mae = 1.9977712625200148, train mae = 1.8312532740387149.
{'learning_rate': 0.1, 'max_depth': 4, 'max_features': 1.0, 'min_samples_split': 2, 'random_state': 2019} -2.796230217179423
For new_cat_public, test mae = 2.743312880609293, train mae = 2.6912099488963306.
{'learning_rate': 0.1, 'max_depth': 4, 'max_features': 0.1, 'min_samples_split': 4, 'random_state': 2019} -0.4465944440380933
For new_cat_sex, test mae = 0.43299657358279803, train mae = 0.43424669194715027.
{'learning_rate': 0.02, 'max_depth': 4, 'max_features': 0.1, 'min_samples_split': 2, 'random_state': 2019} -0.03968857339273821
For new_cat_suicide, test mae = 0.04325705703639145, train mae = 0.039353221021123624.
{'learning_rate': 0.1, 'max_depth': 6, 'max_features': 0.3, 'min_samples_split': 2, 'random_state': 2019} -3.740039902665932
For new_cat_theft, test mae = 3.7532866066669412, train mae = 3.3595356197544275.
{'learning_rate': 0.1, 'max_depth': 6, 'max_features': 0.3, 'min_samples_split': 4, 'random_state': 2019} -5.994285596634612
For sum_crime_district, test mae = 6.017235030391641, train mae = 5.420853762664385.

In [152]:
gbr_res

                    y  test MAE  train MAE
0    new_cat_domestic  0.769309   0.740926
1        new_cat_drug  0.773290   0.707480
2      new_cat_kidnap  0.168547   0.159916
3      new_cat_others  1.997771   1.831253
4      new_cat_public  2.743313   2.691210
5         new_cat_sex  0.432997   0.434247
6     new_cat_suicide  0.043257   0.039353
7       new_cat_theft  3.753287   3.359536
8  sum_crime_district  6.017235   5.420854

### SVR

In [150]:
def run_supportvector_cv(X, y):
    
    X_train, X_test, y_train_all, y_test_all = train_test_split(X, y, test_size=0.20, random_state=2019)
    
    y_feats = ['new_cat_domestic', 'new_cat_drug', 'new_cat_kidnap', 'new_cat_others', 
     'new_cat_public', 'new_cat_sex', 'new_cat_suicide', 'new_cat_theft', 'sum_crime_district']
        
    from sklearn.svm import SVR

    test_mae_list = []
    train_mae_list = []
    
    for i in y_feats:
        
        y_train = y_train_all[i]
        y_test = y_test_all[i]
        svr = SVR(C=1.0, kernel='rbf', gamma=0.0001)
        svr.fit(X_train, y_train)
        svr_score = svr.score(X_train, y_train)

        svr_test_predictions = svr.predict(X_test)
        svr_train_predictions = svr.predict(X_train)
        svr_test_mae = mean_absolute_error(y_test, svr_test_predictions)
        svr_train_mae = mean_absolute_error(y_train, svr_train_predictions)
        test_mae_list.append(svr_test_mae)
        train_mae_list.append(svr_train_mae)
        
        print("For {}, test mae = {}, train mae = {}.".format(str(i), str(svr_test_mae), str(svr_train_mae)))
        
    results_df = pd.DataFrame({"y": y_feats, "test MAE": test_mae_list, "train MAE": train_mae_list})
        
    return results_df

In [151]:
svr_res = run_supportvector_cv(X, y)

For new_cat_domestic, test mae = 0.747227035431362, train mae = 0.6720512178194538.
For new_cat_drug, test mae = 0.7298362690132677, train mae = 0.6765964541291154.
For new_cat_kidnap, test mae = 0.1782346390352931, train mae = 0.17458317623513073.
For new_cat_others, test mae = 2.0227432494820645, train mae = 1.8582912907359008.
For new_cat_public, test mae = 2.8484126782840384, train mae = 2.686212609450237.
For new_cat_sex, test mae = 0.365261428018084, train mae = 0.359928290817453.
For new_cat_suicide, test mae = 0.11833666796117019, train mae = 0.11539185902706244.
For new_cat_theft, test mae = 4.2012106535195715, train mae = 3.959140736461685.
For sum_crime_district, test mae = 7.164395679337713, train mae = 6.977145779643572.

In [153]:
svr_res

                    y  test MAE  train MAE
0    new_cat_domestic  0.747227   0.672051
1        new_cat_drug  0.729836   0.676596
2      new_cat_kidnap  0.178235   0.174583
3      new_cat_others  2.022743   1.858291
4      new_cat_public  2.848413   2.686213
5         new_cat_sex  0.365261   0.359928
6     new_cat_suicide  0.118337   0.115392
7       new_cat_theft  4.201211   3.959141
8  sum_crime_district  7.164396   6.977146

### XGBoost