In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")

In [2]:
# actual file name is finaldatapart2.csv
df_sruthi = pd.read_csv('sruthi_finaldatapart2.csv')

In [3]:
df_sruthi.head()

,Date,DayOfWeek,PdDistrict,Time,new_cat_domestic,new_cat_drug,new_cat_kidnap,new_cat_others,new_cat_public,new_cat_sex,...,daytime_flag,house_listings_sum,Dom_median,Dom_mean,Dom_min,Dom_max,Sale_median,Sale_mean,Sale_min,Sale_max
0,1/1/2013,Tuesday,BAYVIEW,0,0,0,0,4,1,2,...,0,505,21.25,24.6,13.0,46.0,546000,614100.0,368000,1275000
1,1/1/2013,Tuesday,BAYVIEW,1,2,0,0,1,1,0,...,0,505,21.25,24.6,13.0,46.0,546000,614100.0,368000,1275000
2,1/1/2013,Tuesday,BAYVIEW,2,0,0,0,0,1,0,...,0,505,21.25,24.6,13.0,46.0,546000,614100.0,368000,1275000
3,1/1/2013,Tuesday,BAYVIEW,3,0,0,0,0,1,0,...,0,505,21.25,24.6,13.0,46.0,546000,614100.0,368000,1275000
4,1/1/2013,Tuesday,BAYVIEW,5,0,0,0,1,0,0,...,0,505,21.25,24.6,13.0,46.0,546000,614100.0,368000,1275000

In [10]:
df_sruthi.head()

,Date,DayOfWeek,PdDistrict,Time,new_cat_domestic,new_cat_drug,new_cat_kidnap,new_cat_others,new_cat_public,new_cat_sex,...,daytime_flag,house_listings_sum,Dom_median,Dom_mean,Dom_min,Dom_max,Sale_median,Sale_mean,Sale_min,Sale_max
0,1/1/2013,Tuesday,BAYVIEW,0,0,0,0,4,1,2,...,0,505,21.25,24.6,13.0,46.0,546000,614100.0,368000,1275000
1,1/1/2013,Tuesday,BAYVIEW,1,2,0,0,1,1,0,...,0,505,21.25,24.6,13.0,46.0,546000,614100.0,368000,1275000
2,1/1/2013,Tuesday,BAYVIEW,2,0,0,0,0,1,0,...,0,505,21.25,24.6,13.0,46.0,546000,614100.0,368000,1275000
3,1/1/2013,Tuesday,BAYVIEW,3,0,0,0,0,1,0,...,0,505,21.25,24.6,13.0,46.0,546000,614100.0,368000,1275000
4,1/1/2013,Tuesday,BAYVIEW,5,0,0,0,1,0,0,...,0,505,21.25,24.6,13.0,46.0,546000,614100.0,368000,1275000

In [4]:
model_df = pd.get_dummies(df_sruthi, columns=["DayOfWeek", "PdDistrict"])

In [5]:
model_df.shape

(314307, 43)

In [6]:
model_df.head()

,Date,Time,new_cat_domestic,new_cat_drug,new_cat_kidnap,new_cat_others,new_cat_public,new_cat_sex,new_cat_suicide,new_cat_theft,...,PdDistrict_BAYVIEW,PdDistrict_CENTRAL,PdDistrict_INGLESIDE,PdDistrict_MISSION,PdDistrict_NORTHERN,PdDistrict_PARK,PdDistrict_RICHMOND,PdDistrict_SOUTHERN,PdDistrict_TARAVAL,PdDistrict_TENDERLOIN
0,1/1/2013,0,0,0,0,4,1,2,0,5,...,1,0,0,0,0,0,0,0,0,0
1,1/1/2013,1,2,0,0,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,1/1/2013,2,0,0,0,0,1,0,0,2,...,1,0,0,0,0,0,0,0,0,0
3,1/1/2013,3,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,1/1/2013,5,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [7]:
model_df.columns

Index(['Date', 'Time', 'new_cat_domestic', 'new_cat_drug', 'new_cat_kidnap',
       'new_cat_others', 'new_cat_public', 'new_cat_sex', 'new_cat_suicide',
       'new_cat_theft', 'sum_crime_district', 'sunrise_time', 'sunset_time',
       'daylight_hours', 'EvictionNos', 'year', 'daytime_flag',
       'house_listings_sum', 'Dom_median', 'Dom_mean', 'Dom_min', 'Dom_max',
       'Sale_median', 'Sale_mean', 'Sale_min', 'Sale_max', 'DayOfWeek_Friday',
       'DayOfWeek_Monday', 'DayOfWeek_Saturday', 'DayOfWeek_Sunday',
       'DayOfWeek_Thursday', 'DayOfWeek_Tuesday', 'DayOfWeek_Wednesday',
       'PdDistrict_BAYVIEW', 'PdDistrict_CENTRAL', 'PdDistrict_INGLESIDE',
       'PdDistrict_MISSION', 'PdDistrict_NORTHERN', 'PdDistrict_PARK',
       'PdDistrict_RICHMOND', 'PdDistrict_SOUTHERN', 'PdDistrict_TARAVAL',
       'PdDistrict_TENDERLOIN'],
      dtype='object')

In [8]:
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [9]:
X =  model_df[['Time','sunrise_time', 'sunset_time',
       'daylight_hours', 'EvictionNos', 'daytime_flag', 'house_listings_sum', 'Dom_median',
       'Dom_mean', 'Dom_min', 'Dom_max', 'Sale_median', 'Sale_mean',
       'Sale_min', 'Sale_max', 'DayOfWeek_Friday', 'DayOfWeek_Monday',
       'DayOfWeek_Saturday', 'DayOfWeek_Sunday', 'DayOfWeek_Thursday',
       'DayOfWeek_Tuesday', 'DayOfWeek_Wednesday', 'PdDistrict_BAYVIEW',
       'PdDistrict_CENTRAL', 'PdDistrict_INGLESIDE', 'PdDistrict_MISSION',
       'PdDistrict_NORTHERN', 'PdDistrict_PARK', 'PdDistrict_RICHMOND',
       'PdDistrict_SOUTHERN', 'PdDistrict_TARAVAL', 'PdDistrict_TENDERLOIN']]

In [10]:
y = model_df[['new_cat_domestic', 'new_cat_drug', 'new_cat_kidnap', 'new_cat_others', 
     'new_cat_public', 'new_cat_sex', 'new_cat_suicide', 'new_cat_theft', 'sum_crime_district']]

In [11]:
from sklearn.model_selection import GridSearchCV

def algorithm_run(parameters, classifier, X, y):
    grid = GridSearchCV(classifier, parameters, scoring="neg_mean_absolute_error",cv=5)
    grid.fit(X, y)
    bestparams = grid.best_params_
    bestscore = grid.best_score_
    print(bestparams, bestscore)
    return bestparams, bestscore

## Linear regression

In [12]:
def run_linearregression_cv(X, y):
    
    X_train, X_test, y_train_all, y_test_all = train_test_split(X, y, test_size=0.20, random_state=2019)
    
    y_feats = ['new_cat_domestic', 'new_cat_drug', 'new_cat_kidnap', 'new_cat_others', 
     'new_cat_public', 'new_cat_sex', 'new_cat_suicide', 'new_cat_theft', 'sum_crime_district']
        
    from sklearn.linear_model import LinearRegression
    
    lr_parameters = {"normalize": [True, False]
                 }
    
    test_mae_list = []
    train_mae_list = []
    
    for i in y_feats:
        
        y_train = y_train_all[i]
        y_test = y_test_all[i]
        lr_bestparams, lr_bestscore = algorithm_run(lr_parameters, LinearRegression(), X_train, y_train)
        lr = LinearRegression(**lr_bestparams)
        lr.fit(X_train, y_train)
        lr_score = lr.score(X_train, y_train)

        lr_test_predictions = lr.predict(X_test)
        lr_train_predictions = lr.predict(X_train)
        lr_test_mae = mean_absolute_error(y_test, lr_test_predictions)
        lr_train_mae = mean_absolute_error(y_train, lr_train_predictions)
        test_mae_list.append(lr_test_mae)
        train_mae_list.append(lr_train_mae)
        
        print("For {}, test mae = {}, train mae = {}.".format(str(i), str(lr_test_mae), str(lr_train_mae)))
        
    results_df = pd.DataFrame({"y": y_feats, "test MAE": test_mae_list, "train MAE": train_mae_list})
        
    return results_df

In [13]:
lr_res = run_linearregression_cv(X, y)

{'normalize': True} -0.10933273104676318
For new_cat_domestic, test mae = 0.10861857457543408, train mae = 0.10939213994479098.
{'normalize': False} -0.1205151074822998
For new_cat_drug, test mae = 0.1200605310706553, train mae = 0.12049896929758348.
{'normalize': True} -0.01256794013373526
For new_cat_kidnap, test mae = 0.01541816672830963, train mae = 0.014833491908953748.
{'normalize': False} -0.49732193170514716
For new_cat_others, test mae = 0.4947814646215707, train mae = 0.49725362409471985.
{'normalize': True} -0.6665332415630817
For new_cat_public, test mae = 0.6674197850736037, train mae = 0.6664270982471315.
{'normalize': True} -0.04271325492092214
For new_cat_sex, test mae = 0.04429283092329229, train mae = 0.043575990151921894.
{'normalize': True} -0.002822387849025168
For new_cat_suicide, test mae = 0.0029667562754358786, train mae = 0.0028202256915720496.
{'normalize': False} -0.7872179780653218
For new_cat_theft, test mae = 0.784438182820484, train mae = 0.7871029590699778.
{'normalize': True} -1.1329762580864358
For sum_crime_district, test mae = 1.1359965734714534, train mae = 1.1327492484067092.

## Random forest

In [14]:
X_train, X_test, y_train_all, y_test_all = train_test_split(X, y, test_size=0.20, random_state=2019)
    
y_feats = ['new_cat_domestic', 'new_cat_drug', 'new_cat_kidnap', 'new_cat_others', 
 'new_cat_public', 'new_cat_sex', 'new_cat_suicide', 'new_cat_theft', 'sum_crime_district']

from sklearn.ensemble import RandomForestRegressor

In [15]:
def run_randomforest_cv(X, y):
    
    X_train, X_test, y_train_all, y_test_all = train_test_split(X, y, test_size=0.20, random_state=2019)
    
    y_feats = ['new_cat_domestic', 'new_cat_drug', 'new_cat_kidnap', 'new_cat_others', 
     'new_cat_public', 'new_cat_sex', 'new_cat_suicide', 'new_cat_theft', 'sum_crime_district']
        
    from sklearn.ensemble import RandomForestRegressor
    
    rf_parameters = {"n_estimators" : [2, 3, 5, 10], 
                     "criterion" : ["mse"], 
                     "max_depth" : [5, 6, 8], 
                     "min_samples_split" : [2, 3, 4, 5], 
                     "min_samples_leaf" : [2, 3, 4],
                     "random_state" : [2019]
                 }
    
    test_mae_list = []
    train_mae_list = []
    
    for i in y_feats:
        
        y_train = y_train_all[i]
        y_test = y_test_all[i]
        rf_bestparams, rf_bestscore = algorithm_run(rf_parameters, RandomForestRegressor(), X_train, y_train)
        rf = RandomForestRegressor(**rf_bestparams)
        rf.fit(X_train, y_train)
        rf_score = rf.score(X_train, y_train)

        rf_test_predictions = rf.predict(X_test)
        rf_train_predictions = rf.predict(X_train)
        rf_test_mae = mean_absolute_error(y_test, rf_test_predictions)
        rf_train_mae = mean_absolute_error(y_train, rf_train_predictions)
        test_mae_list.append(rf_test_mae)
        train_mae_list.append(rf_train_mae)
        
        print("For {}, test mae = {}, train mae = {}.".format(str(i), str(rf_test_mae), str(rf_train_mae)))
        
    results_df = pd.DataFrame({"y": y_feats, "test MAE": test_mae_list, "train MAE": train_mae_list})
        
    return results_df

In [16]:
rf_res = run_randomforest_cv(X, y)

{'criterion': 'mse', 'max_depth': 8, 'min_samples_leaf': 3, 'min_samples_split': 2, 'n_estimators': 2, 'random_state': 2019} -0.10845537226905304
For new_cat_domestic, test mae = 0.1076897136801118, train mae = 0.10778815658993822.
{'criterion': 'mse', 'max_depth': 8, 'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 2, 'random_state': 2019} -0.11741832869245453
For new_cat_drug, test mae = 0.11716667141726729, train mae = 0.11648759012111572.
{'criterion': 'mse', 'max_depth': 6, 'min_samples_leaf': 2, 'min_samples_split': 2, 'n_estimators': 10, 'random_state': 2019} -0.012443461688082308
For new_cat_kidnap, test mae = 0.013078925297284563, train mae = 0.01244707130346357.
{'criterion': 'mse', 'max_depth': 8, 'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 10, 'random_state': 2019} -0.4908255256212253
For new_cat_others, test mae = 0.4877281489474112, train mae = 0.48809652160408074.
{'criterion': 'mse', 'max_depth': 8, 'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 10, 'random_state': 2019} -0.6639562667190407
For new_cat_public, test mae = 0.664862890966582, train mae = 0.6599588760775658.
{'criterion': 'mse', 'max_depth': 8, 'min_samples_leaf': 2, 'min_samples_split': 5, 'n_estimators': 2, 'random_state': 2019} -0.04186168083152388
For new_cat_sex, test mae = 0.04263939014579022, train mae = 0.040945630694791985.
{'criterion': 'mse', 'max_depth': 6, 'min_samples_leaf': 2, 'min_samples_split': 2, 'n_estimators': 5, 'random_state': 2019} -0.0028042406485671335
For new_cat_suicide, test mae = 0.002947042576657101, train mae = 0.002742403500616007.
{'criterion': 'mse', 'max_depth': 8, 'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 10, 'random_state': 2019} -0.7586648761521643
For new_cat_theft, test mae = 0.7551105680215588, train mae = 0.7533992351172152.
{'criterion': 'mse', 'max_depth': 8, 'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 10, 'random_state': 2019} -1.0928211890105277
For sum_crime_district, test mae = 1.0948613410405932, train mae = 1.08547633857821.

In [27]:
# y_train = y_train_all['sum_crime_district']
# y_test = y_test_all['sum_crime_district']
# rf = RandomForestRegressor(n_estimators=10, max_depth=8)
# rf.fit(X_train, y_train)
# rf_score = rf.score(X_train, y_train)

## Gradient boosting

In [19]:
def run_gradientboosting_cv(X, y):
    
    X_train, X_test, y_train_all, y_test_all = train_test_split(X, y, test_size=0.20, random_state=2019)
    
    y_feats = ['new_cat_domestic', 'new_cat_drug', 'new_cat_kidnap', 'new_cat_others', 
     'new_cat_public', 'new_cat_sex', 'new_cat_suicide', 'new_cat_theft', 'sum_crime_district']
        
    from sklearn.ensemble import GradientBoostingRegressor
    
    gbr_parameters = {"learning_rate" : [0.1],
                      "max_depth" : [6],
                      "max_features" : [0.3], 
                      "min_samples_split" : [2],
                      "random_state" : [2019]
                 }
    
    test_mae_list = []
    train_mae_list = []
    
    for i in y_feats:
        
        y_train = y_train_all[i]
        y_test = y_test_all[i]
        gbr_bestparams, gbr_bestscore = algorithm_run(gbr_parameters, GradientBoostingRegressor(), X_train, y_train)
        gbr = GradientBoostingRegressor(**gbr_bestparams)
        gbr.fit(X_train, y_train)
        gbr_score = gbr.score(X_train, y_train)

        gbr_test_predictions = gbr.predict(X_test)
        gbr_train_predictions = gbr.predict(X_train)
        gbr_test_mae = mean_absolute_error(y_test, gbr_test_predictions)
        gbr_train_mae = mean_absolute_error(y_train, gbr_train_predictions)
        test_mae_list.append(gbr_test_mae)
        train_mae_list.append(gbr_train_mae)
        
        print("For {}, test mae = {}, train mae = {}.".format(str(i), str(gbr_test_mae), str(gbr_train_mae)))
        
    results_df = pd.DataFrame({"y": y_feats, "test MAE": test_mae_list, "train MAE": train_mae_list})
        
    return results_df

In [20]:
gbr_res = run_gradientboosting_cv(X, y)

{'learning_rate': 0.1, 'max_depth': 6, 'max_features': 0.3, 'min_samples_split': 2, 'random_state': 2019} -0.10848661517742061
For new_cat_domestic, test mae = 0.10758080468902101, train mae = 0.10728514174593667.
{'learning_rate': 0.1, 'max_depth': 6, 'max_features': 0.3, 'min_samples_split': 2, 'random_state': 2019} -0.11771765192547792
For new_cat_drug, test mae = 0.11714619091451804, train mae = 0.1161982510916762.
{'learning_rate': 0.1, 'max_depth': 6, 'max_features': 0.3, 'min_samples_split': 2, 'random_state': 2019} -0.01265428170235308
For new_cat_kidnap, test mae = 0.013214735406435077, train mae = 0.012349264437609198.
{'learning_rate': 0.1, 'max_depth': 6, 'max_features': 0.3, 'min_samples_split': 2, 'random_state': 2019} -0.4876038014667113
For new_cat_others, test mae = 0.48476476355783205, train mae = 0.48294832720189074.
{'learning_rate': 0.1, 'max_depth': 6, 'max_features': 0.3, 'min_samples_split': 2, 'random_state': 2019} -0.6618043033113178
For new_cat_public, test mae = 0.6631475790112417, train mae = 0.6557573963493961.
{'learning_rate': 0.1, 'max_depth': 6, 'max_features': 0.3, 'min_samples_split': 2, 'random_state': 2019} -0.04199211440553743
For new_cat_sex, test mae = 0.042649479862876837, train mae = 0.041212225917518025.
{'learning_rate': 0.1, 'max_depth': 6, 'max_features': 0.3, 'min_samples_split': 2, 'random_state': 2019} -0.0029913389288883036
For new_cat_suicide, test mae = 0.003104162796777961, train mae = 0.00279750534328468.
{'learning_rate': 0.1, 'max_depth': 6, 'max_features': 0.3, 'min_samples_split': 2, 'random_state': 2019} -0.7580470520886734
For new_cat_theft, test mae = 0.7539440607068817, train mae = 0.7505952765253405.
{'learning_rate': 0.1, 'max_depth': 6, 'max_features': 0.3, 'min_samples_split': 2, 'random_state': 2019} -1.0897986958414347
For sum_crime_district, test mae = 1.0913374973468544, train mae = 1.0797182049420735.

## SVM

In [23]:
def run_supportvector_cv(X, y):
    
    X_train, X_test, y_train_all, y_test_all = train_test_split(X, y, test_size=0.20, random_state=2019)
    
    y_feats = ['new_cat_domestic', 'new_cat_drug', 'new_cat_kidnap', 'new_cat_others', 
     'new_cat_public', 'new_cat_sex', 'new_cat_suicide', 'new_cat_theft', 'sum_crime_district']
        
    from sklearn.svm import SVR

    test_mae_list = []
    train_mae_list = []
    
    for i in ['new_cat_others', 'new_cat_public', 'new_cat_sex', 'new_cat_suicide', 'new_cat_theft', 'sum_crime_district']:
        
        y_train = y_train_all[i]
        y_test = y_test_all[i]
        svr = SVR(C=1.0, kernel='rbf', gamma=0.0001)
        svr.fit(X_train, y_train)
        svr_score = svr.score(X_train, y_train)

        svr_test_predictions = svr.predict(X_test)
        svr_train_predictions = svr.predict(X_train)
        svr_test_mae = mean_absolute_error(y_test, svr_test_predictions)
        svr_train_mae = mean_absolute_error(y_train, svr_train_predictions)
        test_mae_list.append(svr_test_mae)
        train_mae_list.append(svr_train_mae)
        
        print("For {}, test mae = {}, train mae = {}.".format(str(i), str(svr_test_mae), str(svr_train_mae)))
        
    results_df = pd.DataFrame({"y": y_feats, "test MAE": test_mae_list, "train MAE": train_mae_list})
        
    return results_df

In [24]:
svr_res = run_supportvector_cv(X, y)

KeyboardInterrupt:

In [ ]:
svr_res

In [ ]:
gbr_res

In [ ]:
lr_res

In [ ]:
rf_res