In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
from datetime import datetime
from collections import Counter

In [27]:
df = pd.read_csv('data/Police_Department_Incident_Reports__Historical_2003_to_May_2018.csv')
print(df.shape)
df.head()

(2215024, 13)

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,150060275,NON-CRIMINAL,LOST PROPERTY,Monday,01/19/2015,14:00,MISSION,NONE,18TH ST / VALENCIA ST,-122.421582,37.761701,"(37.7617007179518, -122.42158168137)",15006027571000
1,150098210,ROBBERY,"ROBBERY, BODILY FORCE",Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)",15009821003074
2,150098210,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)",15009821004014
3,150098210,SECONDARY CODES,DOMESTIC VIOLENCE,Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)",15009821015200
4,150098226,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Tuesday,01/27/2015,19:00,NORTHERN,NONE,LOMBARD ST / LAGUNA ST,-122.431119,37.800469,"(37.8004687042875, -122.431118543788)",15009822628160

## Sanity check

### 1. Inspect data for any duplicates

To-dos:
* To calculate total number of crimes, make sure not to double count
* Double counting is alright if calculating based on crime types but delete if both incident_num and category are the same

From the metadata, we understand that PdId refers to the unique identifier for use in update and insert operations for the dataset, hence we can drop the column.

In [28]:
df=df.drop(['PdId'], axis=1)

In [29]:
df.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location
0,150060275,NON-CRIMINAL,LOST PROPERTY,Monday,01/19/2015,14:00,MISSION,NONE,18TH ST / VALENCIA ST,-122.421582,37.761701,"(37.7617007179518, -122.42158168137)"
1,150098210,ROBBERY,"ROBBERY, BODILY FORCE",Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)"
2,150098210,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)"
3,150098210,SECONDARY CODES,DOMESTIC VIOLENCE,Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)"
4,150098226,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Tuesday,01/27/2015,19:00,NORTHERN,NONE,LOMBARD ST / LAGUNA ST,-122.431119,37.800469,"(37.8004687042875, -122.431118543788)"

In [30]:
# check unique no. of rows (corresponding to no. of incident numbers)
print("No. of rows:",df.shape[0])

No. of rows: 2215024

In [31]:
# check unique no. of incidents
print("No. of unique incidents:", df['IncidntNum'].nunique())

No. of unique incidents: 1746914

In [32]:
df.shape[0]-df['IncidntNum'].nunique()

468110

Hence we can conclude that there were 468110 duplicates in incident_num. Let's take a look at an example of a duplicate incident. The logic is that, if the duplicates arise due to the incident being categorized into various incidents of crime, we can retain the double-counting; however, if the duplicates are merely a result of same incident_num and category, we should delete these rows.

In [33]:
incidentNumList=Counter(df['IncidntNum']) # obtain dictionary of all unique key-value pairs
# print(incidentNumList)

In [34]:
allIncidentNumbers=df['IncidntNum'].unique().tolist()

In [35]:
len(incidentNumList)

1746914

In [36]:
threshold=1
duplicateIncidentList=[]
isolatedIncidentList=[]
for incident, incidentCount in incidentNumList.items():
    if incidentCount>threshold:
        duplicateIncidentList.append(incident)
    elif incidentCount==threshold:
        isolatedIncidentList.append(incident)

# shorter code is this: 
# isolatedIncidents=[incd for incd, incidentCount in incidentNumList.items() if incidentCount == threshold]
# duplicateIncidents=[incd for incd, incidentCount in incidentNumList.items() if incidentCount > threshold]
# sumIsolates=len(isolatedIncidents)
# sumDuplicate=len(duplicateIncidents)

In [37]:
len(duplicateIncidentList)

341334

In [38]:
len(isolatedIncidentList)

1405580

In [39]:
'''check random incident_num with non-1s count to see reason for duplicates
    if incident_num and category are the same, then remove duplicates (later)
'''
df[df['IncidntNum']==150098345]

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location
10,150098345,LARCENY/THEFT,PETTY THEFT SHOPLIFTING,Sunday,02/01/2015,14:00,MISSION,"ARREST, BOOKED",1700 Block of HARRISON ST,-122.413354,37.769075,"(37.7690748003847, -122.413354187018)"
11,150098345,DRUG/NARCOTIC,POSSESSION OF METH-AMPHETAMINE,Sunday,02/01/2015,14:00,MISSION,"ARREST, BOOKED",1700 Block of HARRISON ST,-122.413354,37.769075,"(37.7690748003847, -122.413354187018)"
12,150098345,DRUG/NARCOTIC,POSSESSION OF NARCOTICS PARAPHERNALIA,Sunday,02/01/2015,14:00,MISSION,"ARREST, BOOKED",1700 Block of HARRISON ST,-122.413354,37.769075,"(37.7690748003847, -122.413354187018)"
13,150098345,WARRANTS,WARRANT ARREST,Sunday,02/01/2015,14:00,MISSION,"ARREST, BOOKED",1700 Block of HARRISON ST,-122.413354,37.769075,"(37.7690748003847, -122.413354187018)"

In [40]:
# check the original dataframe against 'duplicateIncidentList'
# when 'duplicateIncidentList' matches df['IncidntNum'], then check if the category is the same
# if the categories are the same, retain one row and drop the others
# if the categories are different, retain all rows 

df_duplicates=df[df['IncidntNum'].isin(allIncidentNumbers)].sort_values(by=['IncidntNum'])
df_duplicates_cleaned = df_duplicates.drop_duplicates(subset=['Category','IncidntNum'], keep="first")
df_duplicates_cleaned # this is the final dataframe without duplicates

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location
493897,3979,WARRANTS,WARRANT ARREST,Thursday,12/09/2004,16:22,BAYVIEW,"ARREST, BOOKED",INGALLS ST / HUDSON AV,-122.379598,37.732467,"(37.7324666541275, -122.379598260097)"
1209080,10128,WARRANTS,WARRANT ARREST,Sunday,12/18/2005,22:20,INGLESIDE,"ARREST, BOOKED",ELLSWORTH ST / ALEMANY BL,-122.418969,37.732208,"(37.7322083102079, -122.4189687006)"
1490233,10736,WARRANTS,WARRANT ARREST,Thursday,07/15/2004,10:18,SOUTHERN,"ARREST, BOOKED",900 Block of BRYANT ST,-122.405927,37.773427,"(37.7734271309539, -122.405926775837)"
1393001,38261,WARRANTS,WARRANT ARREST,Thursday,04/17/2003,22:45,NORTHERN,"ARREST, BOOKED",POLK ST / SUTTER ST,-122.420120,37.787757,"(37.7877570602182, -122.420120319211)"
377806,52205,WARRANTS,WARRANT ARREST,Thursday,02/06/2003,07:20,SOUTHERN,"ARREST, BOOKED",900 Block of BRYANT ST,-122.405927,37.773427,"(37.7734271309539, -122.405926775837)"
1333777,61397,WARRANTS,WARRANT ARREST,Sunday,06/29/2003,10:00,TENDERLOIN,"ARREST, BOOKED",100 Block of TURK ST,-122.411593,37.783053,"(37.7830529510782, -122.411593095704)"
596484,62389,VEHICLE THEFT,STOLEN MOTORCYCLE,Tuesday,03/30/2004,11:35,MISSION,NONE,2600 Block of BRYANT ST,-122.409121,37.751979,"(37.7519787472165, -122.409121399225)"
391902,62953,WARRANTS,WARRANT ARREST,Sunday,08/22/2004,18:36,SOUTHERN,"ARREST, BOOKED",COLINPKELLYJR ST / TOWNSEND ST,-122.389758,37.781221,"(37.781221050395, -122.389757937508)"
1485730,70796,WARRANTS,ENROUTE TO OUTSIDE JURISDICTION,Thursday,07/13/2006,08:45,SOUTHERN,"ARREST, BOOKED",900 Block of MISSION ST,-122.407933,37.781506,"(37.7815063666429, -122.407932868203)"
864778,73057,WARRANTS,WARRANT ARREST,Thursday,08/26/2004,12:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
429957,77231,WARRANTS,WARRANT ARREST,Thursday,06/02/2005,10:30,MISSION,"ARREST, BOOKED",2000 Block of MISSION ST,-122.419658,37.764221,"(37.7642205603745, -122.41965834371)"
1560901,81737,WARRANTS,WARRANT ARREST,Thursday,12/02/2004,08:29,SOUTHERN,"ARREST, BOOKED",0 Block of 6TH ST,-122.409420,37.781615,"(37.7816150265786, -122.40942036456)"
1089774,100622,WARRANTS,WARRANT ARREST,Wednesday,02/05/2003,19:06,TENDERLOIN,"ARREST, BOOKED",100 Block of TURK ST,-122.411615,37.783161,"(37.7831614109395, -122.411615075408)"
581124,119877,WARRANTS,WARRANT ARREST,Monday,05/02/2005,19:33,TENDERLOIN,"ARREST, BOOKED",400 Block of JONES ST,-122.412899,37.785097,"(37.7850974904289, -122.412899249686)"
1733674,123436,"SEX OFFENSES, FORCIBLE","FORCIBLE RAPE, BODILY FORCE",Friday,07/02/2004,14:08,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
580589,123436,DRUG/NARCOTIC,POSSESSION OF MARIJUANA,Friday,07/02/2004,14:08,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
1783453,131912,WARRANTS,WARRANT ARREST,Thursday,06/02/2005,16:35,SOUTHERN,"ARREST, BOOKED",1000 Block of MISSION ST,-122.409795,37.780036,"(37.7800356268394, -122.409795194505)"
1498591,152576,WARRANTS,WARRANT ARREST,Tuesday,08/31/2004,08:30,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
297540,198398,WARRANTS,WARRANT ARREST,Wednesday,03/05/2003,10:34,TENDERLOIN,"ARREST, BOOKED",400 Block of ELLIS ST,-122.413609,37.784697,"(37.784696907904, -122.413609328985)"
601782,248250,WARRANTS,ENROUTE TO OUTSIDE JURISDICTION,Monday,01/27/2003,12:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
1476792,259633,WARRANTS,WARRANT ARREST,Monday,09/26/2005,13:11,INGLESIDE,"ARREST, BOOKED",700 Block of PARIS ST,-122.438294,37.717137,"(37.7171370303947, -122.438294025226)"
831206,267153,WARRANTS,WARRANT ARREST,Wednesday,02/16/2005,09:30,BAYVIEW,"ARREST, BOOKED",2100 Block of QUESADA AV,-122.399853,37.738174,"(37.7381735692778, -122.399852840312)"
1275712,315235,WARRANTS,WARRANT ARREST,Thursday,02/08/2007,10:09,MISSION,"ARREST, BOOKED",1800 Block of 15TH ST,-122.424724,37.766323,"(37.766322531621, -122.424723870424)"
1261745,324684,DRUNKENNESS,UNDER INFLUENCE OF ALCOHOL IN A PUBLIC PLACE,Monday,03/31/2003,22:08,NORTHERN,"ARREST, BOOKED",POST ST / FILLMORE ST,-122.433084,37.785150,"(37.7851499161314, -122.433084166809)"
930634,324684,WARRANTS,WARRANT ARREST,Monday,03/31/2003,22:08,NORTHERN,"ARREST, BOOKED",POST ST / FILLMORE ST,-122.433084,37.785150,"(37.7851499161314, -122.433084166809)"
1097757,335471,WARRANTS,WARRANT ARREST,Saturday,02/22/2003,17:35,MISSION,"ARREST, BOOKED",25TH ST / GUERRERO ST,-122.422728,37.750373,"(37.7503729275448, -122.422727873548)"
1462090,354283,WARRANTS,WARRANT ARREST,Saturday,04/17/2004,19:50,INGLESIDE,"ARREST, BOOKED",BROOKDALE AV / SANTOS ST,-122.418767,37.711934,"(37.7119336857097, -122.41876688902)"
1542229,358718,WARRANTS,WARRANT ARREST,Friday,11/26/2004,22:47,TENDERLOIN,"ARREST, BOOKED",100 Block of GOLDEN GATE AV,-122.413048,37.781912,"(37.7819119628298, -122.413047972078)"
712511,359324,WARRANTS,WARRANT ARREST,Wednesday,10/06/2010,20:04,NORTHERN,"ARREST, BOOKED",POST ST / LARKIN ST,-122.418274,37.787037,"(37.7870372043685, -122.41827417166)"
1084735,363228,WARRANTS,ENROUTE TO OUTSIDE JURISDICTION,Wednesday,11/03/2004,10:45,TENDERLOIN,"ARREST, BOOKED",100 Block of LEAVENWORTH ST,-122.414030,37.782329,"(37.7823291237659, -122.414029821727)"
...,...,...,...,...,...,...,...,...,...,...,...,...
1139524,991148424,WARRANTS,WARRANT ARREST,Friday,12/09/2005,13:45,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
448194,991152237,NON-CRIMINAL,TURNED IN GUN,Thursday,07/25/2013,13:41,INGLESIDE,NONE,500 Block of MANGELS AV,-122.450040,37.733118,"(37.7331183940895, -122.450039522459)"
443970,991161125,WARRANTS,ENROUTE TO PROBATION OFFICER,Wednesday,05/07/2003,08:51,TENDERLOIN,"ARREST, BOOKED",100 Block of GOLDEN GATE AV,-122.413070,37.782020,"(37.7820204255866, -122.413069926397)"
1197191,991168905,WARRANTS,WARRANT ARREST,Tuesday,04/06/2004,15:00,TENDERLOIN,"ARREST, BOOKED",300 Block of EDDY ST,-122.412931,37.783834,"(37.7838344374141, -122.412930522059)"
1306902,991185686,WARRANTS,WARRANT ARREST,Friday,11/26/2010,09:30,SOUTHERN,"ARREST, BOOKED",900 Block of HOWARD ST,-122.406508,37.780331,"(37.7803313209065, -122.406508487003)"
564838,991212154,WARRANTS,WARRANT ARREST,Sunday,10/24/2004,17:34,CENTRAL,"ARREST, BOOKED",0 Block of DRUMM ST,-122.396422,37.794145,"(37.7941447423704, -122.396421943768)"
1654666,991231609,WARRANTS,WARRANT ARREST,Thursday,07/08/2004,23:34,NORTHERN,JUVENILE BOOKED,HICKORY ST / VAN NESS AV,-122.419416,37.775905,"(37.7759046143994, -122.419415919467)"
1359979,991258556,WARRANTS,WARRANT ARREST,Wednesday,03/25/2009,00:01,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
1295610,991276821,WARRANTS,WARRANT ARREST,Thursday,09/18/2003,13:45,NORTHERN,"ARREST, BOOKED",MARKET ST / VAN NESS AV,-122.419258,37.775146,"(37.775146291631, -122.419257894821)"
79256,991305157,MISSING PERSON,FOUND PERSON,Wednesday,03/12/2014,09:00,RICHMOND,"ARREST, BOOKED",800 Block of EUCLID AV,-122.458491,37.783795,"(37.7837951529214, -122.458490740585)"
403132,991309046,WARRANTS,WARRANT ARREST,Monday,03/13/2006,13:07,MISSION,"ARREST, BOOKED",CESAR CHAVEZ ST / ALABAMA ST,-122.410549,37.748316,"(37.7483157742862, -122.410549321721)"
441660,991335671,WARRANTS,WARRANT ARREST,Monday,01/30/2006,02:23,NORTHERN,"ARREST, BOOKED",FILLMORE ST / SUTTER ST,-122.433275,37.786086,"(37.7860862387282, -122.433274677957)"
777055,991337467,WARRANTS,WARRANT ARREST,Tuesday,04/01/2003,18:00,CENTRAL,"ARREST, BOOKED",400 Block of BROADWAY ST,-122.404282,37.798225,"(37.7982249345487, -122.404282497745)"
520934,991339827,WARRANTS,ENROUTE TO OUTSIDE JURISDICTION,Tuesday,09/30/2003,17:49,NORTHERN,"ARREST, BOOKED",POLK ST / SUTTER ST,-122.420120,37.787757,"(37.7877570602182, -122.420120319211)"
79257,991349672,MISSING PERSON,FOUND PERSON,Thursday,03/13/2014,09:00,SOUTHERN,"ARREST, BOOKED",1300 Block of MARKET ST,-122.416991,37.777074,"(37.777074192256, -122.416991089644)"
809727,991400832,WARRANTS,WARRANT ARREST,Sunday,03/07/2004,17:40,INGLESIDE,"ARREST, BOOKED",100 Block of SANTA YNEZ AV,-122.441019,37.724992,"(37.7249920946075, -122.441018990841)"
1695965,991401476,WARRANTS,WARRANT ARREST,Thursday,05/05/2005,11:14,MISSION,"ARREST, BOOKED",BRYANT ST / 15TH ST,-122.410612,37.766903,"(37.7669031554644, -122.410612162965)"
1561053,991404577,WARRANTS,WARRANT ARREST,Thursday,08/25/2005,16:14,BAYVIEW,"ARREST, BOOKED",BAY SHORE BL / MARIN ST,-122.403539,37.748119,"(37.7481188207074, -122.403538936242)"
1699957,991417495,WARRANTS,WARRANT ARREST,Sunday,02/29/2004,15:43,SOUTHERN,"ARREST, BOOKED",100 Block of SOUTH VAN NESS AV,-122.417911,37.771315,"(37.7713149115691, -122.417911007703)"
1147954,991431586,WARRANTS,WARRANT ARREST,Sunday,05/15/2005,16:20,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
607039,991438504,WARRANTS,WARRANT ARREST,Wednesday,05/07/2003,07:50,BAYVIEW,"ARREST, BOOKED",0 Block of MIDDLE POINT RD,-122.379454,37.737223,"(37.7372234700271, -122.37945356734)"
1104042,991458988,WARRANTS,WARRANT ARREST,Wednesday,09/24/2003,18:14,NORTHERN,"ARREST, BOOKED",500 Block of HAYES ST,-122.425416,37.776628,"(37.7766280227851, -122.425416290071)"
1767722,991473748,WARRANTS,WARRANT ARREST,Tuesday,07/13/2004,08:25,BAYVIEW,"ARREST, BOOKED",HILTON ST / BAY SHORE BL,-122.407018,37.738767,"(37.7387669862469, -122.407017781222)"
749616,991487965,WARRANTS,WARRANT ARREST,Friday,01/16/2004,08:25,SOUTHERN,"ARREST, BOOKED",0 Block of 6TH ST,-122.409011,37.781134,"(37.7811340568243, -122.409011206639)"
1234007,991510691,WARRANTS,WARRANT ARREST,Sunday,03/16/2003,23:35,NORTHERN,"ARREST, BOOKED",600 Block of VAN NESS AV,-122.420433,37.781770,"(37.7817700809468, -122.420433293094)"
1662616,991510691,OTHER OFFENSES,VIOLATION OF MUNICIPAL POLICE CODE,Sunday,03/16/2003,23:35,NORTHERN,"ARREST, BOOKED",600 Block of VAN NESS AV,-122.420433,37.781770,"(37.7817700809468, -122.420433293094)"
1529086,991523575,WARRANTS,WARRANT ARREST,Monday,03/28/2005,00:32,BAYVIEW,"ARREST, BOOKED",600 Block of LATHROP AV,-122.396282,37.709971,"(37.7099710290016, -122.396281901653)"
543920,991549731,WARRANTS,WARRANT ARREST,Saturday,12/16/2006,16:42,TENDERLOIN,"ARREST, BOOKED",TAYLOR ST / OFARRELL ST,-122.411328,37.785996,"(37.7859963050476, -122.411328369311)"
1188388,991564488,WARRANTS,WARRANT ARREST,Wednesday,03/31/2004,19:56,CENTRAL,"ARREST, BOOKED",MASON ST / BROADWAY ST,-122.411920,37.797271,"(37.7972709943487, -122.411919767453)"
913476,991582377,WARRANTS,WARRANT ARREST,Saturday,08/14/2004,22:33,PARK,"ARREST, BOOKED",1900 Block of PAGE ST,-122.452896,37.770150,"(37.7701501507955, -122.452896022151)"

In [41]:
df=df_duplicates_cleaned.copy() # final dataframe
print("No. of rows and columns of final dataframe: ",df.shape)

No. of rows and columns of final dataframe:  (2057667, 12)

In [43]:
df[df['IncidntNum']==150098345]

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location
13,150098345,WARRANTS,WARRANT ARREST,Sunday,02/01/2015,14:00,MISSION,"ARREST, BOOKED",1700 Block of HARRISON ST,-122.413354,37.769075,"(37.7690748003847, -122.413354187018)"
12,150098345,DRUG/NARCOTIC,POSSESSION OF NARCOTICS PARAPHERNALIA,Sunday,02/01/2015,14:00,MISSION,"ARREST, BOOKED",1700 Block of HARRISON ST,-122.413354,37.769075,"(37.7690748003847, -122.413354187018)"
10,150098345,LARCENY/THEFT,PETTY THEFT SHOPLIFTING,Sunday,02/01/2015,14:00,MISSION,"ARREST, BOOKED",1700 Block of HARRISON ST,-122.413354,37.769075,"(37.7690748003847, -122.413354187018)"

In [45]:
df.reset_index(drop=True, inplace=True)
df.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location
0,3979,WARRANTS,WARRANT ARREST,Thursday,12/09/2004,16:22,BAYVIEW,"ARREST, BOOKED",INGALLS ST / HUDSON AV,-122.379598,37.732467,"(37.7324666541275, -122.379598260097)"
1,10128,WARRANTS,WARRANT ARREST,Sunday,12/18/2005,22:20,INGLESIDE,"ARREST, BOOKED",ELLSWORTH ST / ALEMANY BL,-122.418969,37.732208,"(37.7322083102079, -122.4189687006)"
2,10736,WARRANTS,WARRANT ARREST,Thursday,07/15/2004,10:18,SOUTHERN,"ARREST, BOOKED",900 Block of BRYANT ST,-122.405927,37.773427,"(37.7734271309539, -122.405926775837)"
3,38261,WARRANTS,WARRANT ARREST,Thursday,04/17/2003,22:45,NORTHERN,"ARREST, BOOKED",POLK ST / SUTTER ST,-122.420120,37.787757,"(37.7877570602182, -122.420120319211)"
4,52205,WARRANTS,WARRANT ARREST,Thursday,02/06/2003,07:20,SOUTHERN,"ARREST, BOOKED",900 Block of BRYANT ST,-122.405927,37.773427,"(37.7734271309539, -122.405926775837)"

### 2. Check the unique category of crimes
To-dos:
* Group similar crimes together

In [46]:
# check set of crimes
print(len(set(df['Category'])))
set(df['Category'])

39

{'ARSON',
 'ASSAULT',
 'BAD CHECKS',
 'BRIBERY',
 'BURGLARY',
 'DISORDERLY CONDUCT',
 'DRIVING UNDER THE INFLUENCE',
 'DRUG/NARCOTIC',
 'DRUNKENNESS',
 'EMBEZZLEMENT',
 'EXTORTION',
 'FAMILY OFFENSES',
 'FORGERY/COUNTERFEITING',
 'FRAUD',
 'GAMBLING',
 'KIDNAPPING',
 'LARCENY/THEFT',
 'LIQUOR LAWS',
 'LOITERING',
 'MISSING PERSON',
 'NON-CRIMINAL',
 'OTHER OFFENSES',
 'PORNOGRAPHY/OBSCENE MAT',
 'PROSTITUTION',
 'RECOVERED VEHICLE',
 'ROBBERY',
 'RUNAWAY',
 'SECONDARY CODES',
 'SEX OFFENSES, FORCIBLE',
 'SEX OFFENSES, NON FORCIBLE',
 'STOLEN PROPERTY',
 'SUICIDE',
 'SUSPICIOUS OCC',
 'TREA',
 'TRESPASS',
 'VANDALISM',
 'VEHICLE THEFT',
 'WARRANTS',
 'WEAPON LAWS'}

## 1. Reduce number of crime categories

Group the criminal activities into the following categories:
1. theft
2. public disturbance
3. drug
4. sex
5. suicide
6. kidnap
7. domestic
8. other
9. non-criminal (can delete)

In [47]:
theft = ['BRIBERY',
        'BURGLARY',
        'EMBEZZLEMENT',
        'EXTORTION',
        'FORGERY/COUNTERFEITING',
        'FRAUD',
        'GAMBLING',
        'LARCENY/THEFT',
        'RECOVERED VEHICLE',
        'ROBBERY',
        'TREA',
        'VEHICLE THEFT',
        'STOLEN PROPERTY',
        'ARSON']

public = ['TRESPASS',
        'VANDALISM',
        'WARRANTS',
        'LOITERING',
        'ASSAULT',
        'BAD CHECKS',
        'DISORDERLY CONDUCT',
        'DRIVING UNDER THE INFLUENCE',
        'DRUNKENNESS',
        'SUSPICIOUS OCC',
         'LIQUOR LAWS',
         'WEAPON LAWS']

drug =  ['DRUG/NARCOTIC']

sex = ['PORNOGRAPHY/OBSCENE MAT',
        'PROSTITUTION',
        'SEX OFFENSES, FORCIBLE',
        'SEX OFFENSES, NON FORCIBLE']

suicide = ['SUICIDE']

kidnap = ['KIDNAPPING']

domestic = ['MISSING PERSON',
            'RUNAWAY',
            'FAMILY OFFENSES']

others = ['OTHER OFFENSES',
        'SECONDARY CODES']

non_criminal = ['NON-CRIMINAL']

In [48]:
replace_dict = {
                "theft": theft,
                "public": public,
                "drug": drug,
                "sex": sex,
                "suicide": suicide,
                "kidnap":kidnap,
                "domestic": domestic,
                "others": others,
                "non_criminal": non_criminal
               }

In [49]:
new_cat = df['Category']

for key, val in replace_dict.items():
    new_cat = new_cat.replace(val, key)

df["new_cat"] = new_cat

In [50]:
set(df["new_cat"])

{'domestic',
 'drug',
 'kidnap',
 'non_criminal',
 'others',
 'public',
 'sex',
 'suicide',
 'theft'}

In [51]:
df.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,new_cat
0,3979,WARRANTS,WARRANT ARREST,Thursday,12/09/2004,16:22,BAYVIEW,"ARREST, BOOKED",INGALLS ST / HUDSON AV,-122.379598,37.732467,"(37.7324666541275, -122.379598260097)",public
1,10128,WARRANTS,WARRANT ARREST,Sunday,12/18/2005,22:20,INGLESIDE,"ARREST, BOOKED",ELLSWORTH ST / ALEMANY BL,-122.418969,37.732208,"(37.7322083102079, -122.4189687006)",public
2,10736,WARRANTS,WARRANT ARREST,Thursday,07/15/2004,10:18,SOUTHERN,"ARREST, BOOKED",900 Block of BRYANT ST,-122.405927,37.773427,"(37.7734271309539, -122.405926775837)",public
3,38261,WARRANTS,WARRANT ARREST,Thursday,04/17/2003,22:45,NORTHERN,"ARREST, BOOKED",POLK ST / SUTTER ST,-122.420120,37.787757,"(37.7877570602182, -122.420120319211)",public
4,52205,WARRANTS,WARRANT ARREST,Thursday,02/06/2003,07:20,SOUTHERN,"ARREST, BOOKED",900 Block of BRYANT ST,-122.405927,37.773427,"(37.7734271309539, -122.405926775837)",public

In [53]:
# drop redundant columns
df.drop(columns=['Category','Descript','Time','Resolution','Address','X','Y','Location'], inplace=True)

In [54]:
df.head()

   IncidntNum DayOfWeek        Date PdDistrict new_cat
0        3979  Thursday  12/09/2004    BAYVIEW  public
1       10128    Sunday  12/18/2005  INGLESIDE  public
2       10736  Thursday  07/15/2004   SOUTHERN  public
3       38261  Thursday  04/17/2003   NORTHERN  public
4       52205  Thursday  02/06/2003   SOUTHERN  public

In [55]:
df.shape

(2057667, 5)

In [56]:
# remove non_criminal
df = df[df['new_cat']!='non_criminal']
df.shape

(1823419, 5)

## 2. Select data between 2012-2017

In [57]:
df['year'] = df['Date'].map(lambda x: pd.to_datetime(x).year)

C:\Users\Wei Tan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [58]:
set(df['year'])

{2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018}

In [59]:
df = df[(df['year']>=2012) & (df['year']<=2017)]

In [60]:
set(df['year'])

{2012, 2013, 2014, 2015, 2016, 2017}

## 3. Count number of unique crimes each day

In [61]:
dropdup = df.drop_duplicates(subset='IncidntNum', keep="last")
dropdup.head()

     IncidntNum DayOfWeek        Date  PdDistrict   new_cat  year
95      1300164  Thursday  02/13/2014    RICHMOND  domestic  2014
214    10073348  Thursday  11/14/2013  TENDERLOIN    others  2013
256    10358128  Thursday  11/14/2013  TENDERLOIN    others  2013
320    10733172  Thursday  03/01/2012     MISSION    public  2012
441    11351210   Tuesday  06/14/2016     BAYVIEW  domestic  2016

In [62]:
dropdup.shape

(611748, 6)

In [63]:
crime_df = dropdup.groupby(['Date', 'DayOfWeek'])['IncidntNum'].agg(['count']).reset_index()
np.sum(crime_df['count'].values)    # sanity check

611748

In [64]:
crime_df.rename(columns={"count": "num_unique_crimes"}, inplace=True)
crime_df.head()

         Date  DayOfWeek  num_unique_crimes
0  01/01/2012     Sunday                358
1  01/01/2013    Tuesday                385
2  01/01/2014  Wednesday                311
3  01/01/2015   Thursday                342
4  01/01/2016     Friday                366

## 4. Count number of each crime types

In [66]:
df.head()

     IncidntNum DayOfWeek        Date  PdDistrict   new_cat  year
95      1300164  Thursday  02/13/2014    RICHMOND  domestic  2014
214    10073348  Thursday  11/14/2013  TENDERLOIN    others  2013
256    10358128  Thursday  11/14/2013  TENDERLOIN    others  2013
320    10733172  Thursday  03/01/2012     MISSION    public  2012
441    11351210   Tuesday  06/14/2016     BAYVIEW  domestic  2016

In [74]:
dummy_df = pd.get_dummies(df, columns=['new_cat'])

In [75]:
dummy_df.head()

,IncidntNum,DayOfWeek,Date,PdDistrict,year,new_cat_domestic,new_cat_drug,new_cat_kidnap,new_cat_others,new_cat_public,new_cat_sex,new_cat_suicide,new_cat_theft
95,1300164,Thursday,02/13/2014,RICHMOND,2014,1,0,0,0,0,0,0,0
214,10073348,Thursday,11/14/2013,TENDERLOIN,2013,0,0,0,1,0,0,0,0
256,10358128,Thursday,11/14/2013,TENDERLOIN,2013,0,0,0,1,0,0,0,0
320,10733172,Thursday,03/01/2012,MISSION,2012,0,0,0,0,1,0,0,0
441,11351210,Tuesday,06/14/2016,BAYVIEW,2016,1,0,0,0,0,0,0,0

In [76]:
dummy_df.columns

Index(['IncidntNum', 'DayOfWeek', 'Date', 'PdDistrict', 'year',
       'new_cat_domestic', 'new_cat_drug', 'new_cat_kidnap', 'new_cat_others',
       'new_cat_public', 'new_cat_sex', 'new_cat_suicide', 'new_cat_theft'],
      dtype='object')

In [77]:
dummy_df = dummy_df.groupby(['Date', 'DayOfWeek', 'PdDistrict'])['new_cat_domestic', 'new_cat_drug', 'new_cat_kidnap', 'new_cat_others',
       'new_cat_public', 'new_cat_sex', 'new_cat_suicide', 'new_cat_theft'].agg(['sum']).reset_index()

In [80]:
dummy_df.head()

,Date,DayOfWeek,PdDistrict,new_cat_domestic,new_cat_drug,new_cat_kidnap,new_cat_others,new_cat_public,new_cat_sex,new_cat_suicide,new_cat_theft
,,,,sum,sum,sum,sum,sum,sum,sum,sum
0,01/01/2012,Sunday,BAYVIEW,1,1,0,20,17,1,0,9
1,01/01/2012,Sunday,CENTRAL,3,2,0,11,22,0,0,22
2,01/01/2012,Sunday,INGLESIDE,0,0,0,8,11,3,0,15
3,01/01/2012,Sunday,MISSION,2,0,0,7,16,0,0,18
4,01/01/2012,Sunday,NORTHERN,0,1,0,7,14,0,1,10

In [84]:
dummy_df.columns = dummy_df.columns.droplevel(1)

In [85]:
dummy_df.head()

,Date,DayOfWeek,PdDistrict,new_cat_domestic,new_cat_drug,new_cat_kidnap,new_cat_others,new_cat_public,new_cat_sex,new_cat_suicide,new_cat_theft
0,01/01/2012,Sunday,BAYVIEW,1,1,0,20,17,1,0,9
1,01/01/2012,Sunday,CENTRAL,3,2,0,11,22,0,0,22
2,01/01/2012,Sunday,INGLESIDE,0,0,0,8,11,3,0,15
3,01/01/2012,Sunday,MISSION,2,0,0,7,16,0,0,18
4,01/01/2012,Sunday,NORTHERN,0,1,0,7,14,0,1,10

In [87]:
dummy_df['sum_crime_district'] =  dummy_df[['new_cat_domestic', 'new_cat_drug',
                                           'new_cat_kidnap', 'new_cat_others', 'new_cat_public', 'new_cat_sex',
                                           'new_cat_suicide', 'new_cat_theft']].sum(axis=1)

In [93]:
print(dummy_df.shape)
dummy_df.head()

(21920, 12)

,Date,DayOfWeek,PdDistrict,new_cat_domestic,new_cat_drug,new_cat_kidnap,new_cat_others,new_cat_public,new_cat_sex,new_cat_suicide,new_cat_theft,sum_crime_district
0,01/01/2012,Sunday,BAYVIEW,1,1,0,20,17,1,0,9,49
1,01/01/2012,Sunday,CENTRAL,3,2,0,11,22,0,0,22,60
2,01/01/2012,Sunday,INGLESIDE,0,0,0,8,11,3,0,15,37
3,01/01/2012,Sunday,MISSION,2,0,0,7,16,0,0,18,43
4,01/01/2012,Sunday,NORTHERN,0,1,0,7,14,0,1,10,33

In [94]:
# dummy_df.to_csv("crime_types.csv", index=None)

## 5. Combine with sunset sunrise data
* get hours of daylight, sunset and sunrise

In [89]:
sunset_sunrise = pd.read_csv("data/sunrise_sunset.csv")
sunset_sunrise.head()

            date   sunrise_time     sunset_time
0  1/1/2012 0:00  1/1/2012 7:25  1/1/2012 17:01
1  1/2/2012 0:00  1/2/2012 7:25  1/2/2012 17:02
2  1/3/2012 0:00  1/3/2012 7:25  1/3/2012 17:03
3  1/4/2012 0:00  1/4/2012 7:25  1/4/2012 17:04
4  1/5/2012 0:00  1/5/2012 7:25  1/5/2012 17:05

In [100]:
sunset_sunrise['sunrise_time'] = sunset_sunrise['sunrise_time'].apply(lambda x : pd.to_datetime(str(x)))
sunset_sunrise['sunset_time'] = sunset_sunrise['sunset_time'].apply(lambda x : pd.to_datetime(str(x)))

In [118]:
# calculate daylight hours
sunset_sunrise["daylight_hours"] = sunset_sunrise['sunset_time'] - sunset_sunrise['sunrise_time']
sunset_sunrise["daylight_hours"] = sunset_sunrise["daylight_hours"].apply(lambda x: x.seconds/3600)

In [122]:
sunset_sunrise.head()

            date        sunrise_time         sunset_time  daylight_hours
0  1/1/2012 0:00 2012-01-01 07:25:00 2012-01-01 17:01:00        9.600000
1  1/2/2012 0:00 2012-01-02 07:25:00 2012-01-02 17:02:00        9.616667
2  1/3/2012 0:00 2012-01-03 07:25:00 2012-01-03 17:03:00        9.633333
3  1/4/2012 0:00 2012-01-04 07:25:00 2012-01-04 17:04:00        9.650000
4  1/5/2012 0:00 2012-01-05 07:25:00 2012-01-05 17:05:00        9.666667

In [127]:
def convert_time(input_timedate):
    hour = str(input_timedate.hour)
    minute = str(input_timedate.minute)
    if len(minute)==1:
        minute = "0" + str(minute)
    output_time = hour + minute
    return int(output_time)

In [130]:
# reformat sunrise and sunset times
sunset_sunrise['sunrise_time'] = sunset_sunrise['sunrise_time'].apply(lambda x : convert_time(x))
sunset_sunrise['sunset_time'] = sunset_sunrise['sunset_time'].apply(lambda x : convert_time(x))

In [131]:
sunset_sunrise.head()

            date  sunrise_time  sunset_time  daylight_hours
0  1/1/2012 0:00           725         1701        9.600000
1  1/2/2012 0:00           725         1702        9.616667
2  1/3/2012 0:00           725         1703        9.633333
3  1/4/2012 0:00           725         1704        9.650000
4  1/5/2012 0:00           725         1705        9.666667

In [140]:
sunset_sunrise['date'] = sunset_sunrise['date'].apply(lambda x : pd.to_datetime(str(x)))

In [24]:
def convert_date(input_timedate):
    year = str(input_timedate.year)
    month = str(input_timedate.month)
    day = str(input_timedate.day)
    
    if len(month)==1:
        month = "0" + month
    if len(day)==1:
        day = "0" + day
    
    output_date = month + "/" + day + "/" + year
    return output_date

In [145]:
sunset_sunrise['date'] = sunset_sunrise['date'].apply(lambda x : convert_date(x))

In [147]:
sunset_sunrise.rename(columns={"date": "Date"}, inplace=True)

In [148]:
sunset_sunrise.head()

         Date  sunrise_time  sunset_time  daylight_hours
0  01/01/2012           725         1701        9.600000
1  01/02/2012           725         1702        9.616667
2  01/03/2012           725         1703        9.633333
3  01/04/2012           725         1704        9.650000
4  01/05/2012           725         1705        9.666667

## 6. Join both sunrise sunset with crime

In [151]:
dummy_df.shape

(21920, 12)

In [153]:
crime_sun_df = pd.merge(dummy_df, sunset_sunrise, on="Date", how="left")

In [154]:
crime_sun_df.shape

(21920, 15)

In [155]:
crime_sun_df.to_csv("crime_sun_df.csv", index=None)

In [159]:
set(crime_sun_df["PdDistrict"])

{'BAYVIEW',
 'CENTRAL',
 'INGLESIDE',
 'MISSION',
 'NORTHERN',
 'PARK',
 'RICHMOND',
 'SOUTHERN',
 'TARAVAL',
 'TENDERLOIN'}

## 7. Process and merge housing

In [172]:
housing = pd.read_csv('data/HousingPriceFinal.csv')

In [173]:
housing.head()

,Inventory,Median Dom,Median Sale,New Listings,Period End,DoW,Neighborhood,PdDistrict
0,7.0,59.5,1500000,15.0,2/29/2012,Wed,Ashbury Heights / Parnassus,PARK
1,8.0,145.0,293000,7.0,2/29/2012,Wed,Bret Harte,BAYVIEW
2,4.0,69.0,685000,12.0,2/29/2012,Wed,Buena Vista,PARK
3,13.0,72.0,316000,19.0,2/29/2012,Wed,Cathedral Hill,NORTHERN
4,7.0,59.5,552000,10.0,2/29/2012,Wed,Cayuga,INGLESIDE

In [183]:
housing[housing["New Listings"].isnull()]
# means it median sale is not based on new listings?

      Median Dom  Median Sale  New Listings        Date PdDistrict
1045        39.0      1625000           NaN  01/31/2014    TARAVAL
1068        25.0      2338000           NaN  01/31/2014   RICHMOND
1079         2.0       629000           NaN  02/28/2014       PARK
1113        18.0      3250000           NaN  02/28/2014   RICHMOND
2661        48.5      2375000           NaN  01/31/2017    TARAVAL
2706        43.0      2300000           NaN  02/28/2017    TARAVAL
2713        44.0      2148000           NaN  02/28/2017   RICHMOND
3186        24.0       990000           NaN  12/31/2017    BAYVIEW
3208        18.0      1800000           NaN  01/31/2018   RICHMOND
3962        42.0       805000           NaN  01/31/2018    BAYVIEW
4758        13.0      1065000           NaN  12/31/2014  INGLESIDE
6072        33.5      1027000           NaN  01/31/2016    TARAVAL
6218        56.0      1568000           NaN  10/31/2017    TARAVAL
6249       109.5       846000           NaN  03/31/2018    TARAVAL
6282        13.5      2138000           NaN  08/31/2018    TARAVAL

In [175]:
Counter(housing["PdDistrict"])   # sanity check

Counter({'PARK': 932,
         'BAYVIEW': 850,
         'NORTHERN': 765,
         'INGLESIDE': 850,
         'MISSION': 425,
         'CENTRAL': 510,
         'TARAVAL': 1062,
         'RICHMOND': 508,
         'SOUTHERN': 340,
         'TENDERLOIN': 85})

In [176]:
housing.drop(columns=["Inventory", "DoW", "Neighborhood"], inplace=True)

In [177]:
housing.head()

   Median Dom  Median Sale  New Listings Period End PdDistrict
0        59.5      1500000          15.0  2/29/2012       PARK
1       145.0       293000           7.0  2/29/2012    BAYVIEW
2        69.0       685000          12.0  2/29/2012       PARK
3        72.0       316000          19.0  2/29/2012   NORTHERN
4        59.5       552000          10.0  2/29/2012  INGLESIDE

In [178]:
housing.rename(columns={"Period End": "Date"}, inplace=True)
housing['Date'] = housing['Date'].apply(lambda x : pd.to_datetime(str(x)))
housing['Date'] = housing['Date'].apply(lambda x : convert_date(x))

In [179]:
housing.head()

   Median Dom  Median Sale  New Listings        Date PdDistrict
0        59.5      1500000          15.0  02/29/2012       PARK
1       145.0       293000           7.0  02/29/2012    BAYVIEW
2        69.0       685000          12.0  02/29/2012       PARK
3        72.0       316000          19.0  02/29/2012   NORTHERN
4        59.5       552000          10.0  02/29/2012  INGLESIDE

In [196]:
# sanity check for cell below
housing[(housing["PdDistrict"]=="BAYVIEW") & (housing["Date"]=="01/31/2013")]["New Listings"].sum()

505.0

In [197]:
# Housing listings - Nan did not affect sum
housing_sumlistings = housing.groupby(['Date', 'PdDistrict'])['New Listings'].agg(['sum']).reset_index()
housing_sumlistings.rename(columns={"sum": "house_listings_sum"}, inplace=True)

In [214]:
housing_sumlistings.head()

         Date PdDistrict  house_listings_sum
0  01/31/2013    BAYVIEW               505.0
1  01/31/2013    CENTRAL               131.0
2  01/31/2013  INGLESIDE               130.0
3  01/31/2013    MISSION               137.0
4  01/31/2013   NORTHERN               147.0

In [199]:
housing_sumlistings.isnull().sum()

Date                  0
PdDistrict            0
house_listings_sum    0
dtype: int64

In [206]:
housing_sales = housing.groupby(['Date', 'PdDistrict'])[['Median Dom', 'Median Sale']].agg(['median', 'mean', 'min', 'max']).reset_index()

In [207]:
housing_sales.isnull().sum()

Date                   0
PdDistrict             0
Median Dom   median    0
             mean      0
             min       0
             max       0
Median Sale  median    0
             mean      0
             min       0
             max       0
dtype: int64

In [211]:
# housing_sales.head()

In [209]:
housing_sales.columns = ['Date', 'PdDistrict', 'Dom_median', 'Dom_mean', 'Dom_min', 'Dom_max',
                        'Sale_median', 'Sale_mean', 'Sale_min', 'Sale_max']

In [210]:
housing_sales.head()

,Date,PdDistrict,Dom_median,Dom_mean,Dom_min,Dom_max,Sale_median,Sale_mean,Sale_min,Sale_max
0,01/31/2013,BAYVIEW,21.25,24.600000,13.0,46.0,546000,6.141000e+05,368000,1275000
1,01/31/2013,CENTRAL,17.75,19.000000,11.0,32.0,894000,8.921667e+05,475000,1300000
2,01/31/2013,INGLESIDE,16.00,18.050000,12.5,30.5,583000,6.355000e+05,533000,887000
3,01/31/2013,MISSION,16.00,17.700000,12.0,28.5,1000000,1.036800e+06,804000,1365000
4,01/31/2013,NORTHERN,19.50,20.277778,12.0,33.0,1183000,1.099778e+06,543000,1435000

In [213]:
crime_sun_df.head()

,Date,DayOfWeek,PdDistrict,new_cat_domestic,new_cat_drug,new_cat_kidnap,new_cat_others,new_cat_public,new_cat_sex,new_cat_suicide,new_cat_theft,sum_crime_district,sunrise_time,sunset_time,daylight_hours
0,01/01/2012,Sunday,BAYVIEW,1,1,0,20,17,1,0,9,49,725,1701,9.6
1,01/01/2012,Sunday,CENTRAL,3,2,0,11,22,0,0,22,60,725,1701,9.6
2,01/01/2012,Sunday,INGLESIDE,0,0,0,8,11,3,0,15,37,725,1701,9.6
3,01/01/2012,Sunday,MISSION,2,0,0,7,16,0,0,18,43,725,1701,9.6
4,01/01/2012,Sunday,NORTHERN,0,1,0,7,14,0,1,10,33,725,1701,9.6

In [216]:
housing_sumlistings[(housing_sumlistings["Date"]=="01/01/2012") & (housing_sumlistings["PdDistrict"]=="BAYVIEW")]

Empty DataFrame
Columns: [Date, PdDistrict, house_listings_sum]
Index: []

In [217]:
crime_sun_house_df = pd.merge(crime_sun_df, housing_sumlistings, on=["Date", "PdDistrict"], how="left")
crime_sun_house_df = pd.merge(crime_sun_house_df, housing_sales, on=["Date", "PdDistrict"], how="left")

In [219]:
crime_sun_house_df.head()

,Date,DayOfWeek,PdDistrict,new_cat_domestic,new_cat_drug,new_cat_kidnap,new_cat_others,new_cat_public,new_cat_sex,new_cat_suicide,...,daylight_hours,house_listings_sum,Dom_median,Dom_mean,Dom_min,Dom_max,Sale_median,Sale_mean,Sale_min,Sale_max
0,01/01/2012,Sunday,BAYVIEW,1,1,0,20,17,1,0,...,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/01/2012,Sunday,CENTRAL,3,2,0,11,22,0,0,...,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/01/2012,Sunday,INGLESIDE,0,0,0,8,11,3,0,...,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01/01/2012,Sunday,MISSION,2,0,0,7,16,0,0,...,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/01/2012,Sunday,NORTHERN,0,1,0,7,14,0,1,...,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [220]:
crime_sun_house_df.isnull().sum()

Date                      0
DayOfWeek                 0
PdDistrict                0
new_cat_domestic          0
new_cat_drug              0
new_cat_kidnap            0
new_cat_others            0
new_cat_public            0
new_cat_sex               0
new_cat_suicide           0
new_cat_theft             0
sum_crime_district        0
sunrise_time              0
sunset_time               0
daylight_hours            0
house_listings_sum    21210
Dom_median            21210
Dom_mean              21210
Dom_min               21210
Dom_max               21210
Sale_median           21210
Sale_mean             21210
Sale_min              21210
Sale_max              21210
dtype: int64

In [221]:
crime_sun_house_df.to_csv("crime_sun_house.csv", index=None)

## 8. Process and merge eviction data

In [17]:
eviction = pd.read_csv('data/eviction_minus.csv')
df = pd.read_csv('data/crime_sun_house.csv')

In [18]:
eviction.head()

,Eviction.ID,Address,City,State,Eviction.Notice.Source.Zipcode,File.Date,Non.Payment,Breach,Nuisance,Illegal.Use,...,Other.Cause,Late.Payments,Lead.Remediation,Development,Good.Samaritan.Ends,Constraints.Date,Supervisor.District,Neighborhoods...Analysis.Boundaries,Location,PdDistrict
0,M190330,1800 Block Of Market Street,San Francisco,CA,94102.0,2/15/2019,False,False,True,False,...,False,False,False,False,False,NaN,8.0,Hayes Valley,"(37.7712923782185, -122.42433694872517)",SOUTHERN
1,M183362,1100 Block Of Mission Street,San Francisco,CA,94103.0,12/20/2018,False,False,True,False,...,False,False,False,False,False,NaN,6.0,South of Market,"(37.77779030910167, -122.41283433258292)",SOUTHERN
2,M183157,0 Block Of Brady Street,San Francisco,CA,94103.0,11/21/2018,False,True,False,False,...,False,False,False,False,False,NaN,6.0,Mission,"(37.772548429191886, -122.42008435391327)",SOUTHERN
3,M182998,0 Block Of Stillman Street,San Francisco,CA,94107.0,10/29/2018,False,False,True,False,...,False,False,False,False,False,NaN,6.0,Financial District/South Beach,"(37.78258788740649, -122.3952163164336)",SOUTHERN
4,M182997,0 Block Of Stillman Street,San Francisco,CA,94107.0,10/29/2018,False,True,False,False,...,False,False,False,False,False,NaN,6.0,Financial District/South Beach,"(37.78258788740649, -122.3952163164336)",SOUTHERN

In [28]:
eviction['File.Date'] = eviction['File.Date'].apply(lambda x : pd.to_datetime(str(x)))

In [25]:
eviction['File.Date'] = eviction['File.Date'].apply(lambda x : convert_date(x))

In [99]:
eviction.rename(columns={"File.Date": "Date"}, inplace=True)
eviction.head()

,Eviction.ID,Address,City,State,Eviction.Notice.Source.Zipcode,Date,Non.Payment,Breach,Nuisance,Illegal.Use,Failure.to.Sign.Renewal,Access.Denial,Unapproved.Subtenant,Owner.Move.In,Demolition,Capital.Improvement,Substantial.Rehab,Ellis.Act.WithDrawal,Condo.Conversion,Roommate.Same.Unit,Other.Cause,Late.Payments,Lead.Remediation,Development,Good.Samaritan.Ends,Constraints.Date,Supervisor.District,Neighborhoods...Analysis.Boundaries,Location,PdDistrict,month,year
0,M190330,1800 Block Of Market Street,San Francisco,CA,94102.0,02/15/2019,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,8.0,Hayes Valley,"(37.7712923782185, -122.42433694872517)",SOUTHERN,2,2019
1,M183362,1100 Block Of Mission Street,San Francisco,CA,94103.0,12/20/2018,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,6.0,South of Market,"(37.77779030910167, -122.41283433258292)",SOUTHERN,12,2018
2,M183157,0 Block Of Brady Street,San Francisco,CA,94103.0,11/21/2018,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,6.0,Mission,"(37.772548429191886, -122.42008435391327)",SOUTHERN,11,2018
3,M182998,0 Block Of Stillman Street,San Francisco,CA,94107.0,10/29/2018,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,6.0,Financial District/South Beach,"(37.78258788740649, -122.3952163164336)",SOUTHERN,10,2018
4,M182997,0 Block Of Stillman Street,San Francisco,CA,94107.0,10/29/2018,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,6.0,Financial District/South Beach,"(37.78258788740649, -122.3952163164336)",SOUTHERN,10,2018

In [100]:
eviction.shape

(40091, 32)

In [93]:
eviction['PdDistrict'].unique()

array(['SOUTHERN', 'BAYVIEW', 'MISSION', 'NORTHERN', 'TENDERLOIN',
       'CENTRAL', 'PARK', 'RICHMOND', 'INGLESIDE', 'TARAVAL', nan],
      dtype=object)

In [103]:
eviction_dailysum = eviction.groupby(['Date', 'PdDistrict'])['Eviction.ID'].count().reset_index()
eviction_dailysum.rename(columns={"Eviction.ID": "EvictionNos"}, inplace=True)

In [104]:
eviction_dailysum.head()

         Date PdDistrict  EvictionNos
0  01/01/2011       PARK            1
1  01/02/1997    CENTRAL            1
2  01/02/1997  INGLESIDE            2
3  01/02/1997    MISSION            2
4  01/02/1997   NORTHERN            1

In [106]:
eviction_dailysum['PdDistrict'].unique()

array(['PARK', 'CENTRAL', 'INGLESIDE', 'MISSION', 'NORTHERN', 'RICHMOND',
       'SOUTHERN', 'TARAVAL', 'BAYVIEW', 'TENDERLOIN'], dtype=object)

In [107]:
eviction_dailysum['EvictionNos'].unique()

array([  1,   2,   3,   4,   7,   5,  11,   6,   9,   8,  16,  27,  12,
        10, 230,  23,  14,  15,  13,  48,  38,  24,  21,  25,  34,  18,
       235,  36,  31,  28,  44, 111,  39,  19,  20])

In [116]:
Counter(eviction_dailysum['EvictionNos'])

Counter({1: 13208,
         2: 4918,
         3: 1995,
         4: 830,
         7: 129,
         5: 335,
         11: 13,
         6: 204,
         9: 37,
         8: 65,
         16: 2,
         27: 3,
         12: 10,
         10: 26,
         230: 1,
         23: 3,
         14: 5,
         15: 9,
         13: 9,
         48: 1,
         38: 1,
         24: 2,
         21: 3,
         25: 1,
         34: 3,
         18: 2,
         235: 1,
         36: 1,
         31: 2,
         28: 1,
         44: 1,
         111: 1,
         39: 1,
         19: 2,
         20: 1})

In [52]:
# if we want to count by month
#eviction['month'] = eviction['Date'].map(lambda x: pd.to_datetime(x).month)
#eviction['year'] = eviction['Date'].map(lambda x: pd.to_datetime(x).year)

In [60]:
# eviction_monthsum = eviction.groupby(['year', 'month', 'PdDistrict'])['Eviction.ID'].count().reset_index()
# eviction_monthsum.rename(columns={"Eviction.ID": "EvictionNos"}, inplace=True)

In [108]:
#eviction_monthsum['EvictionNos'].nunique()
#Counter(eviction_monthsum['EvictionNos'])

Merge eviction dataset with existing combined dataset (crime, house, sunset/sunrise times)

In [109]:
df.head()

,Date,DayOfWeek,PdDistrict,new_cat_domestic,new_cat_drug,new_cat_kidnap,new_cat_others,new_cat_public,new_cat_sex,new_cat_suicide,new_cat_theft,sum_crime_district,sunrise_time,sunset_time,daylight_hours,house_listings_sum,Dom_median,Dom_mean,Dom_min,Dom_max,Sale_median,Sale_mean,Sale_min,Sale_max
0,01/01/2012,Sunday,BAYVIEW,1,1,0,20,17,1,0,9,49,725,1701,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/01/2012,Sunday,CENTRAL,3,2,0,11,22,0,0,22,60,725,1701,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/01/2012,Sunday,INGLESIDE,0,0,0,8,11,3,0,15,37,725,1701,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01/01/2012,Sunday,MISSION,2,0,0,7,16,0,0,18,43,725,1701,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/01/2012,Sunday,NORTHERN,0,1,0,7,14,0,1,10,33,725,1701,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
crime_sun_house_eviction=pd.merge(df,eviction_dailysum,on=["Date", "PdDistrict"],how="left")

In [111]:
crime_sun_house_eviction

             Date  DayOfWeek  PdDistrict  new_cat_domestic  new_cat_drug  \
0      01/01/2012     Sunday     BAYVIEW                 1             1
1      01/01/2012     Sunday     CENTRAL                 3             2
2      01/01/2012     Sunday   INGLESIDE                 0             0
3      01/01/2012     Sunday     MISSION                 2             0
4      01/01/2012     Sunday    NORTHERN                 0             1
5      01/01/2012     Sunday        PARK                 0             0
6      01/01/2012     Sunday    RICHMOND                 4             0
7      01/01/2012     Sunday    SOUTHERN                 6             4
8      01/01/2012     Sunday     TARAVAL                 1             0
9      01/01/2012     Sunday  TENDERLOIN                 1             3
10     01/01/2013    Tuesday     BAYVIEW                 3             1
11     01/01/2013    Tuesday     CENTRAL                 1             0
12     01/01/2013    Tuesday   INGLESIDE                 3             1
13     01/01/2013    Tuesday     MISSION                 2             2
14     01/01/2013    Tuesday    NORTHERN                 2             1
15     01/01/2013    Tuesday        PARK                 0             2
16     01/01/2013    Tuesday    RICHMOND                 0             0
17     01/01/2013    Tuesday    SOUTHERN                 9             2
18     01/01/2013    Tuesday     TARAVAL                 0             0
19     01/01/2013    Tuesday  TENDERLOIN                 1             2
20     01/01/2014  Wednesday     BAYVIEW                 2             1
21     01/01/2014  Wednesday     CENTRAL                 1             0
22     01/01/2014  Wednesday   INGLESIDE                 1             2
23     01/01/2014  Wednesday     MISSION                 2             3
24     01/01/2014  Wednesday    NORTHERN                 1             0
25     01/01/2014  Wednesday        PARK                 1             0
26     01/01/2014  Wednesday    RICHMOND                 2             0
27     01/01/2014  Wednesday    SOUTHERN                 1             0
28     01/01/2014  Wednesday     TARAVAL                 1             1
29     01/01/2014  Wednesday  TENDERLOIN                 0             6
30     01/01/2015   Thursday     BAYVIEW                 0             0
31     01/01/2015   Thursday     CENTRAL                 2             2
32     01/01/2015   Thursday   INGLESIDE                 0             0
33     01/01/2015   Thursday     MISSION                 0             2
34     01/01/2015   Thursday    NORTHERN                 0             1
35     01/01/2015   Thursday        PARK                 2             0
36     01/01/2015   Thursday    RICHMOND                 0             0
37     01/01/2015   Thursday    SOUTHERN                 4             2
38     01/01/2015   Thursday     TARAVAL                 1             0
39     01/01/2015   Thursday  TENDERLOIN                 0             1
40     01/01/2016     Friday     BAYVIEW                 1             1
41     01/01/2016     Friday     CENTRAL                 0             0
42     01/01/2016     Friday   INGLESIDE                 0             0
43     01/01/2016     Friday     MISSION                 2             2
44     01/01/2016     Friday    NORTHERN                 1             2
45     01/01/2016     Friday        PARK                 4             1
46     01/01/2016     Friday    RICHMOND                 0             0
47     01/01/2016     Friday    SOUTHERN                 1             3
48     01/01/2016     Friday     TARAVAL                 0             0
49     01/01/2016     Friday  TENDERLOIN                 1             2
50     01/01/2017     Sunday     BAYVIEW                 1             0
51     01/01/2017     Sunday     CENTRAL                 1             0
52     01/01/2017     Sunday   INGLESIDE                 0             0
53     01/01/2017     Sunday     MISSION                 3             0
54     01/01/2017     Sunday    NORTHERN                 2             0
55     01/01/2017     Sunday        PARK                 2             0
56     01/01/2017     Sunday    RICHMOND                 2             0
57     01/01/2017     Sunday    SOUTHERN                 0             1
58     01/01/2017     Sunday     TARAVAL                 2             0
59     01/01/2017     Sunday  TENDERLOIN                 0             0
60     01/02/2012     Monday     BAYVIEW                 0             0
61     01/02/2012     Monday     CENTRAL                 0             0
62     01/02/2012     Monday   INGLESIDE                 0             1
63     01/02/2012     Monday     MISSION                 1             2
64     01/02/2012     Monday    NORTHERN                 2             0
65     01/02/2012     Monday        PARK                 0             0
66     01/02/2012     Monday    RICHMOND                 0             0
67     01/02/2012     Monday    SOUTHERN                 1             2
68     01/02/2012     Monday     TARAVAL                 0             0
69     01/02/2012     Monday  TENDERLOIN                 1             1
70     01/02/2013  Wednesday     BAYVIEW                 4             3
71     01/02/2013  Wednesday     CENTRAL                 1             0
72     01/02/2013  Wednesday   INGLESIDE                 2             0
73     01/02/2013  Wednesday     MISSION                 1             2
74     01/02/2013  Wednesday    NORTHERN                 1             2
75     01/02/2013  Wednesday        PARK                 1             1
76     01/02/2013  Wednesday    RICHMOND                 0             0
77     01/02/2013  Wednesday    SOUTHERN                 1             4
78     01/02/2013  Wednesday     TARAVAL                 0             3
79     01/02/2013  Wednesday  TENDERLOIN                 0             3
80     01/02/2014   Thursday     BAYVIEW                 3             1
81     01/02/2014   Thursday     CENTRAL                 0             1
82     01/02/2014   Thursday   INGLESIDE                 3             2
83     01/02/2014   Thursday     MISSION                 0             5
84     01/02/2014   Thursday    NORTHERN                 1             0
85     01/02/2014   Thursday        PARK                 1             1
86     01/02/2014   Thursday    RICHMOND                 1             0
87     01/02/2014   Thursday    SOUTHERN                 2             3
88     01/02/2014   Thursday     TARAVAL                 0             0
89     01/02/2014   Thursday  TENDERLOIN                 0             1
90     01/02/2015     Friday     BAYVIEW                 1             2
91     01/02/2015     Friday     CENTRAL                 0             0
92     01/02/2015     Friday   INGLESIDE                 0             1
93     01/02/2015     Friday     MISSION                 0             3
94     01/02/2015     Friday    NORTHERN                 0             1
95     01/02/2015     Friday        PARK                 3             1
96     01/02/2015     Friday    RICHMOND                 1             0
97     01/02/2015     Friday    SOUTHERN                 3             3
98     01/02/2015     Friday     TARAVAL                 0             0
99     01/02/2015     Friday  TENDERLOIN                 1             3
100    01/02/2016   Saturday     BAYVIEW                 0             1
101    01/02/2016   Saturday     CENTRAL                 0             0
102    01/02/2016   Saturday   INGLESIDE                 3             0
103    01/02/2016   Saturday     MISSION                 3             1
104    01/02/2016   Saturday    NORTHERN                 0             2
105    01/02/2016   Saturday        PARK                 0             0
106    01/02/2016   Saturday    RICHMOND                 0             0
107    01/02/2016   Saturday    SOUTHERN                 1             4
108    01/02/2016   Saturday     TARAVAL                 0             0
109    01/02/2016   Saturday  TENDERLOIN                 1             1
110    01/02/2017     Monday     BAYVIEW                 0             2
111    01/02/2017     Monday     CENTRAL                 0             1
112    01/02/2017     Monday   INGLESIDE                 0             0
113    01/02/2017     Monday     MISSION                 1             1
114    01/02/2017     Monday    NORTHERN                 1             1
115    01/02/2017     Monday        PARK                 1             0
116    01/02/2017     Monday    RICHMOND                 0             0
117    01/02/2017     Monday    SOUTHERN                 2             2
118    01/02/2017     Monday     TARAVAL                 0             1
119    01/02/2017     Monday  TENDERLOIN                 0             1
120    01/03/2012    Tuesday     BAYVIEW                 2             1
121    01/03/2012    Tuesday     CENTRAL                 0             0
122    01/03/2012    Tuesday   INGLESIDE                 1             1
123    01/03/2012    Tuesday     MISSION                 3             2
124    01/03/2012    Tuesday    NORTHERN                 0             0
125    01/03/2012    Tuesday        PARK                 2             1
126    01/03/2012    Tuesday    RICHMOND                 0             0
127    01/03/2012    Tuesday    SOUTHERN                 1             1
128    01/03/2012    Tuesday     TARAVAL                 0             1
129    01/03/2012    Tuesday  TENDERLOIN                 0            12
130    01/03/2013   Thursday     BAYVIEW                 0             1
131    01/03/2013   Thursday     CENTRAL                 0             0
132    01/03/2013   Thursday   INGLESIDE                 0             0
133    01/03/2013   Thursday     MISSION                 0             1
134    01/03/2013   Thursday    NORTHERN                 0             2
135    01/03/2013   Thursday        PARK                 1             0
136    01/03/2013   Thursday    RICHMOND                 0             2
137    01/03/2013   Thursday    SOUTHERN                 0             4
138    01/03/2013   Thursday     TARAVAL                 2             1
139    01/03/2013   Thursday  TENDERLOIN                 1             3
140    01/03/2014     Friday     BAYVIEW                 0             0
141    01/03/2014     Friday     CENTRAL                 1             1
142    01/03/2014     Friday   INGLESIDE                 2             1
143    01/03/2014     Friday     MISSION                 1             3
144    01/03/2014     Friday    NORTHERN                 1             2
145    01/03/2014     Friday        PARK                 4             1
146    01/03/2014     Friday    RICHMOND                 3             0
147    01/03/2014     Friday    SOUTHERN                 2             5
148    01/03/2014     Friday     TARAVAL                 2             0
149    01/03/2014     Friday  TENDERLOIN                 0             3
150    01/03/2015   Saturday     BAYVIEW                 0             2
151    01/03/2015   Saturday     CENTRAL                 1             0
152    01/03/2015   Saturday   INGLESIDE                 2             2
153    01/03/2015   Saturday     MISSION                 1             2
154    01/03/2015   Saturday    NORTHERN                 0             0
155    01/03/2015   Saturday        PARK                 1             2
156    01/03/2015   Saturday    RICHMOND                 2             0
157    01/03/2015   Saturday    SOUTHERN                 1             3
158    01/03/2015   Saturday     TARAVAL                 2             1
159    01/03/2015   Saturday  TENDERLOIN                 0             0
160    01/03/2016     Sunday     BAYVIEW                 0             0
161    01/03/2016     Sunday     CENTRAL                 1             0
162    01/03/2016     Sunday   INGLESIDE                 1             0
163    01/03/2016     Sunday     MISSION                 0             1
164    01/03/2016     Sunday    NORTHERN                 0             2
165    01/03/2016     Sunday        PARK                 0             0
166    01/03/2016     Sunday    RICHMOND                 0             0
167    01/03/2016     Sunday    SOUTHERN                 0             4
168    01/03/2016     Sunday     TARAVAL                 0             0
169    01/03/2016     Sunday  TENDERLOIN                 2             3
170    01/03/2017    Tuesday     BAYVIEW                 0             1
171    01/03/2017    Tuesday     CENTRAL                 0             1
172    01/03/2017    Tuesday   INGLESIDE                 1             2
173    01/03/2017    Tuesday     MISSION                 0             0
174    01/03/2017    Tuesday    NORTHERN                 0             4
175    01/03/2017    Tuesday        PARK                 7             0
176    01/03/2017    Tuesday    RICHMOND                 0             0
177    01/03/2017    Tuesday    SOUTHERN                 0             5
178    01/03/2017    Tuesday     TARAVAL                 0             0
179    01/03/2017    Tuesday  TENDERLOIN                 1             1
180    01/04/2012  Wednesday     BAYVIEW                 2             0
181    01/04/2012  Wednesday     CENTRAL                 1             0
182    01/04/2012  Wednesday   INGLESIDE                 0             1
183    01/04/2012  Wednesday     MISSION                 0             1
184    01/04/2012  Wednesday    NORTHERN                 1             3
185    01/04/2012  Wednesday        PARK                 2             0
186    01/04/2012  Wednesday    RICHMOND                 0             0
187    01/04/2012  Wednesday    SOUTHERN                 2             3
188    01/04/2012  Wednesday     TARAVAL                 0             1
189    01/04/2012  Wednesday  TENDERLOIN                 1            10
190    01/04/2013     Friday     BAYVIEW                 1             2
191    01/04/2013     Friday     CENTRAL                 1             0
192    01/04/2013     Friday   INGLESIDE                 1             0
193    01/04/2013     Friday     MISSION                 1             1
194    01/04/2013     Friday    NORTHERN                 0             0
195    01/04/2013     Friday        PARK                 1             0
196    01/04/2013     Friday    RICHMOND                 1             0
197    01/04/2013     Friday    SOUTHERN                 1             4
198    01/04/2013     Friday     TARAVAL                 0             2
199    01/04/2013     Friday  TENDERLOIN                 1             4
200    01/04/2014   Saturday     BAYVIEW                 2             1
201    01/04/2014   Saturday     CENTRAL                 0             1
202    01/04/2014   Saturday   INGLESIDE                 1             0
203    01/04/2014   Saturday     MISSION                 2             2
204    01/04/2014   Saturday    NORTHERN                 3             2
205    01/04/2014   Saturday        PARK                 2             1
206    01/04/2014   Saturday    RICHMOND                 3             1
207    01/04/2014   Saturday    SOUTHERN                 1             6
208    01/04/2014   Saturday     TARAVAL                 0             1
209    01/04/2014   Saturday  TENDERLOIN                 1             2
210    01/04/2015     Sunday     BAYVIEW                 0             2
211    01/04/2015     Sunday     CENTRAL                 0             1
212    01/04/2015     Sunday   INGLESIDE                 0             0
213    01/04/2015     Sunday     MISSION                 0             0
214    01/04/2015     Sunday    NORTHERN                 0             0
215    01/04/2015     Sunday        PARK                 1             0
216    01/04/2015     Sunday    RICHMOND                 0             0
217    01/04/2015     Sunday    SOUTHERN                 3             3
218    01/04/2015     Sunday     TARAVAL                 2             0
219    01/04/2015     Sunday  TENDERLOIN                 1             1
220    01/04/2016     Monday     BAYVIEW                 1             0
221    01/04/2016     Monday     CENTRAL                 2             0
222    01/04/2016     Monday   INGLESIDE                 1             1
223    01/04/2016     Monday     MISSION                 0             0
224    01/04/2016     Monday    NORTHERN                 0             1
225    01/04/2016     Monday        PARK                 2             0
226    01/04/2016     Monday    RICHMOND                 0             0
227    01/04/2016     Monday    SOUTHERN                 2             1
228    01/04/2016     Monday     TARAVAL                 1             0
229    01/04/2016     Monday  TENDERLOIN                 0             0
230    01/04/2017  Wednesday     BAYVIEW                 1             1
231    01/04/2017  Wednesday     CENTRAL                 1             0
232    01/04/2017  Wednesday   INGLESIDE                 0             1
233    01/04/2017  Wednesday     MISSION                 0             2
234    01/04/2017  Wednesday    NORTHERN                 0             1
235    01/04/2017  Wednesday        PARK                 1             1
236    01/04/2017  Wednesday    RICHMOND                 0             1
237    01/04/2017  Wednesday    SOUTHERN                 1             3
238    01/04/2017  Wednesday     TARAVAL                 0             0
239    01/04/2017  Wednesday  TENDERLOIN                 0             1
240    01/05/2012   Thursday     BAYVIEW                 3             4
241    01/05/2012   Thursday     CENTRAL                 1             0
242    01/05/2012   Thursday   INGLESIDE                 0             1
243    01/05/2012   Thursday     MISSION                 0             2
244    01/05/2012   Thursday    NORTHERN                 3             4
245    01/05/2012   Thursday        PARK                 1             0
246    01/05/2012   Thursday    RICHMOND                 0             0
247    01/05/2012   Thursday    SOUTHERN                 2             4
248    01/05/2012   Thursday     TARAVAL                 4             0
249    01/05/2012   Thursday  TENDERLOIN                 1             7
250    01/05/2013   Saturday     BAYVIEW                 0             0
251    01/05/2013   Saturday     CENTRAL                 1             2
252    01/05/2013   Saturday   INGLESIDE                 2             0
253    01/05/2013   Saturday     MISSION                 1             2
254    01/05/2013   Saturday    NORTHERN                 1             0
255    01/05/2013   Saturday        PARK                 1             0
256    01/05/2013   Saturday    RICHMOND                 1             0
257    01/05/2013   Saturday    SOUTHERN                 0             3
258    01/05/2013   Saturday     TARAVAL                 1             0
259    01/05/2013   Saturday  TENDERLOIN                 2             3
260    01/05/2014     Sunday     BAYVIEW                 1             2
261    01/05/2014     Sunday     CENTRAL                 1             1
262    01/05/2014     Sunday   INGLESIDE                 0             0
263    01/05/2014     Sunday     MISSION                 0             1
264    01/05/2014     Sunday    NORTHERN                 0             1
265    01/05/2014     Sunday        PARK                 0             2
266    01/05/2014     Sunday    RICHMOND                 1             0
267    01/05/2014     Sunday    SOUTHERN                 0             2
268    01/05/2014     Sunday     TARAVAL                 2             0
269    01/05/2014     Sunday  TENDERLOIN                 0             0
270    01/05/2015     Monday     BAYVIEW                 1             2
271    01/05/2015     Monday     CENTRAL                 0             0

In [113]:
crime_sun_house_eviction['EvictionNos']=crime_sun_house_eviction['EvictionNos'].fillna(0)

In [115]:
crime_sun_house_eviction

             Date  DayOfWeek  PdDistrict  new_cat_domestic  new_cat_drug  \
0      01/01/2012     Sunday     BAYVIEW                 1             1
1      01/01/2012     Sunday     CENTRAL                 3             2
2      01/01/2012     Sunday   INGLESIDE                 0             0
3      01/01/2012     Sunday     MISSION                 2             0
4      01/01/2012     Sunday    NORTHERN                 0             1
5      01/01/2012     Sunday        PARK                 0             0
6      01/01/2012     Sunday    RICHMOND                 4             0
7      01/01/2012     Sunday    SOUTHERN                 6             4
8      01/01/2012     Sunday     TARAVAL                 1             0
9      01/01/2012     Sunday  TENDERLOIN                 1             3
10     01/01/2013    Tuesday     BAYVIEW                 3             1
11     01/01/2013    Tuesday     CENTRAL                 1             0
12     01/01/2013    Tuesday   INGLESIDE                 3             1
13     01/01/2013    Tuesday     MISSION                 2             2
14     01/01/2013    Tuesday    NORTHERN                 2             1
15     01/01/2013    Tuesday        PARK                 0             2
16     01/01/2013    Tuesday    RICHMOND                 0             0
17     01/01/2013    Tuesday    SOUTHERN                 9             2
18     01/01/2013    Tuesday     TARAVAL                 0             0
19     01/01/2013    Tuesday  TENDERLOIN                 1             2
20     01/01/2014  Wednesday     BAYVIEW                 2             1
21     01/01/2014  Wednesday     CENTRAL                 1             0
22     01/01/2014  Wednesday   INGLESIDE                 1             2
23     01/01/2014  Wednesday     MISSION                 2             3
24     01/01/2014  Wednesday    NORTHERN                 1             0
25     01/01/2014  Wednesday        PARK                 1             0
26     01/01/2014  Wednesday    RICHMOND                 2             0
27     01/01/2014  Wednesday    SOUTHERN                 1             0
28     01/01/2014  Wednesday     TARAVAL                 1             1
29     01/01/2014  Wednesday  TENDERLOIN                 0             6
30     01/01/2015   Thursday     BAYVIEW                 0             0
31     01/01/2015   Thursday     CENTRAL                 2             2
32     01/01/2015   Thursday   INGLESIDE                 0             0
33     01/01/2015   Thursday     MISSION                 0             2
34     01/01/2015   Thursday    NORTHERN                 0             1
35     01/01/2015   Thursday        PARK                 2             0
36     01/01/2015   Thursday    RICHMOND                 0             0
37     01/01/2015   Thursday    SOUTHERN                 4             2
38     01/01/2015   Thursday     TARAVAL                 1             0
39     01/01/2015   Thursday  TENDERLOIN                 0             1
40     01/01/2016     Friday     BAYVIEW                 1             1
41     01/01/2016     Friday     CENTRAL                 0             0
42     01/01/2016     Friday   INGLESIDE                 0             0
43     01/01/2016     Friday     MISSION                 2             2
44     01/01/2016     Friday    NORTHERN                 1             2
45     01/01/2016     Friday        PARK                 4             1
46     01/01/2016     Friday    RICHMOND                 0             0
47     01/01/2016     Friday    SOUTHERN                 1             3
48     01/01/2016     Friday     TARAVAL                 0             0
49     01/01/2016     Friday  TENDERLOIN                 1             2
50     01/01/2017     Sunday     BAYVIEW                 1             0
51     01/01/2017     Sunday     CENTRAL                 1             0
52     01/01/2017     Sunday   INGLESIDE                 0             0
53     01/01/2017     Sunday     MISSION                 3             0
54     01/01/2017     Sunday    NORTHERN                 2             0
55     01/01/2017     Sunday        PARK                 2             0
56     01/01/2017     Sunday    RICHMOND                 2             0
57     01/01/2017     Sunday    SOUTHERN                 0             1
58     01/01/2017     Sunday     TARAVAL                 2             0
59     01/01/2017     Sunday  TENDERLOIN                 0             0
60     01/02/2012     Monday     BAYVIEW                 0             0
61     01/02/2012     Monday     CENTRAL                 0             0
62     01/02/2012     Monday   INGLESIDE                 0             1
63     01/02/2012     Monday     MISSION                 1             2
64     01/02/2012     Monday    NORTHERN                 2             0
65     01/02/2012     Monday        PARK                 0             0
66     01/02/2012     Monday    RICHMOND                 0             0
67     01/02/2012     Monday    SOUTHERN                 1             2
68     01/02/2012     Monday     TARAVAL                 0             0
69     01/02/2012     Monday  TENDERLOIN                 1             1
70     01/02/2013  Wednesday     BAYVIEW                 4             3
71     01/02/2013  Wednesday     CENTRAL                 1             0
72     01/02/2013  Wednesday   INGLESIDE                 2             0
73     01/02/2013  Wednesday     MISSION                 1             2
74     01/02/2013  Wednesday    NORTHERN                 1             2
75     01/02/2013  Wednesday        PARK                 1             1
76     01/02/2013  Wednesday    RICHMOND                 0             0
77     01/02/2013  Wednesday    SOUTHERN                 1             4
78     01/02/2013  Wednesday     TARAVAL                 0             3
79     01/02/2013  Wednesday  TENDERLOIN                 0             3
80     01/02/2014   Thursday     BAYVIEW                 3             1
81     01/02/2014   Thursday     CENTRAL                 0             1
82     01/02/2014   Thursday   INGLESIDE                 3             2
83     01/02/2014   Thursday     MISSION                 0             5
84     01/02/2014   Thursday    NORTHERN                 1             0
85     01/02/2014   Thursday        PARK                 1             1
86     01/02/2014   Thursday    RICHMOND                 1             0
87     01/02/2014   Thursday    SOUTHERN                 2             3
88     01/02/2014   Thursday     TARAVAL                 0             0
89     01/02/2014   Thursday  TENDERLOIN                 0             1
90     01/02/2015     Friday     BAYVIEW                 1             2
91     01/02/2015     Friday     CENTRAL                 0             0
92     01/02/2015     Friday   INGLESIDE                 0             1
93     01/02/2015     Friday     MISSION                 0             3
94     01/02/2015     Friday    NORTHERN                 0             1
95     01/02/2015     Friday        PARK                 3             1
96     01/02/2015     Friday    RICHMOND                 1             0
97     01/02/2015     Friday    SOUTHERN                 3             3
98     01/02/2015     Friday     TARAVAL                 0             0
99     01/02/2015     Friday  TENDERLOIN                 1             3
100    01/02/2016   Saturday     BAYVIEW                 0             1
101    01/02/2016   Saturday     CENTRAL                 0             0
102    01/02/2016   Saturday   INGLESIDE                 3             0
103    01/02/2016   Saturday     MISSION                 3             1
104    01/02/2016   Saturday    NORTHERN                 0             2
105    01/02/2016   Saturday        PARK                 0             0
106    01/02/2016   Saturday    RICHMOND                 0             0
107    01/02/2016   Saturday    SOUTHERN                 1             4
108    01/02/2016   Saturday     TARAVAL                 0             0
109    01/02/2016   Saturday  TENDERLOIN                 1             1
110    01/02/2017     Monday     BAYVIEW                 0             2
111    01/02/2017     Monday     CENTRAL                 0             1
112    01/02/2017     Monday   INGLESIDE                 0             0
113    01/02/2017     Monday     MISSION                 1             1
114    01/02/2017     Monday    NORTHERN                 1             1
115    01/02/2017     Monday        PARK                 1             0
116    01/02/2017     Monday    RICHMOND                 0             0
117    01/02/2017     Monday    SOUTHERN                 2             2
118    01/02/2017     Monday     TARAVAL                 0             1
119    01/02/2017     Monday  TENDERLOIN                 0             1
120    01/03/2012    Tuesday     BAYVIEW                 2             1
121    01/03/2012    Tuesday     CENTRAL                 0             0
122    01/03/2012    Tuesday   INGLESIDE                 1             1
123    01/03/2012    Tuesday     MISSION                 3             2
124    01/03/2012    Tuesday    NORTHERN                 0             0
125    01/03/2012    Tuesday        PARK                 2             1
126    01/03/2012    Tuesday    RICHMOND                 0             0
127    01/03/2012    Tuesday    SOUTHERN                 1             1
128    01/03/2012    Tuesday     TARAVAL                 0             1
129    01/03/2012    Tuesday  TENDERLOIN                 0            12
130    01/03/2013   Thursday     BAYVIEW                 0             1
131    01/03/2013   Thursday     CENTRAL                 0             0
132    01/03/2013   Thursday   INGLESIDE                 0             0
133    01/03/2013   Thursday     MISSION                 0             1
134    01/03/2013   Thursday    NORTHERN                 0             2
135    01/03/2013   Thursday        PARK                 1             0
136    01/03/2013   Thursday    RICHMOND                 0             2
137    01/03/2013   Thursday    SOUTHERN                 0             4
138    01/03/2013   Thursday     TARAVAL                 2             1
139    01/03/2013   Thursday  TENDERLOIN                 1             3
140    01/03/2014     Friday     BAYVIEW                 0             0
141    01/03/2014     Friday     CENTRAL                 1             1
142    01/03/2014     Friday   INGLESIDE                 2             1
143    01/03/2014     Friday     MISSION                 1             3
144    01/03/2014     Friday    NORTHERN                 1             2
145    01/03/2014     Friday        PARK                 4             1
146    01/03/2014     Friday    RICHMOND                 3             0
147    01/03/2014     Friday    SOUTHERN                 2             5
148    01/03/2014     Friday     TARAVAL                 2             0
149    01/03/2014     Friday  TENDERLOIN                 0             3
150    01/03/2015   Saturday     BAYVIEW                 0             2
151    01/03/2015   Saturday     CENTRAL                 1             0
152    01/03/2015   Saturday   INGLESIDE                 2             2
153    01/03/2015   Saturday     MISSION                 1             2
154    01/03/2015   Saturday    NORTHERN                 0             0
155    01/03/2015   Saturday        PARK                 1             2
156    01/03/2015   Saturday    RICHMOND                 2             0
157    01/03/2015   Saturday    SOUTHERN                 1             3
158    01/03/2015   Saturday     TARAVAL                 2             1
159    01/03/2015   Saturday  TENDERLOIN                 0             0
160    01/03/2016     Sunday     BAYVIEW                 0             0
161    01/03/2016     Sunday     CENTRAL                 1             0
162    01/03/2016     Sunday   INGLESIDE                 1             0
163    01/03/2016     Sunday     MISSION                 0             1
164    01/03/2016     Sunday    NORTHERN                 0             2
165    01/03/2016     Sunday        PARK                 0             0
166    01/03/2016     Sunday    RICHMOND                 0             0
167    01/03/2016     Sunday    SOUTHERN                 0             4
168    01/03/2016     Sunday     TARAVAL                 0             0
169    01/03/2016     Sunday  TENDERLOIN                 2             3
170    01/03/2017    Tuesday     BAYVIEW                 0             1
171    01/03/2017    Tuesday     CENTRAL                 0             1
172    01/03/2017    Tuesday   INGLESIDE                 1             2
173    01/03/2017    Tuesday     MISSION                 0             0
174    01/03/2017    Tuesday    NORTHERN                 0             4
175    01/03/2017    Tuesday        PARK                 7             0
176    01/03/2017    Tuesday    RICHMOND                 0             0
177    01/03/2017    Tuesday    SOUTHERN                 0             5
178    01/03/2017    Tuesday     TARAVAL                 0             0
179    01/03/2017    Tuesday  TENDERLOIN                 1             1
180    01/04/2012  Wednesday     BAYVIEW                 2             0
181    01/04/2012  Wednesday     CENTRAL                 1             0
182    01/04/2012  Wednesday   INGLESIDE                 0             1
183    01/04/2012  Wednesday     MISSION                 0             1
184    01/04/2012  Wednesday    NORTHERN                 1             3
185    01/04/2012  Wednesday        PARK                 2             0
186    01/04/2012  Wednesday    RICHMOND                 0             0
187    01/04/2012  Wednesday    SOUTHERN                 2             3
188    01/04/2012  Wednesday     TARAVAL                 0             1
189    01/04/2012  Wednesday  TENDERLOIN                 1            10
190    01/04/2013     Friday     BAYVIEW                 1             2
191    01/04/2013     Friday     CENTRAL                 1             0
192    01/04/2013     Friday   INGLESIDE                 1             0
193    01/04/2013     Friday     MISSION                 1             1
194    01/04/2013     Friday    NORTHERN                 0             0
195    01/04/2013     Friday        PARK                 1             0
196    01/04/2013     Friday    RICHMOND                 1             0
197    01/04/2013     Friday    SOUTHERN                 1             4
198    01/04/2013     Friday     TARAVAL                 0             2
199    01/04/2013     Friday  TENDERLOIN                 1             4
200    01/04/2014   Saturday     BAYVIEW                 2             1
201    01/04/2014   Saturday     CENTRAL                 0             1
202    01/04/2014   Saturday   INGLESIDE                 1             0
203    01/04/2014   Saturday     MISSION                 2             2
204    01/04/2014   Saturday    NORTHERN                 3             2
205    01/04/2014   Saturday        PARK                 2             1
206    01/04/2014   Saturday    RICHMOND                 3             1
207    01/04/2014   Saturday    SOUTHERN                 1             6
208    01/04/2014   Saturday     TARAVAL                 0             1
209    01/04/2014   Saturday  TENDERLOIN                 1             2
210    01/04/2015     Sunday     BAYVIEW                 0             2
211    01/04/2015     Sunday     CENTRAL                 0             1
212    01/04/2015     Sunday   INGLESIDE                 0             0
213    01/04/2015     Sunday     MISSION                 0             0
214    01/04/2015     Sunday    NORTHERN                 0             0
215    01/04/2015     Sunday        PARK                 1             0
216    01/04/2015     Sunday    RICHMOND                 0             0
217    01/04/2015     Sunday    SOUTHERN                 3             3
218    01/04/2015     Sunday     TARAVAL                 2             0
219    01/04/2015     Sunday  TENDERLOIN                 1             1
220    01/04/2016     Monday     BAYVIEW                 1             0
221    01/04/2016     Monday     CENTRAL                 2             0
222    01/04/2016     Monday   INGLESIDE                 1             1
223    01/04/2016     Monday     MISSION                 0             0
224    01/04/2016     Monday    NORTHERN                 0             1
225    01/04/2016     Monday        PARK                 2             0
226    01/04/2016     Monday    RICHMOND                 0             0
227    01/04/2016     Monday    SOUTHERN                 2             1
228    01/04/2016     Monday     TARAVAL                 1             0
229    01/04/2016     Monday  TENDERLOIN                 0             0
230    01/04/2017  Wednesday     BAYVIEW                 1             1
231    01/04/2017  Wednesday     CENTRAL                 1             0
232    01/04/2017  Wednesday   INGLESIDE                 0             1
233    01/04/2017  Wednesday     MISSION                 0             2
234    01/04/2017  Wednesday    NORTHERN                 0             1
235    01/04/2017  Wednesday        PARK                 1             1
236    01/04/2017  Wednesday    RICHMOND                 0             1
237    01/04/2017  Wednesday    SOUTHERN                 1             3
238    01/04/2017  Wednesday     TARAVAL                 0             0
239    01/04/2017  Wednesday  TENDERLOIN                 0             1
240    01/05/2012   Thursday     BAYVIEW                 3             4
241    01/05/2012   Thursday     CENTRAL                 1             0
242    01/05/2012   Thursday   INGLESIDE                 0             1
243    01/05/2012   Thursday     MISSION                 0             2
244    01/05/2012   Thursday    NORTHERN                 3             4
245    01/05/2012   Thursday        PARK                 1             0
246    01/05/2012   Thursday    RICHMOND                 0             0
247    01/05/2012   Thursday    SOUTHERN                 2             4
248    01/05/2012   Thursday     TARAVAL                 4             0
249    01/05/2012   Thursday  TENDERLOIN                 1             7
250    01/05/2013   Saturday     BAYVIEW                 0             0
251    01/05/2013   Saturday     CENTRAL                 1             2
252    01/05/2013   Saturday   INGLESIDE                 2             0
253    01/05/2013   Saturday     MISSION                 1             2
254    01/05/2013   Saturday    NORTHERN                 1             0
255    01/05/2013   Saturday        PARK                 1             0
256    01/05/2013   Saturday    RICHMOND                 1             0
257    01/05/2013   Saturday    SOUTHERN                 0             3
258    01/05/2013   Saturday     TARAVAL                 1             0
259    01/05/2013   Saturday  TENDERLOIN                 2             3
260    01/05/2014     Sunday     BAYVIEW                 1             2
261    01/05/2014     Sunday     CENTRAL                 1             1
262    01/05/2014     Sunday   INGLESIDE                 0             0
263    01/05/2014     Sunday     MISSION                 0             1
264    01/05/2014     Sunday    NORTHERN                 0             1
265    01/05/2014     Sunday        PARK                 0             2
266    01/05/2014     Sunday    RICHMOND                 1             0
267    01/05/2014     Sunday    SOUTHERN                 0             2
268    01/05/2014     Sunday     TARAVAL                 2             0
269    01/05/2014     Sunday  TENDERLOIN                 0             0
270    01/05/2015     Monday     BAYVIEW                 1             2
271    01/05/2015     Monday     CENTRAL                 0             0

In [117]:
crime_sun_house_eviction.to_csv("crime_sun_house_eviction.csv", index=None)